<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- ========================= GENERAL DEFINITIONS ========================= -->
    
    <!-- Local DataSource that works in any environment 
    <bean id="legacyDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>org.firebirdsql.jdbc.FBDriver</value></property>
        <property name="username"><value>sysdba</value></property>
        <property name="password"><value>masterkey</value></property>
        <property name="url"><value>jdbc:firebirdsql:localhost:openuss</value></property>
    </bean>
    -->
    
    <!-- applicationContext merge-point -->
    <!-- Hibernate SessionFactory -->
    <bean id="legacySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
		    <!-- Local DataSource that works in any environment -->
		    <bean id="legacyDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		        <property name="driverClassName"><value>org.firebirdsql.jdbc.FBDriver</value></property>
		        <property name="username"><value>sysdba</value></property>
		        <property name="password"><value>masterkey</value></property>
		        <property name="url"><value>jdbc:firebirdsql:localhost:openuss</value></property>
		    </bean>
        </property>
        <property name="mappingResources">
            <list>
                <value>org/openuss/migration/legacy/domain/Administrator2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Assistant2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Assistantenrollment2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Assistantfaculty2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Assistantfilebase2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Assistantinformation2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Banner2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Consultancy2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Content2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Contentbase2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Discussionfilebase2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Discussionitem2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Discussionwatch2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Enrollment2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Enrollmentaccesslist2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Enrollmentinformation2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Faculty2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Facultyinformation2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Filebase2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Formula2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Iteminfo2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Lecture2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Lecturefile2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Lecturefilebase2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Mailinglist2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Mailinglistmessage2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/News2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Onlineuser2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Quiz2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Quizfile2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Rule2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Scoinfo2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Scormdata2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Semester2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Statistic2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Student2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Studentenrollment2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Studentfaculty2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Studentfilebase2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Studentinformation2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Studentsubject2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Subject2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Userscoinfo2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Userscoinfobase2.hbm.xml</value>
                <value>org/openuss/migration/legacy/domain/Winnerquiz2.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">false</prop>
                <prop key="hibernate.cache">ehcache-legacy.xml</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.cache.query_cache_factory">org.hibernate.cache.StandardQueryCacheFactory</prop>
                <prop key="hibernate.format_sql">true</prop>
        		<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
       			<prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>
    </bean>

    <!-- The Hibernate interceptor -->
    <bean id="legacyHibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor">
        <property name="sessionFactory"><ref bean="legacySessionFactory"/></property>
    </bean>

    <!-- NewsCategory Entity Proxy with inner NewsCategory Entity implementation -->
    <bean id="legacyDao" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <bean class="org.openuss.migration.legacy.dao.LegacyDaoImpl">
                <property name="sessionFactory"><ref local="legacySessionFactory"/></property>
            </bean>
        </property>
        <property name="proxyInterfaces">
            <value>org.openuss.migration.legacy.dao.LegacyDao</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>legacyHibernateInterceptor</value>
            </list>
        </property>
    </bean>
</beans>
