<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="lectureWS" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list><value>org.openuss.services.LectureWebService</value></list>
		</property>
		<property name="target">
			<bean class="org.openuss.services.LectureWebServiceImpl">
				<property name="securityService"> <ref bean="securityService"/></property>
				<property name="courseService" > <ref bean="courseService"/></property>
				<property name="courseTypeService"> <ref bean="courseTypeService"/></property>
				<property name="instituteService"> <ref bean="instituteService"/></property>
				<property name="departmentService"> <ref bean="departmentService"/></property>
				<property name="universityService"> <ref bean="universityService"/></property>
			</bean>
		</property>
		<property name="interceptorNames">
			<list>
				<value>lectureLogicExceptionInterceptor</value>
			</list>
		</property>
	</bean>
	
	<bean id="lectureLogicExceptionInterceptor" class="org.openuss.services.LectureLogicExceptionInterceptor" />
 
</beans>