<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- Local DataSource that works in any environment -->
    <bean id="userEmailGenerator" class="org.openuss.migration.notification.UserEmailGenerator">
        <property name="dataSource" ref="dataSource"/>
        <property name="velocityEngine" ref="velocityEngine"/>
    </bean>

	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>
	
</beans>
