<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    					
    
    <!-- Local DataSource that works in any environment -->
    <bean id="emailGenerator" class="org.openuss.migration.notification.EmailGenerator">
        <property name="dataSource" ref="dataSource"/>
        <property name="velocityEngine" ref="velocityEngine"/>
    </bean>

    <bean id="emailSender" class="org.openuss.migration.notification.EmailSender">
        <property name="dataSource" ref="dataSource"/>
    </bean>

	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>
	
</beans>
