<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- normal repository -->
	<bean id="repository" class="org.springmodules.jcr.jackrabbit.RepositoryFactoryBean">
	<!-- normal factory beans params -->
		<property name="configuration" value="classpath:jackrabbit-repo.xml"/>
		<property name="homeDir" value="file:./target/repo"/>
	</bean>

   	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		      DocManagement
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->    
	<bean id="folderDao" class="org.openuss.docmanagement.FolderDao" >
		<property name="repository" ref="repository"></property>
		<property name="fileDao" ref="fileDao"></property>
		<property name="linkDao" ref="linkDao"></property>
	</bean>
	<bean id="workingPlaceDao" class="org.openuss.docmanagement.WorkingPlaceDao" >
		<property name="repository" ref="repository"></property>
	</bean>
	<bean id="examAreaDao" class="org.openuss.docmanagement.ExamAreaDao" >
		<property name="repository" ref="repository"></property>
		<property name="fileDao" ref="fileDao"></property>
	</bean>
	<bean id="fileDao" class="org.openuss.docmanagement.FileDao" >
		<property name="repository" ref="repository"></property>
	</bean>
	<bean id="linkDao" class="org.openuss.docmanagement.LinkDao" >
		<property name="repository" ref="repository"></property>
		<property name="fileDao" ref="fileDao"></property>
	</bean>

	<bean id="distributionService" class="org.openuss.docmanagement.DistributionServiceImpl">
		<property name="folderDao" ref="folderDao"></property>
		<property name="fileDao" ref="fileDao"></property>		
		<property name="linkDao" ref="linkDao"></property>				
	</bean>
	<bean id="examinationService" class="org.openuss.docmanagement.ExaminationServiceImpl">
		<property name="fileDao" ref="fileDao"></property>
		<property name="folderDao" ref="folderDao"></property>		
		<property name="examAreaDao" ref="examAreaDao"></property>
	</bean>
	
	<bean id="collaborationService" class="org.openuss.docmanagement.CollaborationServiceImpl"/>
	<bean id="repositoryStartup" class="org.openuss.docmanagement.RepositoryStartup" init-method="init">
		<property name="repository" ref="repository"></property>
	</bean>

   	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		      WebDAV
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->    
	
	<bean id="sessionProvider" class="org.openuss.docmanagement.webdav.DavSessionProviderImpl">
		<property name="repository" ref="repository"></property>
		<property name="authenticationManager" ref="authenticationManager"></property>
		<property name="securityService" ref="securityService"></property>
		<property name="desktopService" ref="desktopService"></property>
	</bean>
	
</beans>