<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Domain Indexing Configuration
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	
	<aop:config>
		<aop:aspect id="facultyIndexAspect" ref="facultyIndexAspectBean">
			<aop:after-returning
				method="createFacultyIndex" 
				pointcut="execution(* org.openuss.lecture.LectureService.createFaculty(..)) and args(faculty)"
				arg-names="faculty"/>
			<aop:after-returning
				method="updateFacultyIndex"
				pointcut="execution(* org.openuss.lecture.LectureService.persist(..)) and args(faculty)"
				arg-names="faculty"/>
			<aop:after-returning
				method="deleteFacultyIndex"
				pointcut="execution(* org.openuss.lecture.LectureService.deleteFaculty(..)) and args(faculty)"
				arg-names="faculty"/>
		</aop:aspect>
	</aop:config>
	
	<bean id="facultyIndexAspectBean" class="org.openuss.lecture.FacultyIndexingAspect">
		<property name="indexerService"><ref bean="indexerService"/></property>
	</bean>

	<bean id="domainIndexerFactory"	class="org.openuss.search.DomainIndexerFactory" scope="singleton">
		<property name="indexer">
			<map>
				<entry>
					<key>
						<value>org.openuss.lecture.Faculty</value>
					</key>
					<value>facultyIndexerCommand</value>
				</entry>
				<entry>
					<key>
						<value>org.openuss.lecture.Enrollment</value>
					</key>
					<value>enrollmentIndexerCommand</value>
				</entry>
			</map>
		</property>
	</bean>

	<bean name="enrollmentIndexer" class="org.openuss.lecture.EnrollmentIndexer">
		<property name="analyzer">
			<ref bean="analyzer" />
		</property>
		<property name="enrollmentDao">
			<ref bean="enrollmentDao" />
		</property>
		<property name="indexFactory">
			<ref bean="indexFactory" />
		</property>
	</bean>

	<bean id="facultyIndexer" class="org.openuss.lecture.FacultyIndexer">
		<property name="analyzer">
			<ref bean="analyzer" />
		</property>
		<property name="facultyDao">
			<ref bean="facultyDao" />
		</property>
		<property name="indexFactory">
			<ref bean="workAroundIndexFactory" />
		</property>
	</bean>
	
	<bean id="lectureIndexImpl" class="org.openuss.lecture.LectureIndexImpl">
		<property name="facultyDao" ref="facultyDao"/>
		<property name="facultyIndexer" ref="facultyIndexer"/>
		<property name="enrollmentDao" ref="enrollmentDao"/>
		<property name="enrollmentIndexer" ref="enrollmentIndexer"/>
	</bean>
	
	<bean id="lectureIndex" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces"><value>org.openuss.lecture.LectureIndex</value></property>
		<property name="target">
			<bean parent="lectureIndexImpl" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>serviceTransactionInterceptor</value>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>
	
	<bean id="facultyIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="facultyIndexer"/>
	</bean>

	<bean id="enrollmentIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="enrollmentIndexer"/>
	</bean>

	<bean id="indexerServiceAbstract" abstract="true"
		class="org.openuss.search.IndexerServiceImpl">
		<property name="indexerFactory">
			<ref bean="domainIndexerFactory" />
		</property>
		<property name="commandService">
			<ref bean="commandService" />
		</property>
	</bean>
	
	<bean id="lectureSearcher" class="org.openuss.lecture.LectureSearchQuery" scope="prototype">
		<constructor-arg ref="searcherFactory"/>
		<constructor-arg ref="analyzer" />
	</bean>	

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Lucene Support Configuration
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<bean id="analyzer"
		class="org.apache.lucene.analysis.standard.StandardAnalyzer" />

	<bean id="searcherFactory"
		class="org.springmodules.lucene.search.factory.SimpleSearcherFactory">
		<property name="indexFactory" ref="indexFactory" />
		<property name="directory" ref="lectureDirectory" />
	</bean>

	<bean id="workAroundIndexFactory"
		class="org.openuss.search.lucene.WorkAroundSimpleIndexFactory">
		<property name="create" value="true" />
		<property name="directory" ref="lectureDirectory" />
		<property name="analyzer" ref="analyzer" />
		<property name="searcher" ref="searcherFactory" />
	</bean>

	<bean id="indexFactory"
		class="org.springmodules.lucene.index.factory.SimpleIndexFactory">
		<property name="create" value="true" />
		<property name="directory" ref="lectureDirectory" />
		<property name="analyzer" ref="analyzer" />
	</bean>

	<bean id="lectureDirectory"
		class="org.springmodules.lucene.index.support.FSDirectoryFactoryBean">
		<property name="create" value="true" />
		<property name="location" value="file:${java.io.tmpdir}/lucene/lecture" />
	</bean>

	<!-- 
		<bean id="ramDirectory" class="org.springmodules.lucene.index.support.RAMDirectoryFactoryBean"/>
		
		<bean id="indexingDatabase" class="org.openuss.search.SimpleDatabaseIndexingImpl">
		<property name="indexFactory" ref="indexFactory"/>
		<property name="dataSource"><ref bean="dataSource"/></property>
		</bean>
	-->

</beans>
