<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    				MailingList Command Configuration
	 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	 
	 <bean name="mailSendingCommand" class="org.openuss.mailinglist.MailSendingCommand">
	 	<property name="messageService"><ref bean="messageService"/></property>
	 	<property name="mailDao"><ref bean="mailDao"/></property>
	 </bean>

</beans>
