<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Aspect Configuration
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<aop:config>
		<aop:aspect id="instituteIndexAspect" ref="instituteIndexAspectBean">
			<aop:after-returning
				method="createInstituteIndex" 
				pointcut="execution(* org..InstituteServiceBase.create(org.openuss.lecture.InstituteInfo, java.lang.Long)) and args(instituteInfo, userId))"
				arg-names="instituteInfo, userId"/>
			<aop:after-returning
				method="updateInstituteIndex"
				pointcut="execution(* org..InstituteServiceBase.update(org.openuss.lecture.InstituteInfo)) and args(instituteInfo)"
				arg-names="instituteInfo"/>
			<aop:after-returning
				method="deleteInstituteIndex"
				pointcut="execution(* org..InstituteServiceBase.removeInstitute(java.lang.Long)) and args(instituteId)"
				arg-names="instituteId"/>
		</aop:aspect>
		
		<aop:aspect id="courseIndexAspect" ref="courseIndexAspectBean">
			<aop:after-returning
				method="updateCourseIndexOnPeriodUpdate" 
				pointcut="execution(* org..LectureServiceBase.persist(org.openuss.lecture.Period)) and args(period)"
				arg-names="period"/>
			<aop:after-returning
				method="createCourseIndex" 
				pointcut="execution(* org..LectureServiceBase.createCourse(org.openuss.lecture.Institute)) and args(course)"
				arg-names="course"/>
			<aop:after-returning
				method="updateCourseIndex"
				pointcut="execution(* org..LectureServiceBase.persist(org.openuss.lecture.Course)) and args(course)"
				arg-names="course"/>
			<aop:after-returning
				method="deleteCourseIndex"
				pointcut="execution(* org..LectureServiceBase.removeCourse(java.lang.Long)) and args(courseId)"
				arg-names="courseId"/>
		</aop:aspect>
		
		<aop:aspect id="mailingStatusAspect" ref="mailingStatusAspectBean">
			<aop:after-returning
				method="updateMailingStatus"
				pointcut="execution(* org..MessageJobDaoBase.update(org.openuss.messaging.MessageJob)) and args(messageJob)"
				arg-names="messageJob"/>
		</aop:aspect>
		
	</aop:config>
	
	<bean id="mailingStatusAspectBean" class="org.openuss.newsletter.MailingStatusAspect">
		<property name="mailDao" ref="mailDao"/>
	</bean>
	
	<bean id="courseIndexAspectBean" class="org.openuss.lecture.CourseIndexingAspect">
		<property name="lectureService" ref="lectureService"/>
		<property name="indexerService" ref="indexerService"/>
	</bean>
	
	<bean id="instituteIndexAspectBean" class="org.openuss.lecture.InstituteIndexingAspect">
		<property name="indexerService" ref="indexerService"/>
	</bean>
</beans>
