<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    
   	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		      Security
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->    
    
    <bean id="user" class="org.openuss.security.UserImpl" singleton="false"/>
    <bean id="userContact" class="org.openuss.security.UserContactImpl" singleton="false"/>
    <bean id="userPreferences" class="org.openuss.security.UserPreferencesImpl" singleton="false"/>
    <bean id="userProfile" class="org.openuss.security.UserProfileImpl" singleton="false"/>

   	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		      Lecture
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->    

	<bean id="faculty" class="org.openuss.lecture.FacultyImpl" singleton="false"/>
	<bean id="subject" class="org.openuss.lecture.SubjectImpl" singleton="false"/>
	<bean id="period" class="org.openuss.lecture.PeriodImpl" singleton="false"/>
	<bean id="enrollment" class="org.openuss.lecture.EnrollmentImpl"  singleton="false"/>


   	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		      News
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->    
    <bean id="newsItem" class="org.openuss.news.NewsItemImpl" singleton="false"/>

   	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		      Discussion
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->    
<!-- 
	<bean id="discussion" class="org.openuss.discussion.DiscussionImpl" singleton="false"/>
	<bean id="discussionWatch" class="org.openuss.discussion.DiscussionWatchImpl" singleton="false"/>
	<bean id="discussionFormula" class="org.openuss.discussion.FormulaImpl" singleton="false"/>
	<bean id="discussionForum" class="org.openuss.discussion.ForumImpl" singleton="false"/>
	<bean id="discussionTopic" class="org.openuss.discussion.TopicImpl" singleton="false"/>
 -->
	
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
			  Mail
 	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Beans for Quartz sending -->
    <bean id="mailEngine" class="org.openuss.framework.mail.MailEngine">
        <property name="mailSender" ref="mailSender"/>
        <property name="velocityEngine" ref="velocityEngine"/>
        <property name="defaultFrom" value="no-reply@openuss.org"/>
    </bean>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="127.0.0.1"/>
        <property name="username" value="no-reply@openuss-plexus.org"/>
        <property name="password" value="plexus"/>
    </bean>
    <!-- Configure Velocity for sending e-mail -->
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class</prop>
                <prop key="class.resource.loader.class">
                    org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                </prop>
                <prop key="velocimacro.library"></prop>
            </props>
        </property>
    </bean>
    <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage" singleton="false">
        <property name="from" value="no-reply@openuss.org"/>
    </bean>    
    <bean id="mimeMessage" class="javax.mail.internet.MimeMessage" singleton="false" factory-bean="mailSender" factory-method="createMimeMessage">
    </bean>
    <bean id="mimeMessageHelper" class="org.springframework.mail.javamail.MimeMessageHelper" singleton="false">
    	<constructor-arg>
    		<ref bean="mimeMessage"/>
    	</constructor-arg>
    </bean>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
        <property name="locations">
            <list>
                <value>openuss.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- Beans for Mail initialize and editing  -->
    <bean id="mailingMessage" class="org.openuss.mail.MailMessageImpl" />
    <bean id="mailingJob" class="org.openuss.mail.MailingJobImpl" />
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    				Quartz
     - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	
	<bean id="mailSendingQuartzBean" class="org.openuss.mail.MailSendingQuartzBean" >	
		<property name="mailService"><ref bean="mailService"/></property>		
		<property name="mimeMessageHelper"><ref bean="mimeMessageHelper"/></property>		
		<property name="mailEngine"><ref bean="mailEngine"/></property>				
		<property name="securityService"><ref bean="securityService"/></property>				
	</bean>	
    <bean id="mailSendingJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="mailSendingQuartzBean"/>
		<property name="targetMethod" value="send"/>
		<property name="concurrent" value="false"/>
	</bean>
	<bean id="mailRepeatTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="mailSendingJobDetail"/>
		<property name="startDelay" value="10000"/>
		<property name="repeatInterval" value="30000"/>
	</bean>
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="mailRepeatTrigger"/>		
			</list>
		</property>
	</bean>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    				BrainContest
     - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<bean id="brainContest" class="org.openuss.braincontest.BrainContestImpl" singleton="false"/>
	<bean id="brainContestAnswer" class="org.openuss.braincontest.AnswerImpl"  singleton="false"/>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    				Documents
	 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
 	<bean id="folder" class="org.openuss.documents.FolderImpl"  singleton="false"/>
	<bean id="fileEntry" class="org.openuss.documents.FileEntryImpl" singleton="false"/>
	 
	<bean id="newDocument" class="org.openuss.repository.RepositoryFileImpl"  singleton="false"/>
	<bean id="newFolder" class="org.openuss.documents.FolderImpl"  singleton="false"/>
	
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
    				User Cache Configuration
	 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<!-- User Cache Configuration  -->
	<bean id="userCache"
		class="org.acegisecurity.providers.dao.cache.EhCacheBasedUserCache">
		<property name="cache">
			<ref local="userCacheBackend" />
		</property>
	</bean>
	
	<bean id="userCacheBackend"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager">
			<ref local="cacheManager" />
		</property>
		<property name="cacheName">
			<value>userCache</value>
		</property>
	</bean>

	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />

	<bean id="passwordEncoder"
		class="org.acegisecurity.providers.encoding.Md5PasswordEncoder" />

	

</beans>
