a.icon_edit {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_edit span {
  background-position: left top;
  background-image: url(../img/buttons/edit_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_edit:focus span, a.icon_edit:hover span {
  background-position: top right;
}

a.icon_remove {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_remove span {
  background-position: left top;
  background-image: url(../img/buttons/delete_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_remove:focus span, a.icon_remove:hover span {
  background-position: top right;
}

a.icon_sendmessage {
	background-image: url(../img/buttons/send_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_sendmessage:focus, a.icon_sendmessage:hover{
	background-position: top right;
}

a.icon_deleteappointment {
	background-image: url(../img/buttons/delete_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_deleteappointment:focus, a.icon_deleteappointment:hover{
	background-position: top right;
}

a.icon_edittags {
	background-image: url(../img/buttons/delete_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_edittags:focus, a.icon_edittags:hover{
	background-position: top right;
}

a.icon_removebuddy {
	background-image: url(../img/buttons/remove_buddy_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_removebuddy:focus, a.icon_removebuddy:hover{
	background-position: top right;
}	

a.icon_addbuddy {
	background-image: url(../img/buttons/add_buddy_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_addbuddy:focus, a.icon_addbuddy:hover{
	background-position: top right;
}

a.icon_viewmessage {
	background-image: url(../img/buttons/view_mail_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_viewmessage:focus, a.icon_viewmessage:hover{
	background-position: top right;
}


a.icon_deletemessage {
	background-image: url(../img/buttons/delete_mail_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_deletemessage:focus, a.icon_deletemessage:hover{
	background-position: top right;
}

a.icon_leavegroup {
	background-image: url(../img/buttons/unjoin_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_leavegroup:focus, a.icon_leavegroup:hover{
	background-position: top right;
}

a.icon_acceptaspirant {
	background-image: url(../img/buttons/ok_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_acceptaspirant:focus, a.icon_acceptaspirant:hover{
	background-position: top right;
}

a.icon_rejectaspirant {
	background-image: url(../img/buttons/missing_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_rejectaspirant:focus, a.icon_rejectaspirant:hover{
	background-position: top right;
}

a.icon_authorizebuddy {
	background-image: url(../img/buttons/ok_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_authorizebuddy:focus, a.icon_authorizebuddy:hover{
	background-position: top right;
}

a.icon_declinebuddy {
	background-image: url(../img/buttons/missing_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_declinebuddy:focus, a.icon_declinebuddy:hover{
	background-position: top right;
}


a.icon_profile {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_profile span {
  background-position: left top;
  background-image: url(../img/buttons/profile_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_profile:focus span, a.icon_profile:hover span {
  background-position: top right;
}

a.icon_bookmark {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_bookmark span {
  background-position: left top;
  background-image: url(../img/buttons/bookmark_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_bookmark:focus span, a.icon_bookmark:hover span {
  background-position: top right;
}

a.icon_bookmark_remove {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_bookmark_remove span {
  background-position: left top;
  background-image: url(../img/buttons/bookmark_remove_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_bookmark_remove:focus span, a.icon_bookmark_remove:hover span {
  background-position: top right;
}

a.icon_send {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_send span {
  background-position: left top;
  background-image: url(../img/buttons/send_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_send:focus span, a.icon_send:hover span {
  background-position: top right;
}

a.icon_sendnow {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_sendnow span {
  background-position: left top;
  background-image: url(../img/buttons/send_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_sendnow:focus span, a.icon_sendnow:hover span {
  background-position: top right;
}

a.icon_public {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_public span {
  background-position: left top;
  background-image: url(../img/buttons/public_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_public:focus span, a.icon_public:hover span {
  background-position: top right;
}

a.icon_hide {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_hide span {
  background-position: left top;
  background-image: url(../img/buttons/hide_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_hide:focus span, a.icon_hide:hover span {
  background-position: top right;
}

a.icon_move {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_move span {
  background-position: left top;
  background-image: url(../img/buttons/move_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_move:focus span, a.icon_move:hover span {
  background-position: top right;
}

a.icon_cancel {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

a.icon_cancel span {
  background-position: left top;
  background-image: url(../img/buttons/cancel_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}

a.icon_cancel:focus span, a.icon_cancel:hover span {
  background-position: top right;
}

a.icon_accept {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 8pt;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  padding-right: 5pt;
}

a.icon_reject {
  background: transparent none repeat scroll 0%;
  color: #F0F0F0;
  float: left;
  font-size: 8pt;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

a.icon_appointmentexception {
	background-image: url(../img/buttons/hide_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_appointmentexception:focus, a.icon_appointmentexception:hover{
	background-position: top right;
}

a.icon_noappointmentexception {
	background-image: url(../img/buttons/public_icon.png);
	background-position: left top;
	height: 16px;
	width: 16px;
	margin: 0 5px 0 0;
	overflow: visible;
	float: left;
}

a.icon_noappointmentexception:focus, a.icon_appointmentexception:hover{
	background-position: top right;
}

/*Actionbox*/

ul.action_list {
  list-style: none;
  padding:0;
  margin: 5px 0 15px 20px;
  color: #a5a5a5;
}

ul.action_list li {
  margin-top: 10px;	
}

ul.action_list li a {
  color:#2C5885;
  text-decoration: none;
  vertical-align:middle;
  height:16px;
  padding:0;
  position: relative;
  cursor: pointer;
}

ul.action_list li a:focus, ul.action_list li a:hover {
  text-decoration: none;
}

ul.action_list li a:focus span, ul.action_list li a:hover span {
  background-position: center right;
}

ul.action_list li a span {
  display:block; 
  background-position: center left;
  background-repeat: no-repeat;
  padding: 0 16px 0 0;
  margin: 0 4px 0 -20px;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
}

/* calendar optionbox */

ul.action_list li.calendar_listmode a span{
  background-image:url(../img/buttons/list_icon.png);
}

ul.action_list li.calendar_daymode a span{
  background-image:url(../img/buttons/calendar_day_icon.png);
}

ul.action_list li.calendar_workweekmode a span{
  background-image:url(../img/buttons/calendar_workweek_icon.png);
}

ul.action_list li.calendar_weekmode a span{
  background-image:url(../img/buttons/calendar_week_icon.png);
}

ul.action_list li.calendar_monthmode a span{
  background-image:url(../img/buttons/calendar_month_icon.png);
}

ul.action_list li.calendar_upcomingmode a span{
  background-image:url(../img/buttons/late_icon.png);
}