/* ========================================================
   OpenUSS Plexus Theme
   
   author: Ingo Dueppe
=========================================================== */
	/* ---------- common ------------- 
div,table,tbody,tr,td {
	border: 0;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: 0;
} 
	*/
img {
	border: 0;
}

body {
	background-color: #f0f0f0;
	margin: 2px;
	padding: 0;
	width: 99.5%;
} 

/* --------- common layout --------- */
.content label, .navigation label {
   display: block;
   padding: 6px 0 2px 0;
   margin: 0px;
   border: 1px solid 000;
}

.content input.field {
   display:block;
}

span.fieldError {
 	display: block;
}

.fieldCheckBox {
	float: left;
	display: inline;
}

select {
	display: block;
}

/* --------- page layout ----------- */
.wrapper {
	margin: 0;
	padding: 0;
}

.page {
	margin: 0;
	padding: 0;
}

.pageheader {
	width: 100%;
}

.headerlogo {
	background-image: url(../images/logos/openuss.gif);
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 0px 0;
	width: 500px;
	border: 0px;
	height: 90px;
}

.userportlet {
	background-color: #fff;
	font-family: Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 10px;
	text-align: right;
	vertical-align: bottom;
	padding-bottom: 2px;
	padding-right: 20px;
}

.userportlet form {
	padding: 0px;
	margin: 0px;
}

.userportlet a {
	font-family: Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 10px;
	text-decoration: underline;
}

.pagebody {
	background-color: #fff;
	vertical-align: top;
	width: 100%;
}

.pagefooter {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	width: 100%;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
}

.navigation {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 15px;
	width: 155px;
	margin: 0;
	vertical-align: top;
}

.maincontent {
	vertical-align: top;
}

/* --------- crumbs ------------- */

.crumbs {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 12px;
	margin: 0px 5px 0 5px;
	padding: 2px 0px;
	clear: both;
}

.crumbs ul {
	padding: 0 5px;
}

.crumbs ul li {
	list-style-image: url(../images/sign_link.gif);
	float: left;
	margin: 5px;
	padding: 0;
	list-style-position: inside;
}

.crumbs ul li.breadcrumb {
	list-style-image: url(../images/sign_link.gif);
	color: #036;
}

.crumbs ul li.activeBreadCrumb {
	list-style-image: url(../images/sign_link.gif);
	color: #8b0;
}

.crumbs ul li.inactivebreadcrumb {
	list-style-image: url(../images/sign_link.gif);
	color: #333;
}

.crumbs a {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-size: 10px;
	font-weight: normal;
}

.crumbs a:hover,.content a:visited,.content a:active {
	font-weight: normal;
	text-decoration: underline;
}

div.messages {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 12px;
	margin: 0 5px;
	padding: 0 5px;
	clear: both;
}

div.content {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 16px;
	background-color: #fff;
	margin: 0 5px;
	padding: 10px 5px 0 5px;
	min-height: 300px;
	vertical-align: top;
}

.sidebar {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-size: 12px;
	vertical-align: top;
	width: 150px;
	margin: 0;
}

.footerborder {
	background-image: url(../images/border_bottom.gif);
	background-repeat: repeat-x;
	background-position: 0 0;
	height: 12px;
}

.footercenter {
	border-right: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	vertical-align: top;
	text-align: center;
}

.footerleft {
	border-right: 1px solid #f0f0f0;
	vertical-align: middle;
	text-align: right;
}

.footerright {
	border-left: 1px solid #f0f0f0;
	vertical-align: middle;
	text-align: left;
	padding: 0;
	margin: 0;
}

.pagefooter a {
	font-size: 10px;
}

/* ------------- mainmenu ----------------*/
.mainmenu {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	list-style-type: none;
	height: 20px;
	margin: 0;
	padding: 0 0 0 1px;
	background-color: #3c78b5;
	padding: 0 !important;
	margin: 0 !important;
	color: #fff;
}

/* IE hack */
.mainmenu form {
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}

.mainmenu ul {
	margin-top: 0px;
}

.mainmenu ul li {
	float: left;
	padding: 2px;
}

.mainmenu ul li:hover {
	float: left;
	background-color: #036;
}

.mainmenu ul li:visited {
	float: left;
	background-color: #036;
}

.mainmenu ul li a {
	text-decoration: none;
	color: #fff;
	padding: 2px;
}

.mainmenu ul li a:hover {
	text-decoration: none;
	background-color: #036;
	color: #fff;
}

.mainmenu ul li a:active {
	font-weight: bold;
	text-decoration: none;
	background-color: #036;
	color: #fff;
}

.mainmenu ul li a:visited {
	text-decoration: none;
	color: #fff;
}

/* ------------- search ----------------*/
.search {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 0 0 0 1px;
	background-color: #3c78b5;
	padding: 0 !important;
	margin: 0 !important;
	color: #fff;
	text-align: right;
}

.search label {
	padding: 2px;
	font-size: 12px;
	font-weight: bold;
	vertical-align: bottom;
}

.search .searchfield {
	font-family: Arial, Geneva, Helvetica;
	font-size: 8px;
	font-weight: normal;
	height: 14px;
	color: #036;
	width: 120px;
	margin: 0px 5px 0px 5px !important;
	padding: 0 !important;
	border: 1px solid #999;
}

/* ---------- common controls ---------- */
label {
	font-family: Arial, Geneva, Helvetica;
	font-size: 8pt;
	margin: 0;
	padding: 0;
}

ul.none {
	list-style: none;
	text-decoration: none;
	padding: 0 0 0 10px;
	margin: 0;
	padding: 0 10px;
}

ul.none li {
	padding-top: 2px;
	text-decoration: none;
}

table.transparent {
	width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

/* ------------- messages -------------- */
.messages ul {
	font-family: Verdan a, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 0;
	padding-left: 20px;
}

span.messages { /* for messagebox */
	font-size: 16px;
}

.messages .info {
	list-style-image: url(../images/icon-info.gif);
	color: #00b;
}

.messages .warning {
	list-style-image: url(../images/icon-warn.gif);
	color: #0b0;
}

.messages li .error {
	list-style-image: url(../images/icon-error.gif);
	color: #f00;
}

.messages li .fatal {
	list-style-image: url(../images/icon-error.gif);
	background-color: #b00;
	color: #fff;
}

/* --------------- news ---------------- */
.news {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color: #fff;
	background-color: #C75F41;
	border: 1px solid #ccc;
	border-spacing: 0px;
	line-height: 18px;
}

.news TH {
	padding-left: 4px;
}

.content .news {
	width: 100%;
}

.news .newsDate {
	color: #036;
	font-weight: bold;
	font-size: 11px;
}

.news .newsTitle {
	color: #8b0000;
	font-weight: bold;
	font-size: 12px;
}

.news .newsPublisher {
	color: #036;
	font-weight: bold;
	font-size: 11px;
}

.news .int {
	font-size: 11px;
	font-weight: normal;
}

.news td {
	color: #036;
	background-color: #F9EFEF;
	padding-left: 4px;
}

/* --------------- links --------------- */
a {
	color: #036;
	font-size: 12px;
	text-decoration: none;
}

a:hover {
	font-weight: normal;
	text-decoration: underline;
}

a:visited {
	font-weight: normal;
	text-decoration: none;
}

a:active {
	font-weight: normal;
	text-decoration: none;
}

ul.back {
	padding: 0 0 0 25px;
	margin: 0;
}

ul.back li {
	list-style-image: url(../images/sign_lastpage.gif);
	margin: 0;
}

ul.linkup {
	padding: 0 0 0 25px;
	margin: 0;
}

ul.linkup li {
	list-style-image: url(../images/sign_pageup.gif);
	margin: 0;
}

ul.int {
	padding: 0 0 0 25px;
	margin: 0;
}

ul.int li {
	list-style-image: url(../images/sign_link.gif);
	margin: 8px 0;
}

ul.int li a {
	margin-top: -8px;
	padding: 0;
}

ul.ext {
	padding: 0 0 0 25px;
	margin: 0;
}

ul.ext li {
	list-style-image: url(../images/sign_link_extern.gif);
	margin: 8px 0;
}

/* ------------- block --------------*/
.block {
	width: 100%;
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 14px;
}

.block .header {
	padding-left: 5px;
}

/* ------------- navigation ------------ */
.navigation .block {
	background-color: #fff;
	font-size: 14px;
	margin: 5px;
	width: 95%;
	border: 1px solid #ccc;
	border-spacing: 0;
	padding-bottom: 0;
}

.navigation .block .header {
	background-color: #3c78b5;
	color: #fff;
	font-family: Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	padding: 2px 2px 2px 5px;
	margin: 0 0 5px 0;
}

.navigation .block thead th {
	margin-bottom: 11px;
}

.navigation .block ul {
	padding-left: 20px;
}

.navigation td {
	background-color: #fff;
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	font-size: 10px;
	font-weight: normal;
	padding: 2px 6px;
}

.navigation select {
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	width: 130px;
	margin-left: 5px;
	padding: 2px;
	border: 1px solid #036;
}

.navigation .fieldLabel {
	background-color: #fff;
	font-family: Arial, Geneva, Helvetica;
	color: #8B0000;
	font-weight: normal;
	padding-left: 5px;
	font-size: 8pt;
}

.navigation .requiredAsterix {
	background-color: #fff;
	font-family: Arial, Geneva, Helvetica;
	color: #8B0000;
	font-weight: bold;
	padding-left: 0;
}

.navigation .fieldError {
	background-color: #fff;
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #d00;
	padding-left: 0;
}

.navigation .field {
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	width: 120px;
	margin-left: 5px;
	padding: 2px;
	border: 1px solid #999;
}

.navigation .pulldown {
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	width: 120px;
	margin: 2px 5px;
	padding: 0;
	border: 1px solid #999;
}

.navigation .button {
	font-family: Arial, Geneva, Helvetica;
	font-size: 8pt;
	font-weight: normal;
	margin: 5px 0 5px 5px;
	background-color: #3c78b5;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #608db3 #608db3 #608db3 #608db3;
	background-image: url("../images/nav/rightArrow.gif"); 
}

.navigation a {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #036;
	padding: 0;
}

li.navItem {
	list-style-image: url(../images/nav/rightArrow.gif);
	margin: 0 0 0 -15px;
}

li.navOpenItem {
	list-style-image: url(../images/nav/downArrow.gif);
	margin: 0 0 0 -15px;
}

li.navOpenItem > a {
	color: #8b0000;
}

li.navActiveItem {
	list-style-image: url(../images/nav/activeArrow.gif);
	margin: 0 0 0 -15px;
	color: red;
}

li.navActiveItem a {
	color: #8b0000;
}

/* ------ navigation information ---- */
.navigation .information {
	background-color: #fff;
	color: #000;
	font-size: 10px;
	line-height: 13px;
	margin: 5px;
	width: 95%;
	border-spacing: 0;
	padding-bottom: 0;
}

.navigation .information td {
	font-size: 10px;
	line-height: 13px;
	margin: 0px;
	padding: 0 0 0 5px;
}

.navigation .information .typobold {
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
}

/* ------------- sidebar ------------ */
.sidebar .block {
	background-color: #fff;
	font-size: 14px;
	margin: 5px 0px;
	width: 95%;
	border-spacing: 0;
	padding-bottom: 0;
	border: 1px solid #ccc;
}

.sidebar .block .header {
	background-color: #3c78b5;
	color: #fff;
	font-family: Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	padding: 2px 2px 2px 5px;
	margin: 0 0 2px 5px;
}

.sidebar .block thead th {
	margin-bottom: 11px;
}

.sidebar .block a {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #036;
	padding: 0;
}

.sidebar td {
	background-color: #fff;
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	font-size: 10px;
	font-weight: normal;
	padding: 2px 6px;
}

.sidebar .typoHeadBox {
	font-size: 12px;
	font-weight: bold;
	color: #8b0000;
}

/* ------------- content ------------ */
.content {
	font-family: Verdana, Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 14px;
	margin-top: 10px;
}

.content form {
	display: block;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.content .block {
	background-color: #fff;
	margin: 5px;
	width: 100%;
	border: 1px solid #ccc;
	border-spacing: 0;
	padding-bottom: 2px;
	margin: 0;
}

.noborder {
	border: 0 !important;
}

.content .block .header {
	background-color: #3c78b5;
	color: #fff;
	font-family: Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	padding: 2px 2px 2px 5px;
	margin: 0 0 2px 0;
}

.content .block thead th {
	margin-bottom: 20px;
}

.content .warningblock {
	background-color: #fff;
	margin: 5px;
	width: 100%;
	border: 1px solid #ccc;
	border-spacing: 0;
	padding-bottom: 2px;
	margin: 0;
} 

.content .warningblock .header {
	background-color: #ab0000;
	color: #fff;
	font-family: Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: normal;
	text-align: left; 
	padding: 2px 2px 2px 5px;
	margin: 0px;
}

.content .warningblock thead th {
	margin-bottom: 0px;
}

.content .warning {
	color: #8b0000;
	font-weight: bold;
}

.content .column {
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 0px 0px 8px;
}

.content .odd {
	background-color: #fff;
}

.content .selectedRow {
	background-color: #A5CBFF;
	font-weight: bold;
}

.content .even {
	background-color: #f0f0f0;
}

.content select {
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 1px;
	border: 1px solid #036;
}

.content .fieldLabel {
	background-color: #fff;
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	font-size: 12px;
	font-weight: normal;
	padding-left: 0;
}

.content .requiredAsterix {
	background-color: #fff;
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #d00;
	font-weight: bold;
	padding-left: 0;
	margin-left: 0;
}

.content .fieldError {
	background-color: #fff;
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #d00;
	font-size: 12px;
	font-weight: normal;
	padding-left: 0;
}

.content .field {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-weight: normal;
	color: #036;
	font-size: 11pt;
	width: 400px;
	margin: 0;
	padding: 2px 5px;
	border: 1px solid #036;
}

.content td .field {
	padding: 0;
	height: auto;
}

.content .uploadField {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-weight: normal;
	color: #036;
	font-size: 12px;
	width: 400px;
	margin: 0;
	padding: 2px 5px;
	border: 1px solid #036;
}

.content .dateField {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-weight: normal;
	color: #036;
	font-size: 12px;
	margin: 0 5px 0 0;
	padding: 2px 5px;
	border: 1px solid #036;
}

.content select.dateField {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-weight: normal;
	color: #036;
	font-size: 12px;
	margin: 0;
	padding: 1px 0 1px 5px;
	border: 1px solid #036;
}

.content input.field:focus {
	background-color: #fff0de !important;
}

.content .pulldown {
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	font-size: 12px;
	width: 400px;
	margin: 0.2em 0;
	padding: 0;
	border: 1px solid #036;
}

.content .button {
	font-family: Arial, Geneva, Helvetica;
	font-size: 10pt;
	margin: 10px 10px 10px 0;
	padding: 0;
	background-color: #3c78b5;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #444;
}

.content td .button {
	margin: 0;
}

.content .button:hover,.content .button:focus {
	background-color: #6c98d5;
}

.content .errorbutton {
	font-family: Arial, Geneva, Helvetica;
	font-size: 10pt;
	margin: 10px 10px 10px 0;
	padding: 0;
	background-color: #ab0000;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #ab0000 #000 #000 #ab0000;
}

.content .errorbutton:hover,.content .errorbutton:focus {
	background-color: #db0000;
}

.content .checkbox {
	font-family: Arial, Geneva, Helvetica;
	border: 1px solid #036;
}

.content a {
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #036;
	font-size: 10pt;
	font-weight: bold;
	padding: 0;
}

.content a:hover,.content a:visited,.content a:active {
	font-weight: bold;
}

.content .heading {
	font-family: Verdana, Arial, Geneva, Helvetica;
	color: #8b0000;
	font-size: 12px;
	font-weight: bold;
}

.content h1 {
	font-family: Verdana, Arial, Geneva, Helvetica;
	font-size: 12px;
	color: #036;
}

/*-------------- Table -------------------*/
.content .table {
	background-color: #fff;
	margin: 5px;
	width: 100%;
	border: 1px solid #ccc;
	border-spacing: 1px;
	padding-bottom: 2px;
	margin: 1px;
	vertical-align: middle;
	font-size: 2px;
}

.content .table .tableHeader {
	background-color: #3c78b5;
	color: #fff;
	font-family: Arial, Geneva, Helvetica, Sans-Serif;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	padding: 1px 1px 1px 3px;
	margin: 5px;
	text-align: left;
}

.content .table .links {
	padding: 4px;
	font-size: 10px;
}

.content .table .maincolumn {
	padding: 4px;
}

.content .table .column {
	padding: 0;
	text-align: left;	
}

.content .table .commands {
	padding: 4px;
	text-align: center;
	padding: 0px;
	width: 60px;
}

.content .table .command {
	font-size: 11px;
}

.content .table .even {
	background-color: #f0f0f0;
	border: 1px solid #00f !important;
}

.content div.tablenavigator {
	margin: 0px;
	padding: 0px;
	height: 20px;
}

.content table.paginator {
	padding: 0px 4px;
	height: 20px;
	background-color: #ddd;
}

.content .tablenavigator td {
	margin: 0px;
	padding: 0px 2px;
	vertical-align: middle;
	height: 20px;
}

.content .tablenavigator td.active a {
	font-size: 12px;
	font-weight: bold;
	padding-top: 2px;
}

.content .tablenavigator a {
	font-size: 12px;
	font-weight: normal;
}

.content .tablenavigator img {
	margin: 4px 0px 0px 0px;
	padding: 0px;
}

.content .pagigator {
	background-color: #f00;
	font-size: 10px;
}

.content .paginator .tr {
	font-size: 2px;
	height: 20px;
	margin: 0px;
	padding: 0px;
}

/*-------------- TabbedPane -------------------*/
.content .myFaces_panelTabbedPane,.content .tabbedpane {
	width: 95%;
}

.content td.tabcontent {
	border-left: 1px solid #036 !important;
	border-right: 1px solid #036 !important;
	border-bottom: 1px solid #036 !important;
	padding: 10px;
}

.content .activetab {
	background-color: #036 !important;
	border-top: 1px solid #036 !important;
	border-left: 1px solid #036 !important;
	border-right: 1px solid #036 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.content .inactivetab {
	background-color: #3c78B5 !important;
	border-top: 1px solid #036 !important;
	border-left: 1px solid #036 !important;
	border-right: 1px solid #036 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.content .activesub {
	background-color: #036 !important;
	border-top: 0;
	border-bottom: 1px solid #036 !important;
	border-left: 1px solid #036 !important;
	border-right: 1px solid #036 !important;
	font-size: 0px !important;
	padding: 0;
}

.content .inactivesub {
	background-color: #3c78B5 !important;
	border-top: 0;
	border-bottom: 1px solid #036 !important;
	border-left: 1px solid #036 !important;
	border-right: 1px solid #036 !important;
	font-size: 0px !important;
	padding: 0;
	margin: 0;
}

.content .activetab input,.content .activetab input:hover,.content .activetab input:visited,.content .activetab input:active,.content .activetab input:focus
	{
	font-family: Verdana, Arial, Geneva, Helvetica !important;
	font-size: 12px !important;
	background-color: #036 !important;
	color: #fff !important;
	font-weight: bold !important;
	height: 16px !important;
	vertical-align: top !important;
	width: 100%;
	height: 100%;
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
}

.content .inactivetab input,.content .inactivetab input:hover,.content .inactivetab input:visited,.content .inactivetab input:active,.content .inactivetab input:focus
	{
	font-family: Verdana, Arial, Geneva, Helvetica !important;
	font-size: 12px !important;
	background-color: #3c78B5 !important;
	color: #fff !important;
	font-weight: bold !important;
	height: 16px !important;
	vertical-align: top !important;
	width: 100%;
	height: 100%;
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
}

.content .stacktrace {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #333;
}

/*------------------ userprofile -------------------- */

div.userprofile {
	border: 1px solid #ddd;
	font-size: 11px;
	font-family: arial;
	padding: 10px;
}

div.userprofile .heading {
	padding-bottom: 10px;
}

div.userimage {
	float: left;
	padding: 0 20px 0 10px;
}


div.usercontact ul{
	list-style: none;
	text-decoration: none;
	padding: 0 20px; 
	margin: 0 10px;
}

div.usercontact li{
	padding-bottom: 2px; 
}

div.userprofile a {
	text-decoration: underline;
	font-size: 11px;
	font-weight: normal;
	color: #036;
}

div.portrait {
	padding: 10px;
	clear: both;
}

img.userphoto {
	max-height: 100px;
	max-width: 100px;
	padding: 5px;
}
 

