@import url(flexlist.css);

@import url(buttons.css);

html,body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: #fff;
	color: #000;
	min-width: 1000px;
}

form {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

input,select,textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	color: #000;
}

input:focus {
	background-color: #F3F3F3;
	border: 1px solid #919191;
}

p {
	margin: 0;
	font-size: 10pt;
}

#main {
	float: none;
	margin-left: 190px;
	margin-right: 180px;
	padding-top: 0px;
	position: static;
	z-index: 20;
}

#left {
	float: left;
	margin-left: -190px;
	position: relative;
	width: 180px;
	padding-right: 10px;
	z-index: 200;
}

#left div.institute_info span.header_font_normal {
	font-size: 8pt;
	overflow: hidden;
}

#left div.university_info span.header_font_normal {
	font-size: 8pt;
}


@media all {
	* html b\ody #left {
		margin-left: -95px;
		width: 180px;
	}
}

#center {
	float: left;
	margin-right: -180px;
	min-height: 450px;
	position: relative;
	width: 100%;
	z-index: 10000000;
}

@media all {
	* html b\ody #center {
		margin-left: -1px;
		height: 450px;
	}
}

#right {
	float: left;
	left: 190px;
	padding-top: 90px;
	position: relative;
	right: 0px;
	width: 170px;
}

#footer {
	padding-top: 5px;
	clear: both;
	position: relative;
}

#footer_border {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #C0C0C0;
	height: 10px;
	margin-bottom: 5px;
}

.clear_both {
	clear: both;
}

span.userinfo {
	font-size: 8pt;
	color: #FFF !important;
}

span.userinfo a,span.userinfo a:hover,span.userinfo a:active,span.userinfo a:visited
	{
	color: #FFF !important;
}

.openuss_logo {
	background-image: url(../img/logo.jpg);
	background-repeat: no-repeat;
	background-position: -5px 10px;
	width: 180px;
	height: 89px;
}

#messages ul li {
	margin-left: -10px;
	padding: 0px;
}

#messages .error {
	color: #fff;
	font-weight: bolder;
	background: #ff2200;
	padding: 2px 10px 2px 10px;
	margin: 0px;
}

#messages .info {
	color: #fff;
	font-weight: bolder;
	background: #3366aa;
	padding: 2px 10px 2px 10px;
	margin: 0px;
}

#left .pulldown_form {
	width: 150px;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #505050;
	border: 1px solid #B4B4B4;
}

#left .content_box {
	display: block;
	margin: 0 0 15px 0;
	padding: 0;
	width: 180px;
}

#left .header_normal_left_bg {
	float: left;
	visibility: hidden;
	width: 0;
	height: 0;
}

#left .header_normal_right_bg {
	float: right;
	width: 9px;
	height: 22px;
	padding: 0;
	margin: 0;
	background-image: url(../img/menu_header_right2.jpg);
	background-repeat: repeat-x;
}

#left .header_normal {
	padding: 0;
	margin: 0;
	height: 22px;
	width: 180px;
	background-image: url(../img/headline_grey2.jpg);
	background-repeat: repeat-x;
}

#left p.header_font_normal {
	padding: 4px 0 0 14px;
	font-size: 9pt;
	text-decoration: none;
	font-weight: bold;
	color: #505050;
}

#left .content_normal {
	padding: 5px 5px 5px 10px;
	border-style: dotted solid none solid;
	border-width: 1px;
	background: #ECECEC;
	border-top-color: #505050;
	border-right-color: #ECECEC;
	border-left-color: #ECECEC;
}

#left p.content_font_normal, #left span.content_font_normal  {
	padding-left: 10px;
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
}

#left .field_label {
	padding: 0;
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
}

#left .field_error {
	display: block;
	padding: 0;
	font-size: 8pt;
	text-decoration: none;
	color: #ab0000;
}

#left .footer_normal_left_bg {
	float: left;
	width: 0;
	height: 0;
}

#left .footer_normal_right_bg {
	float: right;
	width: 9px;
	height: 9px;
	background-image: url(../img/menu_footer_right.jpg);
	background-repeat: no-repeat;
}

#left .footer_normal {
	padding: 0;
	margin: 0;
	height: 9px;
	width: 180px;
	background-image: url(../img/footer_normal.jpg);
}

#left .field {
	width: 150px;
	padding: 2px;
	margin: 0;
	font-size: 8pt;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #505050;
	border: 1px solid #B4B4B4;
}

#left input.button {
	width: 91px;
	height: 21px;
	margin: 5px 0 0 0;
	padding: 0;
	background-position: left top;
	background-image: url(../img/button_80_normal2.png);
	background-repeat: no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

#left input.button:hover {
	background-position: top right;
}

#left .content_box ul.int {
	margin: 5px 0 4px 20px;
	padding: 0;
	list-style-type: none;
}

#left .content_box ul.int li {
	margin-top: 2px;
	list-style-image: url(../img/link_int.png);
}

#left .content_box ul.int a {
	color: #505050;
	text-decoration: none;
	font-weight: none;
}

#right .content_box ul.ext {
	margin: 5px 0 4px 17px;
	padding: 0;
	list-style-type: none;
}

#right .content_box ul.ext li {
	margin-top: 2px;
	list-style-image: url(../img/link.png);
}

#right .content_box ul.ext a {
	color: #505050;
	text-decoration: none;
	font-weight: none;
}

#left .content_box a:hover {
	text-decoration: underline;
	font-weight: none;
}

.send_form {
	margin-left: 83px;
	margin-top: 5px;
	width: 70px;
	height: 23px;
	font-size: 9pt;
	text-decoration: none;
	font-weight: bold;
}

#navigation_box {
	padding: 0;
	margin-top: 0px;
	width: 180px;
}

li.nav_item ul.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 0;
}

.navigation {
	width: 180px;
	margin: 0;
	padding: 0;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation ul li {
	margin: 0;
	padding: 0;
}

ul.navigation li.nav_item a {
	display: block;
	padding-left: 25px;
	margin-bottom: 2px;
	width: 155px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #4C4C4C;
	background-position: left top;
	background-image: url(../img/e_menu1_nav3.jpg);
	background-repeat: no-repeat;
}

ul.navigation li.nav_item a:hover {
	background-position: top right;
}

ul.navigation li.open_item a {
	display: block;
	padding-left: 25px;
	width: 155px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background-position: left top;
	background-image: url(../img/e_menu1_open3.jpg);
	background-repeat: no-repeat;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-bottom-color: #E2E2E2;
}

ul.navigation li.open_item a:hover {
	background-position: top right;
}

ul.navigation li.active_item a {
	display: block;
	padding-left: 25px;
	width: 155px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background-position: left top;
	background-image: url(../img/e_menu1_active3.jpg);
	background-repeat: no-repeat;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-bottom-color: #E2E2E2;
}

ul.navigation li.active_item a:hover {
	background-position: top right;
}

ul.navigation li ul li.nav_item a {
	display: block;
	padding-left: 25px;
	width: 155px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #4C4C4C;
	background-position: left top;
	background-image: url(../img/e_menu2_nav3.jpg);
	background-repeat: no-repeat;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-bottom-color: #E2E2E2;
}

ul.navigation li ul li.nav_item a:hover {
	background-position: top right;
}

ul.navigation li ul li.open_item a {
	display: block;
	padding-left: 25px;
	width: 155px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #4C4C4C;
	background-position: left top;
	background-image: url(../img/e_menu2_open3.jpg);
	background-repeat: no-repeat;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-bottom-color: #E2E2E2;
}

ul.navigation li ul li.open_item a:hover {
	background-position: top right;
}

ul.navigation li ul li.active_item a {
	display: block;
	padding-left: 25px;
	width: 155px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #4C4C4C;
	background-position: left top;
	background-image: url(../img/e_menu2_active3.jpg);
	background-repeat: no-repeat;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-bottom-color: #E2E2E2;
}

ul.navigation li ul li.active_item a:hover {
	background-position: top right;
}

ul.navigation li ul li ul li.nav_item a {
	display: block;
	padding-left: 35px;
	width: 145px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #4C4C4C;
	background-position: left top;
	background-image: url(../img/e_menu3_nav3.jpg);
	background-repeat: no-repeat;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-bottom-color: #E2E2E2;
}

ul.navigation li ul li ul li.nav_item a:hover {
	background-position: top right;
}

ul.navigation li ul li ul li.open_item a {
	display: block;
	padding-left: 35px;
	width: 145px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #4C4C4C;
	background-position: left top;
	background-image: url(../img/e_menu3_open3.jpg);
	background-repeat: no-repeat;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-bottom-color: #E2E2E2;
}

ul.navigation li ul li ul li.open_item a:hover {
	background-position: top right;
}

ul.navigation li ul li ul li.active_item a {
	display: block;
	padding-left: 35px;
	width: 145px;
	height: 24px;
	font-size: 8pt;
	line-height: 18pt;
	text-decoration: none;
	font-weight: bold;
	color: #4C4C4C;
	background-position: left top;
	background-image: url(../img/e_menu3_active3.jpg);
	background-repeat: no-repeat;
	border-style: none none solid none;
	border-width: 0 0 1px 0;
	border-bottom-color: #E2E2E2;
}

ul.navigation li ul li ul li.active_item a:hover {
	background-position: top right;
}

.field_search {
	display: inline;
	width: 120px;
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
	border: 1px solid #B4B4B4;
	padding: 1px;
	margin-right: 5px;
}

.button_search:hover,.button_search:active,.button_search:focus {
	background: transparent url(../img/nav/nextPage.gif) 0px 0px no-repeat;
}

#right .content_box {
	display: block;
	margin: 0;
	padding: 0 0 15px 0;
	width: 170px;
}

#right .header_normal_left_bg {
	float: left;
	width: 9px;
	height: 22px;
	background-image: url(../img/right_header_left2.jpg);
	background-repeat: no-repeat;
}

#right .option_box .header_normal_left_bg {
	float: left;
	width: 9px;
	height: 22px;
	background-image: url(../img/option_box_right_header_left.jpg);
	background-repeat: no-repeat;
}

#right .header_normal_right_bg {
	float: right;
	width: 0;
	height: 0;
}

#right .header_normal {
	padding: 0;
	height: 22px;
	background-image: url(../img/right_header_bg.jpg);
	background-repeat: repeat-x;
}

#right .option_box .header_normal {
	padding: 0;
	height: 22px;
	background-image: url(../img/option_box_header.jpg);
	background-repeat: repeat-x;
}

#right p.header_font_normal {
	padding: 4px 0 0 10px;
	font-size: 9pt;
	text-decoration: none;
	font-weight: bold;
	color: #505050;
}

#right .option_box p.header_font_normal {
	color: #FFFFFF;
}

#right .content_normal {
	padding: 5px 5px 5px 10px;
	border-style: dotted solid none solid;
	border-width: 1px;
	background-color: #FFFFFF;
	background-image: none;
	border-top-color: #505050;
	border-right-color: #FFFFFF;
	border-left-color: #AFAFAF;
}

#right .option_box .content_normal {
	padding: 5px 5px 5px 10px;
	border-style: dotted solid none solid;
	border-width: 1px;
	background-color: #FFFFFF;
	background-image: none;
	border-top-color: #505050;
	border-right-color: #FFFFFF;
	border-left-color: #AFAFAF;
}

#right p.content_font_normal {
	padding: 0;
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
}

#right .footer_normal_left_bg {
	float: left;
	width: 9px;
	height: 9px;
	background-image: url(../img/footer_left_bg.jpg);
	background-repeat: no-repeat;
}

#right .option_box .footer_normal_left_bg {
	float: left;
	width: 9px;
	height: 9px;
	background-image: url(../img/footer_left_bg.jpg);
	background-repeat: no-repeat;
}

#right .footer_normal_right_bg {
	float: right;
	width: 0;
	height: 0;
}

#right .footer_normal {
	padding: 0;
	height: 9px;
	background-color: #FFFFFF;
	background-image: url(../img/footer_bg.jpg);
	background-repeat: repeat-x;
}

#right .option_box .footer_normal {
	padding: 0;
	height: 9px;
	background-color: #FFFFFF;
	background-image: url(../img/footer_bg.jpg);
	background-repeat: repeat-x;
}

#right .content_box ul.int {
	margin: 5px 0 4px 17px;
	padding: 0;
	list-style-type: none;
}

#right .content_box ul.int li {
	margin-top: 2px;
	list-style-image: url(../img/link_int.png);
}

#right .feed .content_box ul.int {
	list-style-type: none;
}

#right .feed .content_box ul.int li {
	margin-top: 3px;
	list-style-image: url(../img/rss.png);
}

#right .content_box ul.int a {
	color: #505050;
	text-decoration: none;
	font-weight: none;
}

#right .content_box a.button_search {
	display: inline;
	padding-left: 0;
	color: #505050;
	background: none;
	text-decoration: none;
	font-weight: none;
}

#right .content_box a.button_search:hover {
	text-decoration: none;
}

#right .content_box a:hover {
	text-decoration: underline;
	font-weight: none;
}

#center .content_box ul {
	margin: 0;
}

#center ul {
	margin: 10px 0 10px 0;
	list-style-type: none;
	padding-left: 10px;
}

#center a {
	color: #505050;
	font-size: 8pt;
	text-decoration: none;
	font-weight: none;
}

#center a:hover {
	text-decoration: underline;
	font-weight: none;
}

#center span {
	font-size: 8pt;
	text-decoration: none;
	font-weight: none;
}

#center span.warning {
	display: block;
	font-size: 8pt;
	text-decoration: none;
	font-weight: none;
	padding-bottom: 3px;
}

#header_right {
	float: right;
	margin: 0;
	height: 69px;
	width: 7px;
	background-image: url(../img/header_bg3.jpg);
	background-repeat: no-repeat;
}

#header_center {
	margin: 0 0 21px 0;
	padding: 0;
	height: 69px;
	background-image: url(../img/header_bg.jpg);
	background-repeat: repeat-x;
}

#userinfo {
	float: right;
	margin: 0;
	padding: 3px;
}

#header_bg {
	margin: 0;
	padding: 0;
	height: 69px;
	background-image: url(../img/header_bg2.jpg);
	background-repeat: no-repeat;
}

#header_navigation_block {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 49px;
	left: 10px;
	right: 190px;
	bottom: 0;
	height: 20px;
	width: 600px;
}

ul#header_navigation,ul#header_navigation ul {
	float: left;
	height: 20px;
	list-style: none;
	line-height: 13px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 8pt;
	padding: 0;
	margin: 0;
}

ul#header_navigation li {
	float: left;
	padding: 3px 5px 4px 5px;
}

ul#header_navigation a {
	display: block;
	color: #FFFFFF;
	padding: 3px 5px 4px 5px;
	text-decoration: none;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

ul#header_navigation span {
	font-size: 8pt;
	color: #FFFFFF;
	padding: 3px 5px 4px 5px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	background: #ADDB52;
	border-top: 1px;
	border-right: 1px;
	border-bottom: 0;
	border-left: 1px;
	border-style: solid;
	border-color: #BADC75;
}

ul#header_navigation a:hover {
	color: #5E8511;
}

ul#header_navigation li:hover {
	background: #D4ECA5;
}

.content_box {
	display: block;
	margin: 0;
	padding: 0 0 15px 0;
	width: 100%;
}

.teaser_blue {
	margin: 0;
	width: auto;
	margin-right: 260px;
}

.teaser_blue .content_box {
	display: inline;
	margin: 0;
	padding: 0 0 15px 0;
}

.teaser_blue_right {
	float: right;
	width: 250px;
}

.teaser_blue_right .content_box {
	display: inline;
	float: right;
}

.header_normal_left_bg {
	float: left;
	width: 9px;
	height: 28px;
	background-image: url(../img/headline_left_bg.jpg);
	background-repeat: no-repeat;
}

.warning_box .header_normal_left_bg {
	float: left;
	width: 9px;
	height: 28px;
	background-image: url(../img/red_left_bg.jpg);
	background-repeat: no-repeat;
}

.user_box .header_normal_left_bg,.teaser_blue .header_normal_left_bg,.teaser_blue_right .header_normal_left_bg
	{
	float: left;
	width: 9px;
	height: 28px;
	background-image: url(../img/teaser_blue_left_bg.jpg);
	background-repeat: no-repeat;
}

.chat_box .header_normal_left_bg,.news_box .header_normal_left_bg {
	float: left;
	width: 9px;
	height: 28px;
	background-image: url(../img/news_left_bg.jpg);
	background-repeat: no-repeat;
}

.form_box .header_normal_left_bg {
	float: left;
	width: 9px;
	height: 28px;
	background-image: url(../img/headline_grey_left_bg.jpg);
	background-repeat: no-repeat;
}

.empty_box .header_normal_left_bg {
	float: left;
	width: 9px;
	height: 9px;
	background-image: url(../img/headline_grey_left_bg.jpg);
	background-repeat: no-repeat;
}

.header_normal_right_bg {
	float: right;
	width: 9px;
	height: 28px;
	background-image: url(../img/headline_right_bg.jpg);
	background-repeat: no-repeat;
}

.warning_box .header_normal_right_bg {
	float: right;
	width: 9px;
	height: 28px;
	background-image: url(../img/red_right_bg.jpg);
	background-repeat: no-repeat;
}

.user_box .header_normal_right_bg,.teaser_blue .header_normal_right_bg,.teaser_blue_right .header_normal_right_bg
	{
	float: right;
	width: 9px;
	height: 28px;
	margin: 0;
	background-image: url(../img/teaser_blue_right_bg.jpg);
	background-repeat: no-repeat;
}

.chat_box .header_normal_right_bg,.news_box .header_normal_right_bg {
	float: right;
	width: 9px;
	height: 28px;
	background-image: url(../img/news_right_bg.jpg);
	background-repeat: no-repeat;
}

.form_box .header_normal_right_bg {
	float: right;
	width: 9px;
	height: 28px;
	background-image: url(../img/headline_grey_right_bg.jpg);
	background-repeat: no-repeat;
}

.empty_box .header_normal_right_bg {
	float: right;
	width: 9px;
	height: 9px;
	background-image: url(../img/headline_grey_right_bg.jpg);
	background-repeat: no-repeat;
}

.header_normal {
	padding: 0;
	height: 28px;
	background-image: url(../img/headline_bg.jpg);
	background-repeat: repeat-x;
}

.warning_box .header_normal {
	padding: 0;
	height: 28px;
	background-image: url(../img/red_bg.jpg);
	background-repeat: repeat-x;
}

.user_box .header_normal,.teaser_blue .header_normal,.teaser_blue_right .header_normal
	{
	padding: 0;
	height: 28px;
	margin: 0;
	background-image: url(../img/teaser_blue_bg.jpg);
	background-repeat: repeat-x;
}

.chat_box .header_normal   , .news_box .header_normal {
	padding: 0;
	height: 28px;
	background-image: url(../img/news_bg.jpg);
	background-repeat: repeat-x;
}

.form_box .header_normal {
	padding: 0;
	height: 28px;
	background-image: url(../img/headline_grey_bg.jpg);
	background-repeat: repeat-x;
}

.empty_box .header_normal {
	padding: 0;
	height: 9px;
	background-image: url(../img/headline_grey_bg.jpg);
	background-repeat: repeat-x;
}

p.header_font_normal,span.header_font_normal {
	padding: 8px 0 0 10px;
	font-size: 9pt;
	text-decoration: none;
	font-weight: bold;
	color: #505050;
}

#center p.header_font_normal,#center span.header_font_normal {
	padding-left: 0;
	margin-left: 10px;
}

.warning_box p.header_font_normal,.warning_box span.header_font_normal {
	padding: 8px 0 0 10px;
	font-size: 10pt;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.empty_box span.content_font_normal {
	padding: 0;
}

.empty_box .header_font_normal {
	padding: 0;
}

.content_normal {
	padding: 0 0 3px 0;
	margin: 0;
	border-style: dotted solid none solid;
	border-width: 1px;
	border-top-color: #505050;
	border-right-color: #AFAFAF;
	border-left-color: #AFAFAF;
}

.warning_box .content_normal {
	padding: 10px;
	margin: 0;
	border-style: dotted solid none solid;
	border-width: 1px;
	border-top-color: #505050;
	border-right-color: #AFAFAF;
	border-left-color: #AFAFAF;
}

.userphoto {
	display: run-in;
	width: 60px;
	height: 60px;
}

.organisation_logo {
	display: run-in;
	max-width: 240px;
	max-height: 240px;
}

.content_normal .userimage .userphoto {
	border: 0;
	margin: 10px;
}

.content_normal .usercontact {
	margin-left: 10px;
}

.content_normal .fieldLabel {
	margin: 0 0 0 10px;
	font-size: 8pt;
	color: #000000;
}

.content_normal iframe {
	width: 97%;
	margin: 0px;
}

.content_iframe {
	margin-left: 10px;
}

.content_normal .usercontact ul {
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
}

.content_normal .usercontact ul li {
	margin-top: 3px;
	padding: 0;
}

.form_box .content_normal {
	border-style: dotted solid none solid;
	border-width: 1px;
	background: #F4F4F4;
	border-top-color: #505050;
	border-right-color: #AFAFAF;
	border-left-color: #AFAFAF;
}

.empty_box .content_normal {
	padding: 0 0 0 10px;
	border-style: none solid none solid;
	border-width: 1px;
	background: #F4F4F4;
	border-top-color: #505050;
	border-right-color: #AFAFAF;
	border-left-color: #AFAFAF;
}

p.content_font_normal,p.content_font_normal p {
	padding: 10px;
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
}

.warning_box p.content_font_normal,.warning_box p.content_font_normal p 	{
	padding: 0;
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
}

div.content_font_normal {
	padding: 10px 10px 10px 10px;
	font-size: 9pt;
	text-decoration: none;
	color: #505050;
}

span.content_font_normal {
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
}

#center .content_normal span.content_font_normal {
	margin-left: 10px;
}

#right span.content_font_normal {
	padding: 20px 0 10px 0;
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
}

p.content_font_error {
	padding: 0;
	font-size: 9pt;
	text-decoration: none;
	font-weight: bold;
	color: #505050;
}

.footer_normal_left_bg {
	margin-top: 0;
	float: left;
	width: 8px;
	height: 7px;
	background-image: url(../img/footer_left_bg.jpg);
	background-repeat: no-repeat;
}

.form_box .footer_normal_left_bg {
	float: left;
	width: 9px;
	height: 9px;
	background-image: url(../img/footer_grey_left_bg.jpg);
	background-repeat: no-repeat;
}

.empty_box .footer_normal_left_bg {
	float: left;
	width: 9px;
	height: 9px;
	background-image: url(../img/footer_grey_left_bg.jpg);
	background-repeat: no-repeat;
}

.footer_normal_right_bg {
	margin-top: 0;
	float: right;
	width: 8px;
	height: 7px;
	background-image: url(../img/footer_right_bg.jpg);
	background-repeat: no-repeat;
}

.form_box .footer_normal_right_bg {
	float: right;
	width: 9px;
	height: 9px;
	background-image: url(../img/footer_grey_right_bg.jpg);
	background-repeat: no-repeat;
}

.empty_box .footer_normal_right_bg {
	float: right;
	width: 9px;
	height: 9px;
	background-image: url(../img/footer_grey_right_bg.jpg);
	background-repeat: no-repeat;
}

.footer_normal {
	margin-top: 0;
	padding: 0;
	height: 7px;
	background-image: url(../img/footer_bg.jpg);
	background-repeat: repeat-x;
}

.form_box .footer_normal {
	padding: 0;
	height: 9px;
	background-image: url(../img/footer_grey_bg.jpg);
	background-repeat: repeat-x;
}

.empty_box .footer_normal {
	padding: 0;
	height: 9px;
	background-image: url(../img/footer_grey_bg.jpg);
	background-repeat: repeat-x;
}

ul {
	font-size: 8pt;
	text-decoration: none;
	color: #505050;
}

.content_font_normal ul {
	list-style-type: none;
	padding: 0 0 0 10px;
}

.field_label {
	display: block;
	font-size: 8pt;
	color: #000000;
	padding: 3px 0 0 10px;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
}

.field_inline_label {
	display: inline;
	font-size: 8pt;
	color: #000000;
	padding: 10px 20px 0 10px;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
}

#UserList {
	width: 96%;
	background: #FFF none repeat scroll 0%;
	border: 0;
	height: 50px;
}

#ChatArea {
	width: 96%;
	background: #FFF none repeat scroll 0%;
	border: 0;
	height: 300px;
	overflow: auto;
}

.field,.pulldown {
	width: 500px;
	font-size: 9pt;
	text-decoration: none;
	color: #505050;
	border: 1px solid #B4B4B4;
	margin: 3px 0 0 10px;
	display: block;
}

.field_inline,.pulldown_inline {
	width: 500px;
	font-size: 9pt;
	text-decoration: none;
	color: #505050;
	border: 1px solid #B4B4B4;
	margin: 1px 10px 0px 10px;
	display: inline;
}

.dateField {
	margin-left: 10px;
}

.uploadField {
	margin-left: 10px;
}

.checkbox {
	margin: 0 3px 0 0;
}

.fieldCheckBox {
	margin: 0 3px 0 0;
}

.field_error {
	display: block;
	font-size: 9pt;
	color: #FF0000;
	padding: 0 0 0 10px;
	text-decoration: none;
}

.requiredAsterix {
	color: #b80000;
}

.form_submit {
	width: 100px;
	height: 23px;
	font-size: 9pt;
	text-decoration: none;
	font-weight: bold;
}

.tablenavigator {
	
}

.tablenavigator table.paginator {
	margin-left: 6px;
	width: 200px;
	height: 15px;
}

span.table_data_info {
	text-align: right;
	font-size: 7pt;
	font-family: Verdana, Arial;
	margin: 0 10px 0 10px;
}

#center .tablenavigator table.paginator td {
	font-size: 9pt;
	color: #797979;
	font-weight: bold;
	font-decoration: none;
	padding: 2px;
	background: #FFFFFF none repeat scroll 0%;
}

#center .tablenavigator table.paginator td a {
	font-size: 9pt;
	color: #797979;
	font-weight: bold;
	font-decoration: none;
}

#center .tablenavigator table.paginator td.active {
	background: #D0D0D0 none repeat scroll 0%;
}

.button_warning {
	font-size: 9pt;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #888;
	margin-right: 10px;
	background-color: #bb0000;
	color: #fff;
}

.button_warning:hover {
	background-color: #ff0000;
}

td input.button,.button_unlink,.button_link,.button_remove,.button_move,.button_edit,.button_remove,.button_profile
	{
	width: 79px;
	height: 17px;
	margin: 2px 5px 2px 0;
	padding: 0;
	background-position: left top;
	background-image: url(../img/button_70_normal2.png);
	background-repeat: no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 7pt;
	text-decoration: none;
	font-weight: normal;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
	filter: DropShadow(color =   #FFF, offx =   1, offy =   1)
}

td input.button:hover,.button_unlink:hover,.button_link:hover,.button_remove:hover,.button_edit:hover,.button_remove:hover,.button_profile:hover
	{
	background-position: top right;
}

td .remove_shortcut_button {
	width: 121px;
	height: 17px;
	margin: 2px 5px 2px 0;
	padding: 0;
	background-position: left top;
	background-image: url(../img/button_120_normal_remove2.png);
	background-repeat: no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 7pt;
	text-decoration: none;
	font-weight: normal;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
	filter: DropShadow(color =   #FFF, offx =   1, offy =   1)
}

td .remove_shortcut_button:hover {
	background-position: top right;
}

.button_save,.button_send,.button_cancel,.button_back,.button_continue {
	width: 121px;
	height: 23px;
	margin-left: 10px;
	padding: 0;
	background-position: left top;
	background-image: url(../img/button_120_normal2.png);
	background-repeat: no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

.button_save:hover,.button_send:hover,.button_cancel:hover,.button_back:hover,.button_continue:hover {
	background-position: top right;
}

.button_warning {
	width: 121px;
	height: 23px;
	margin-left: 10px;
	padding: 0;
	background-position: left top;
	background-image: url(../img/button_120_red2.png);
	background-repeat: no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

.button_warning:hover {
	background-position: top right;
}

.button,.button_add,.button_login {
	display: inline;
	width: 151px;
	height: 23px;
	margin-right: 10px;
	padding: 0;
	background-position: left top;
	background-image: url(../img/button_140_normal2.png);
	background-repeat: no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

.button:hover,.button_add:hover,.button_login:hover {
	background-position: top right;
}

.button_big {
	display: inline;
	width: 211px;
	height: 23px;
	margin-left: 10px;
	padding: 0;
	background-position: left top;
	background-image: url(../img/button_180_normal2.png);
	background-repeat: no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

.button_big:hover {
	background-position: top right;
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: scroll;
	border-collapse: collapse;
	border-spacing: 0px;
}

.table_header {
	font-size: 8pt;
	color: #000;
}

#center .table_header a {
	font-size: 8pt;
	color: #000;
}

.table_header a img {
	display: inline;
}

th {
	margin: 1px;
	padding: 4px 8px;
	text-align: left;
	font-size: 8pt;
	font-weight: bold;
	color: #505050;
	background: #dfeec3;
}

.even>td {
	background-color: #FFF;
	border-bottom: 1px solid #ddd;
}

.odd>td {
	background-color: #FFF;
	border-bottom: 1px solid #ddd;
}

tr {
	margin: 0;
}

td {
	margin: 1px;
	padding: 5px 5px 5px 10px;
	text-align: left;
	font-size: 8pt;
	font-weight: none;
	background: none;
}

#footer_center {
	vertical-align: top;
	text-align: left;
}

#footer_center label {
	font-size: 8pt;
	color: #505050;
}

#footer_center a {
	font-size: 8pt;
	color: #505050;
	text-decoration: none;
}

#footer_left {
	float: left;
	width: 190px;
	padding-left: 10px;
	vertical-align: middle;
	text-align: left;
}

#footer_right {
	float: right;
	width: 180px;
	vertical-align: middle;
	text-align: left;
}

#footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footer li {
	padding-top: 5px;
}

#footer a {
	font-size: 8pt;
	font-weight: bold;
	color: #505050;
	text-decoration: none;
}

div.university_info {
	margin-bottom: 10px;
	overflow: auto;
}

div.university_info span {
	display: block;
	padding-bottom: 0;
	padding-top: 0;
}

div.institute_info {
	margin-bottom: 10px;
	overflow: auto;
}

div.institute_info span {
	display: block;
	padding-bottom: 0;
	padding-top: 0;
}

a.sort_header {
	text-decoration: none;
}

td .user_name {
	display: block;
	margin-bottom: 5px;
}

td .userphoto {
	display: block;
}

.col_post_text {
	margin: 0;
	padding: 0 5px 0 5px;
}

.col_post {
	vertical-align: top;
	margin: 0;
	padding: 0 5px 30px 5px;
}

td .col_post_text .content_font_normal {
	padding: 8px 0 8px 0;
	color: #000000;
	border-style: solid none none none;
	border-width: 1px;
	border-color: #919191;
}

td .col_post_attachments {
	color: #505050;
	padding: 0 5px 0 5px;
}

td .col_post_attachments .content_font_normal {
	padding: 3px 0 0 0;
	font-weight: bold;
	color: #000000;
	border-style: solid none none none;
	border-width: 1px;
	border-color: #919191;	
}

.col_post_author {
	vertical-align: top;
	width: 100px;
	margin: 0;
}

td .col_post_date {
	width: 150px;
	padding: 0 0 0 5px;
	margin: 0;
}

td .col_post_commands {
	width: 270px;
	padding: 0;
	margin: 0;
}

td .col_post_title {
	padding: 0;
	margin: 0;
}

td .pulldown_small {
	display: block;
	width: 100px;
	margin-left: 2px !important;
	font-size: 9pt;
	text-decoration: none;
	color: #505050;
	border: 1px solid #B4B4B4;
	margin: 1px 0 3px 10px;
}

td.col_commands {
	white-space: nowrap;
	text-align: center;
	width: 105px;
}

td.col_min_left {
	width: 110px;
	text-align: left;
}

td.col_date {
	width: 100px;
	text-align: center;
}

td.col_filesize {
	width: 60px;
	text-align: right;
}

td.col_min_center {
	width: 5px;
	text-align: center;
}

td.col_max_left {
	width: auto;
	text-align: left;
}

td.col_max_left label {
	display: inline;
}

td.col_max_left label input {
	display: inline;
}

span.news_publisher {
	font-weight: normal;
	font-size: 8pt;
}

span.news_date {
	color: #000;
	display:inline;
	font-weight: normal;
	font-size: 8pt;
}

span.news_title {
	color: #333;
	font-weight: bold;
	padding: 1px 0px;
	display: block;
}

#center a.news_link {
	background: url(../img/link_int.png);
	background-repeat: no-repeat;
	background-position: 1px 2px;
	padding-left:15px;	
	color:#000;
}

span.news_text {
	display: block;
	border-top: 1px solid #b4b4b4;
}

.table_scroll {
	overflow: auto;
	margin-bottom: 8px;
}

.jscalendar-WH-table-style {
	font-family: arial;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	color: #000000;
	background-color: #ffffff;
}

.jscalendar-WH-div-style {
	z-index: 999;
	position: absolute;
	visibility: hidden;
}

.jscalendar-WH-title-style {
	padding: 2px;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.jscalendar-WH-title-background-style {
	background-color: #EEEEEE;
}

.jscalendar-WH-title-control-normal-style {
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	cursor: pointer;
}

.jscalendar-WH-title-control-select-style {
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	cursor: pointer;
}

.jscalendar-WH-dropdown-style {
	font-family: arial;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EEEEEE;
	cursor: pointer;
}

.jscalendar-WH-dropdown-select-style {
	background-color: #F3F3F3;
	width: 20px;
}

.jscalendar-WH-dropdown-normal-style {
	background-color: inherit;
}

.jscalendar-WH-body-style {
	background-color: #FFFFFF;
	font-family: verdana;
	font-size: 10px;
}

.jscalendar-WH-current-day-style {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

.jscalendar-WH-end-of-weekday-style {
	color: #909090;
	text-decoration: none;
}

.jscalendar-WH-normal-day-style {
	color: black;
	text-decoration: none;
}

.jscalendar-WH-would-be-selected-day-style {
	background-color: #EEEEEE;
}

.jscalendar-WH-selected-day-style {
	border-style: solid;
	border-width: 1px;
	border-color: #a0a0a0;
}

.jscalendar-WH-holiday-style {
	background-color: #FFDDDD;
}

.jscalendar-WH-today-style {
	padding: 0px;
	color: black;
	background-color: #f0f0f0;
	text-align: center;
	text-decoration: none;
}

.jscalendar-WH-today-lbl-style {
	padding: 5px;
	text-align: center;
}

.jscalendar-WH-weeknumber-div-style {
	background-color: #d0d0d0;
	padding: 0px;
}

.jscalendar-DB-body-style td {
	padding: 2px;
}

.jscalendar-DB-table-style {
	position: absolute;
	left: 0px;
	font-family: arial;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #a0a0a0;
	background-color: #ffffff;
}

.jscalendar-DB-div-style {
	z-index: +999;
	position: absolute;
	visibility: hidden;
}

.jscalendar-DB-title-style {
	padding: 1px;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.jscalendar-DB-title-background-style {
	background-color: #0000aa;
}

.jscalendar-DB-title-background-style td {
	padding: 2px;
}

.jscalendar-DB-title-control-normal-style {
	border-style: solid;
	border-width: 1px;
	border-color: #3366FF;
	cursor: pointer;
}

.jscalendar-DB-title-img-normal-style {
	cursor: pointer;
}

.jscalendar-DB-title-control-select-style {
	border-style: solid;
	border-width: 1px;
	border-color: #88AAFF;
	cursor: pointer;
}

.jscalendar-DB-title-img-select-style {
	cursor: pointer;
}

table.jscalendar-DB-dropdown-style {
	width: 20px;
	margin: 5px 0 0 7px;
	font-family: arial;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #a0a0a0;
	background-color: #FFFFDD;
	cursor: pointer;
}

.jscalendar-DB-dropdown-select-style {
	background-color: #FFCC99;
}

.jscalendar-DB-dropdown-normal-style {
	background-color: inherit;
}

.jscalendar-DB-body-style {
	background-color: #FFFFFF;
	font-family: verdana;
	font-size: 10px;
}

.jscalendar-DB-current-day-style {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

.jscalendar-DB-end-of-weekday-style {
	color: #909090;
	text-decoration: none;
}

.jscalendar-DB-normal-day-style {
	color: black;
	text-decoration: none;
}

.jscalendar-DB-would-be-selected-day-style {
	background-color: #EEEEEE;
}

.jscalendar-DB-selected-day-style {
	border-style: solid;
	border-width: 1px;
	border-color: #a0a0a0;
}

.jscalendar-DB-holiday-style {
	background-color: #FFDDDD;
}

.jscalendar-DB-today-style {
	padding: 0px;
	color: black;
	background-color: #f0f0f0;
	text-align: center;
	text-decoration: none;
}

.jscalendar-DB-today-lbl-style {
	padding: 5px;
	text-align: center;
}

.jscalendar-DB-weeknumber-div-style {
	background-color: #d0d0d0;
	padding: 0px;
	width: 1px;
}

.jscalendar-DB-div-style table {
	width: 250px;
	margin: 0;
	padding: 0;
}

table.jscalendar-DB-dropdown-style {
	position: absolute;
	left: 0px;
	width: 50px;
	margin: 0;
	padding: 0;
}

.jscalendar-DB-title-background-style td {
	background-color: #0000AA;
}

#extended_search_link_padding {
	padding: 5px;
}

div .space_20above {
	margin-top: 20px;	
}

/*###################################*/

.option_box .header_font_normal {
		
}

.option_box .collapsed {
	margin-top: 6px;
	width: 13px;
	height: 10px;
	float: left;
	background-image: url(../img/collapsed_triangle_white.png);
	background-repeat: no-repeat;
}

.option_box .expanded {
	margin-top: 6px;
	width: 13px;
	height: 10px;
	float: left;
	background-image: url(../img/expanded_triangle_white.png);
	background-repeat: no-repeat;
}

#messages .messagesInfo .content_box .header_normal {
	padding: 0;
	margin: 0;
	height: 7px;
	background-image: url(../img/headline_green_bg.jpg);
	background-repeat: repeat-x;
}

#messages .messagesInfo .content_box .header_normal .header_normal_left_bg {
	float: left;
	width: 8px;
	height: 7px;
	background-image: url(../img/headline_green_left_bg.jpg);
	background-repeat: no-repeat;
}

#messages .messagesInfo .content_box .header_normal .header_normal_right_bg {
	float: right;
	width: 8px;
	height: 7px;
	background-image: url(../img/headline_green_right_bg.jpg);
	background-repeat: no-repeat;
}

#messages .messagesInfo .content_box .content_normal {
	margin: 0;
	padding: 5px 5px 5px 45px;
	background: url(../img/messages_ok.png) no-repeat 10px center;
	border-width: 0 1px 0 1px;
	border-right-color: #b3b3b3;
	border-left-color: #b3b3b3;
	background-color: #dfeec3;
	min-height: 23px;
	vertical-align: bottom;
}

#messages .messagesInfo .content_box .content_normal .info {
	margin: 0 0 0 5px;
	padding: 0;
	background-color: #dfeec3;
	color: #000;	
}

#messages .messagesInfo .content_box .footer_normal {
	margin-top: 0;
	padding: 0;
	height: 7px;
	background-image: url(../img/footer_green_bg.jpg);
	background-repeat: repeat-x;
}

#messages .messagesInfo .content_box .footer_normal .footer_normal_left_bg {
	margin-top: 0;
	float: left;
	width: 8px;
	height: 7px;
	background-image: url(../img/footer_green_left_bg.jpg);
	background-repeat: no-repeat;
}

#messages .messagesInfo .content_box .footer_normal .footer_normal_right_bg {
	margin-top: 0;
	float: right;
	width: 8px;
	height: 7px;
	background-image: url(../img/footer_green_right_bg.jpg);
	background-repeat: no-repeat;
}


#messages .messagesError .content_box .header_normal {
	padding: 0;
	margin: 0;
	height: 7px;
	background-image: url(../img/headline_red_bg.jpg);
	background-repeat: repeat-x;
}

#messages .messagesError .content_box .header_normal .header_normal_left_bg {
	float: left;
	width: 8px;
	height: 7px;
	background-image: url(../img/headline_red_left_bg.jpg);
	background-repeat: no-repeat;
}

#messages .messagesError .content_box .header_normal .header_normal_right_bg {
	float: right;
	width: 8px;
	height: 7px;
	background-image: url(../img/headline_red_right_bg.jpg);
	background-repeat: no-repeat;
}

#messages .messagesError .content_box .content_normal {
	margin: 0;
	padding: 5px 5px 5px 45px;
	background: url(../img/messages_error.png) no-repeat 10px center;
	border-width: 0 1px 0 1px;
	border-right-color: #a61f1f;
	border-left-color: #a61f1f;
	background-color: #ff7272;
	min-height: 23px;
	vertical-align: bottom;
}

#messages .messagesError .content_box .content_normal .error {
	margin: 0;
	padding: 0;
	background-color: #ff7272;
	color: #000;	
}

#messages .messagesError .content_box .footer_normal {
	margin-top: 0;
	padding: 0;
	height: 7px;
	background-image: url(../img/footer_red_bg.jpg);
	background-repeat: repeat-x;
}

#messages .messagesError .content_box .footer_normal .footer_normal_left_bg {
	margin-top: 0;
	float: left;
	width: 8px;
	height: 7px;
	background-image: url(../img/footer_red_left_bg.jpg);
	background-repeat: no-repeat;
}

#messages .messagesError .content_box .footer_normal .footer_normal_right_bg {
	margin-top: 0;
	float: right;
	width: 8px;
	height: 7px;
	background-image: url(../img/footer_red_right_bg.jpg);
	background-repeat: no-repeat;
}
/*###################################*/
a:hover {
	text-decoration: underline !important;	
}
div#center a {
	color:#2C5885 !important;
}
div#center div#header_center a, div#center div.flexList li.header a {
	color:#FFFFFF !important;
}
div#center div.empty_box a {
	color:#505050 !important;
}
div#center th.table_header a {
	color:#505050 !important;
}

/* WIKI STYLES */

.wiki_content {
	color:#505050;
    font-size:9pt;
    padding:10px;
    text-decoration:none;
}

.wiki_content a {
	text-decoration: underline !important;
}

.wiki_content ul {
  list-style-type: disc !important;
}

.wiki_content ul li {
    margin-left: 5pt;
}

.wiki_content p {
    margin-bottom: 10pt;
}


/* picklist */
table.picker {

}
td.pickerLeft {
	width: 300px;
}
td.pickerCenter {
    text-align: center;
}
td.pickerRight {
    width: 300px;
}
table.picker td select {
	width: 100%;
	height: 200px;
}
table.picker td input {
    width: 100%;
    height: 200px;
}