.commands a {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

.commands a span {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}
	
.commands a:focus span, .commands a:hover span {
  background-position: top right;
}

td.col_commands a {
  background: transparent none repeat scroll 0%;
  color: #FFFFFF;
  float: left;
  font-size: 0pt;
  height: 16px;
  line-height: 0px;
  margin: 0 5px 0 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 16px;
}

td.col_commands a span {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  left: 0pt;
  position: absolute;
  top: 0pt;
  width: 16px;
}
	
td.col_commands a:focus span, td.col_commands a:hover span {
  background-position: top right;
}

a.icon_edit span {
  background-image: url(../img/buttons/edit_icon.png);
}

a.icon_remove span {
  background-image: url(../img/buttons/delete_icon.png);
}

a.icon_profile span {
  background-image: url(../img/buttons/profile_icon.png);
}

a.icon_bookmark span {
  background-image: url(../img/buttons/bookmark_icon.png);
}

a.icon_bookmark_remove span {
  background-image: url(../img/buttons/bookmark_remove_icon.png);
}

a.icon_send span {
  background-image: url(../img/buttons/send_icon.png);
}
a.icon_sendnow span {
  background-image: url(../img/buttons/send_icon.png);
}
a.icon_public span {
  background-image: url(../img/buttons/public_icon.png);
}

a.icon_hide span {
  background-image: url(../img/buttons/hide_icon.png);
}

a.icon_move span {
  background-image: url(../img/buttons/move_icon.png);
}

a.icon_cancel span {
  background-image: url(../img/buttons/cancel_icon.png);
}