.flexList a {
	text-decoration: none;
	color: #5493D4;
}

.flexList a:hover {
	text-decoration: underline;
}

.flexList ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top:0px !important;
	margin-bottom:0px !important;
}

.flexList {
	width: 100%;
	margin-top: 7px;
}

.flexList .flexListItems {
	margin: 0px;

}

.flexListItems li {
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 0px 5px 0px;
}

.flexList .flexListBottom {
	margin: 0px;
}

.flexListBottom li {
	border: none;
	padding: 5px 0px 5px 0px;
}

.flexList .header {
	background-color: #5493D4;
	color: white;
	border: none;
	padding: 3px 0px 3px 0px;
}

.flexListItemRight {
	float:right;
	padding-right: 10px;
}

.flexListItemLeft {
	padding-left: 10px;
}

.flexList .highlight {
	color: #5DBF00;
}