<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="scheduler" class="org.openuss.framework.tests.SchedulerMock"/>
	<bean id="nodeScheduler" class="org.openuss.framework.tests.SchedulerMock"/>
	
	<bean id="domainEventPublisher" class="org.openuss.events.DomainEventPublisher"/>
	
	    <bean id="serviceSecurityInterceptor" class="org.springframework.aop.interceptor.SimpleTraceInterceptor"/>
	
    <bean id="scrollableUserDao" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <bean class="org.openuss.migration.imageresizer.ScrollableUserDao">
                <property name="sessionFactory" ref="sessionFactory"/>
            </bean>
        </property>
        <property name="proxyTargetClass" value="true"></property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
            </list>
        </property>
    </bean>
	
</beans>
