/* site structure definition */

#a { height:5em; }
#b { height:5em; }
#c { height:6.375em; }

/* Variante: Körper 2-Spaltig */

#main {
	width:61.5em;
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/farbunabhaengig/bg_weiss.gif);
	background-color:#ededed;
	}
#a {
	width:13.125em;
	}
#a1,
#a2 #hauptnavigation {
	width:49.4370em;
	}
#b {
	width:36.3025em;
	}
@media all {
*+html b\ody #a {
	width:13.101em;
	}
*+html b\ody #b {
	width:32.289em;
	}
*+html b\ody #a1,
*+html b\ody #a2 #hauptnavigation {
	width:45.4199em;
	}
}
#c {
	width:11.9em;
	w\idth:11.9370em;
	}
#e {
	width:36.345em;
	border-right:0.07em solid #A7A5A5;
	}
#f {
	float:left;
	width:11.9370em;
	border-left:0.07em solid #A7A5A5;
	margin-left:-0.07em;
	}
#k {
	padding-right:22.4em;
	}
#content_fuss {
	width:36.345em;
	border-right:0.07em solid #A7A5A5;
	}