@import url(flexlist.css);
@import url(master.css);
@import url(structure.css);
@import url(central.css);

#a1 ul li a.current,#hauptnavigation li a.current,#a1 ul li.current,#hauptnavigation li.current,#a1 ul li a:hover,#hauptnavigation li a:hover
	{
	background-image: url(../images/icons/navi_pfeil.gif);
}

#a1 ul li a:hover,#a2 ul li a:hover,#a1 ul li a.current,#a2 ul li a.current,#a1 ul li.current,#a2 ul li.current,#e form input.f_go_button,#f form input.f_go_button,#empfehlung .f_go_button
	{
	color: #ffffff;
}

#c form label.volltextsuche {
	background-image: url(../images/icons/sign_suche.gif);
}

#c form a.erw_suche {
	background-image: url(../images/icons/sign_link.gif);
}

#hauptnavigation li a {
	background-image: url(../images/icons/navi_pfeil.gif);
}

#schnellzugriff .schnellzugriff {
	background-image: url(../images/icons/sign_pagedown.gif);
}

#a2 ul li a,#c form label.volltextsuche,#c form a.erw_suche,#c form input.schnellzugriffbutton,#schnellzugriff .schnellzugriff
	{
	color: #ffffff;
}

body       " " #c form a.erw_suche {
	background-image: none;
}

body       " " #c form label.volltextsuche {
	background-image: none;
}

.openuss_logo {
	background-image: url(../images/logos/openuss_logo.jpg);
	background-repeat: no-repeat;
	background-position: 15px 20px;
	height: 79px;
	position: relative;
}

#d .header_font_normal {
	color: #333333;
	font-size: 0.6875em;
	font-weight: bold;
	line-height: 200%;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

#d input,#d select {
	background-color: #FFFFFF;
	border: 1px solid #A7A5A5;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6875em;
	margin-top: 3px;
	padding: 1px;
}

#d select {
	width: 140px;
}

#d label {
	display: block;
	margin-top: 0px;
	padding-top: 4px;
	font-size: 0.6875em;
}

#d ul {
	margin-left: -20px;
	margin-right: -20px;
	font-size: 0.6875em;
	line-height: 180%;
	margin-bottom: 25px;
}

#d ul.int li {
	list-style-type: none;
	list-style-image: url(../images/icons/bullet_right.gif);
}

/* 
	c section - service
*/
#c form {
	margin: 0px 0px -6px;
	padding: 0px;
}

#c form {
	color: #333333;
}

#c form p.header_font_normal {
	display: inline;
	background-position: right center;
	background-repeat: no-repeat;
	padding: 0 14px 0 0;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	background-image: url(../images/icons/sign_suche.gif);
	background-position: right center;
}

#c form .header_normal {
	margin-bottom: -6px;
	padding: 0px;
}

#c form .header_normal p.header_font_normal {
	font-size: 0.689em;
	font-weight: bold;
	line-height: 200%;
	text-transform: uppercase;
}

#c form p.content_font_normal {
	padding: 0;
	margin: 0;
}

#c form input.field_search {
	background-color: #FFFFFF;
	border: 1px solid #666666;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6875em;
	margin-top: 6px;
	padding-bottom: 3px;
	padding-top: 3px;
	width: 11.27em;
}

#c form a#searchlink {
	cursor: pointer;
	vertical-align: middle;
	padding: 0px;
	margin: 5px;
}

#c img.search {
	border: 0px;
	margin: -5px;
	padding: 0;
}

#c ul.int li a {
	font-size: 0.6875em;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 14px;
	line-height: 160%;
	text-decoration: none;
}

#c ul {
	margin: 0;
	padding: 0;
}

#c ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#c a.search_ext:hover {
	text-decoration: underline;
}

#c a.search_ext {
	color: #333333;
	background-image: url(../images/icons/sign_link.gif);
	background-position: 3px 50%;
	padding-left: 17px;
	padding-right: 3px;
}

/* e section - main area */
#e .bread_crumb .header_normal p.header_font_normal {
	font-size: 0.625em;
	font-weight: bold;
	margin: 0;
}

#e .content_box .header_normal p.header_font_normal {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

#e .content_box {
	margin: 0 0 0em;
}

#e label.field_label {
	display: block;
}

#e span.field_error {
	display: block;
	color: #f00;
}

#e .field, #e select {
	display: block;
	margin-top: -1px;
	width: 350px;
}

#e .button {
	margin-right: 10px;
}

#e span.header_font_normal {
	font-size:1em;
	font-weight:bold;
	line-height:180%;
	margin:0px;
	padding:0px;
	text-transform: uppercase;
}

/* f section - right side bar */
#f form p.header_font_normal {
	font-size: 0.625em;
	font-weight: bold;
	line-height: 200%;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

#f ul.int {
	font-size: 0.6875em;
	list-style-type: none;
	margin: 0px 0px 1.4em;
	padding: 0px;
}

#f ul.int li a {
	text-indent: 0px;
	padding-left: 14px;
	line-height: 140%;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}

#f ul.int li a:focus,#f .linkliste li a:active {
	background-position: 3px 5px;
	padding-right: 3px;
	margin-right: -3px;
	padding-left: 17px;
	margin-left: -3px;
}

#f p.content_font_normal {
	margin: 0;
	padding: 0;
}