<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<bean id="migrationService" class="org.openuss.migration.from20to30.MigrationService">
		<property name="legacyDao" ref="legacyDao"/>
		<property name="registrationService" ref="registrationService"/>
		<property name="securityService" ref="securityService"/>
	</bean>
	
	<!-- Local DataSource that works in any environment --> 
    <bean id="legacyDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>org.firebirdsql.jdbc.FBDriver</value></property>
        <property name="username"><value>sysdba</value></property>
        <property name="password"><value>masterkey</value></property>
        <property name="url"><value>jdbc:firebirdsql:localhost:openuss</value></property>
    </bean>

	
</beans>
