/* Flexlist CSS */

.flexList a {
	text-decoration: none;
	color: #5493D4;
}

.flexList a:hover {
	text-decoration: underline;
}

.flexList a:focus {
	outline-style: none;
}

.flexList ul {
	list-style-type: none;
	padding-left: 0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
}

.flexList {
	width: 100%;
	margin-top: 7px;
}

.flexList .flexListItems {
	margin: 0px;

}

.flexListItems li {
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 0px 5px 0px;
}

.flexList .flexListBottom {
	margin: 0px;
}

.flexListBottom li {
	border: none;
	padding: 5px 0px 5px 0px;
}

.flexList .header {
	background-color: #5493D4;
	color: white;
	border: none;
	padding: 3px 0px 3px 0px;
}

.flexList .header .flexListItemLeft {
	padding-left: 5px;
}

.flexList .header a{
	color:white !important;
}

.flexList .header a:hover{
	text-decoration:none !important;
}

.flexListItemRight {
	float:right;
	padding-right: 10px;
}

.flexListItemLeft {
	padding-left: 18px;
}

.flexList .highlight {
	color: #5DBF00;
}

.flexListItemRight a .remove_bookmark {
	background-image: url(../img/delete_button.png);
	background-repeat: no-repeat;
	padding: 1px 3px 0px 0px;
	margin: 3px 1px 0px 0px;
}

.flexListItemRight a:hover .remove_bookmark {
	background-image: url(../img/delete_button_over.png);
	background-repeat: no-repeat;
	padding: 1px 3px 0px 0px;
	margin: 3px 1px 0px 0px;
}

.flexListItemRight a {
	text-decoration: none !important;
}

.remove_bookmark .remove_bookmark_hidden {
	display:none !important;	
}
/* Tabs CSS */

#flexlist_tabs {}

#flexlist_tabs .header_normal {
  padding: 0;
  height: 28px;
  background-image: url(../img/headline_grey_bg.jpg);
  background-repeat: repeat-x;
}

#flexlist_tabs .header_normal_right_bg {
  float: right;
  width: 9px;
  height: 28px;
  background-image: url(../img/headline_grey_right_bg.jpg) !important;
  background-repeat: no-repeat;
}

#flexlist_tabs .tabs {
	float:left; 
	font-size: 13px; 
	margin-top: 1px;
}

.tabs #tab_selected {
	font-size: 13px !important; 
	float:left;  
	height: 27px; 
	background-color: white;
}

.tabs .tab_deselected {
	font-size: 13px !important; 
	float:left; 
	height: 27px; 
	background-color: #F4F4F4;
}

.tabs .tab_arrow_sel_right {
	float:left; 
	width: 30px; 
	height: 27px; 
	background-image: url(../img/arrow_white_to_grey.jpg);
}

.tabs .tab_content {
	margin-top: 5px;
}

.tabs .tab_arrow {
	float:left; 
	width: 30px; 
	height: 27px; 
	background-image: url(../img/arrow_grey_to_grey.jpg);
}

.tabs a:focus {
	outline-style: none;
}
