/*
# Änderungen:
#
#            es  E. Schaten   Online-Redaktion
#            mb  M.Bruns      Online-Redaktion
#            pw  P. Wichmann  Online-Redaktion
#
#
# 2008-03-01 mb  .flat #subnavigation (incl. EI6-Hack) ergaenzt
# 2008-02-29 mb  #schnellzugriff h2 geaendert
# 2008-02-29 pw  #empfehlung geaendert
# 2008-02-29 mb  #schnellzugriff h2 ergaenzt
# 2008-02-28 pw  .e_absatz_rechts ergaenzt
# 2008-02-28 mb  focus/active für Quicklink-Einträge ergänzt.
# 2008-02-27 mb  neue Quicklinks ergänzt.
# 2008-02-21 mb  #e fieldset von #e form fieldset separiert
                 # .teaser ergänzt
# 2008-02-25 mb  Formatierungen h3-h6 eingefügt
#                #e ul eingefügt
# 2008-02-22 mb  Ausrichtung der Hintergrundgrafiken in #a und #b korrigiert
# 2008-02-21 mb  a.seitenanfang ergänzt
# 2008-02-21 mb  p.seitenanfang a und p.seitenanfang  ergänzt.
#                Hintergrundausrichtung in #a und #b vertikal zentriert
# 2008-02-20 mb  #e form textarea ergänzt
# 2008-02-18 mb  Diverse IE6/7-Hacks integriert zur Darstellung der Pictogramme im Bereich #e und #f
*/

html body {font-size:16px;}
@media all { *html b\ody {font-size:1em;}}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding:0px;
	text-align:center;
	background-color:#CCCCCC;
	}

div.unsichtbar {
	display:none;
	}
#empfehlung {
	background-color:#EDEDED;
        font-size:0.6em;
	}
#empfehlung h1{
        font-size:1.3em;
	}
#empfehlung .typoheading {
        font-weight:bold;
	}
#empfehlung .f_go_button {
        font-weight:bold;
	border:0px;
	}
#empfehlung form input:hover.f_go_button {
	background-color:#333333;
	}
#main {
	position:relative;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	text-align:left;
	background-repeat:repeat-y;
	background-position:13.125em 0px;
	}
	
a {outline:none;} /* verhindert Link-Umrandung im Firefox */

.abstand {padding:10px;} /* Seitenabstand fuer alle Satzspiegel */
.hidden {position:absolute;visibility:hidden;left:-1000px;}
.clear {position:relative;clear:left;}


/* ID "skipnav":
        Schiebt die "unsichtbaren" Navigationsspruenge aus dem Viewport,
        dadurch lassen sich uebereifrige Screenreader, die
        ausgerechnet "display:none" akustisch auswerten,
        taeuschen, und lesen die so versteckten Hilfen dennoch vor.
        Gleichzeitig werden die so versteckten Navigationsspruenge auch
		fuer die Tabulatornavigation nutzbar.
		Letzteres funktioniert im IE nur eingeschruenkt.
*/

#skipnav {
        position:absolute;
        left:-2000px;
	z-index:3000;
}

/* macht die Uebersprunglinks beim Tabben sichtbar */
#skipnav a:focus, #skipnav a:active {
    position:absolute;
    left:2000px;
    top:0px;
    width:20em;
	z-index:30000;
	font-size:0.8em;
	padding:0.4em;
	border:1px solid #FFFFFF;
}
/* Class "skipnav": ENDE */

/*---------------------------------------------- Quicklinks ---*/

#schnellzugriff {
	width:11.27em;
	margin-top:1.4em;
	font-size:0.6875em;
	z-index:49000;
	}

#schnellzugriff .schnellzugriff {
	position:absolute;
	display:block;
	padding-right:14px;
	padding-bottom:10px;
	background-repeat:no-repeat;
	background-position:right 2px;
	text-decoration:none;
	z-index:50000;
	}
#schnellzugriff .schnellzugriff:hover {
	text-decoration:underline;
	}
#schnellzugriff:hover .schnellzugriff {
	text-decoration:underline;
	}
	
	
#schnellzugriff ul {
	display:none;
	position:absolute;
	right:5px;
	margin:0px;
	margin-top:1.5em;
	padding:10px;
	list-style-type:none;
	background-color:#F7F7F7;
	border:1px solid #CCCCCC;
	max-height:350px;
	width:18em;
	overflow:auto;
	overflow-x:hidden;
	z-index:50000;
	}
#schnellzugriff h2 {
	margin-top:0.8em;
	font-weight:bold;
	font-size: 1em;
	text-transform:uppercase;
	}
#schnellzugriff:hover ul {
	display:block;
	}
	
#schnellzugriff ul li {
	display:block;
	border-top:1px solid #CCCCCC;
	margin-top:5px;
	padding-top:5px;
	}
#schnellzugriff ul li.first {
	border-top-width:0px;
	margin-top:0px;
	padding-top:5px;
	}
	
#schnellzugriff ul li a {
	display:block;
	width:16em;
	padding-left:16px;
	padding-top:3px;
	padding-bottom:3px;
	color:#333333;
	background-repeat:no-repeat;
	background-position:left 50%;
	text-decoration:none;
	}
#schnellzugriff ul li a:hover {
	text-decoration:underline;
	}

#schnellzugriff ul li ul {
	position:relative;
	float:none;
	margin:0px;
	padding:0px;
	border-width:0px;
	}
#schnellzugriff ul li ul li {
	float:none;
	margin:0px;
	padding:0px;
	border-width:0px;
	}
	

@media all {
* html b\ody #schnellzugriff ul {
	height:350px;
	overflow:scroll;
	overflow-x:hidden;
	}
* html b\ody #schnellzugriff ul li {
	height:1px;
	}
* html b\ody #schnellzugriff ul li ul  {
	display:inline;
	}
* html b\ody #schnellzugriff ul li ul li {
	display:inline;
	}
}


#schnellzugriff ul {
	max-height:350px;
	}
@media all {
	* html b\ody #schnellzugriff ul {
	height:350px;
	}
}
	
/*----------------------------------------------------- Kopf ---*/

#main #kopf {
	z-index:50;
	}
#kopf {
	p\osition:relative;
	background-color:#FFFFFF;
	min-height:200px;
	}
@media all {
* html b\ody #kopf {
	height:200px;
	}
}
#logo1 {
	p\osition:relative;
	float:left;
	height:79px;
	width:13.125em;
	margin:0px;
	margin-right:32.3em;
	background-color:#FFFFFF;
	text-align:right;
	}
#logo1 img.logo {
	p\osition:absolute;
	bottom:8px;
	right:-137px;
	border:0px;
	}
#logo2 {
	p\osition:relative;
	float:left;
	height:79px;
	width:11.9375em;
	background-color:#FFFFFF;
	border-left:0.125em solid #FFFFFF;
	}
#logo2 img {
	p\osition:absolute;
	bottom:5px;
	padding-left:10px;
	}
#logo3 {
	p\osition:relative;
	margin-left:25em;
	width:20.48em;
	height:79px;
	}
@media all {
* html b\ody #logo3 {
	margin-top:-79px!;
	}
*+html b\ody #logo3 {
	margin-top:-79px!;
	}
}
#logo3 img {
	p\osition:absolute;
	bottom:5px;
	right:0px;
	padding-right:10px;
        border:0px;
	border-right:1px solid #CCCCCC;
	}

#logo1 a img.logo, #logo2 a img {
        border:0px;
	}
#a {
	p\osition:relative;
	float:left;
	background-position: right 50%;
	background-repeat:no-repeat;
	}

#a1 {
	clear:left;
	min-height:20px;
	border-top:2px solid #FFFFFF;
	background-color:#A7A5A5;
	}
#a2 {
	p\osition:relative;
	clear:both;
	min-height:20px;
	border-top:2px solid #FFFFFF;
	border-bottom:2px solid #FFFFFF;
/*	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/farbunabhaengig/bg_weiss.gif); */
	background-repeat:repeat-x;
	background-position:0px 20px;
	}
@media all {
* html b\ody #a1 {
	height:20px;
	margin-top:0px;
	float:left;
	}
* html b\ody #a2 {
	height:20px;
	}
* html b\ody #a1 ul li a,
* html b\ody #a1 ul li.current {
	padding-top:3px;
	padding-bottom:4px;
	}
* html b\ody #a2 ul li a,
* html b\ody #a2 ul li.current {
	padding-top:3px;
	padding-bottom:4px;
	}
* html b\ody #a3 #schriftskalierung ul li a,
* html b\ody #a3 #schriftskalierung ul li.current {
	padding-bottom:4px;
	}
}
	
#a1 ul, #a2 ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	}
#a1 ul li, #a2 ul li {
	margin:0px;
	padding:0px;
	float:left;
	color:#FFFFFF;
	font-size:0.6875em;
	border-right:2px solid #FFFFFF;
	}
#a1 ul li a, #a2 ul li a,
#a1 ul li.current, #a2 ul li.current {
	text-decoration:none;
	background-position:5px 50%;
	background-repeat:no-repeat;
	padding-top:4px;
	padding-left:17px;
	padding-right:11px;
	display:block;
	min-height:16px;
	}
#a1 ul li a, #a1 ul li.current {
	color:#FFFFFF;
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/navi_pfeil.gif);
	}
#a2 ul li a, #a2 ul li.current {
	font-weight:bold;
	}
@media all {
* html b\ody #a1 ul li a, * html b\ody #a2 ul li a {
	width:1px;
	white-space:nowrap;
	height:16px;
	}
}
#a1 ul li a.current strong, #a1 ul li.current strong {
	font-weight:normal;
	}
#a3 {
	p\osition:absolute;
	right:0px;
	top:0px;
	width:11.3120em;
	}

#a3 #schriftskalierung {
	p\osition:absolute;
	right:0px;
	top:0px;
	}

#a3 ul li{
	border-width:0px;
	padding:0px;
	padding-top:2px;
	padding-right:6px;
	}
#a3 ul li a {
	padding:0px;
	border-width:0px;
        background-image: none;
	}
#a3 ul li a img {
	border-width:0px;
	padding:2px;
	}
#a3 #sprachwahl ul li a img {
	width:1.540625em;
	height:1.090875em;
	}
@media all {
* html b\ody #a3 #sprachwahl ul li a img {
	margin-bottom:-2px;
	}
}	
#a3 #schriftskalierung ul li{
	padding: 0;
        font-size:0.685em;
	border-left: 1px #ffffff solid;
	}
#a3 #schriftskalierung ul li a{
	padding: 3px;
	padding-bottom: 0px;
        background-image:none
	}
.scalesign {
	font-size:0.6em;
	vertical-align:text-top;
	}

#a2 #a3 ul li a:hover {
	text-decoration:none;
	}
	
#b {
	float:left;
	background-position: left 50%;
	background-repeat:no-repeat;
	}
#c {
	float:right;
	border-left:0.125em solid #FFFFFF;
	}
#c form {
	margin:0px;
	padding:0px;
	margin-bottom:-6px;
	}
#c form.schnellzugriff {
	margin-top:10px;
	margin-bottom:-6px;
	}
#c form label {
	display:inline;
	margin:0px;
	padding:0px;
	font-size:0.6875em;
	font-weight:bold;
	color:#333333;
	text-transform:uppercase;
	}
#c form label.volltextsuche {
	background-repeat:no-repeat;
	background-position:right;
	padding-right:14px;
	}
@media all {
* html b\ody #c form.volltextsuche {
	margin-top:-5px;
	}
*+html b\ody #c form.volltextsuche {
	margin-top:-5px;
	}
}
#c form label.schnellzugriff {
	display:none;
	}
#c a.erw_suche {
	font-size:0.6875em;
	background-repeat:no-repeat;
	background-position:0px 50%;
	padding-left:14px;
	line-height:160%;
	text-decoration:none;
	}
#c a:hover.erw_suche {
	text-decoration:underline;
	}
#c form input.suchfeld {
	width:11.27em;
	border:1px solid #666666;
	background-color:#FFFFFF;
	color:#666666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.6875em;
	padding-top:3px;
	padding-bottom:3px;
	margin-top:6px;
	}
#c form input.suchbutton {
	height:1.77em;
	width:2.81em;
	vertical-align:middle;
	cursor:pointer;
	background-color:#ffffff;
	}
@media all {
*+html b\ody #c form input.suchbutton {
	height:1.452em;
	width:2.3em;
	vertical-align:text-bottom;
	}
* html body #c form input.suchbutton {
	height:1.465em;
	width:2.3em;
	vertical-align:text-bottom;
	}
* html body #c form input.suchfeld {
	padding-top:1px;
	}
}
html:first-child>b\ody #c form input.suchbutton {
    height:1.5em;
    width:2.2em;
    }
#c form input:hover.suchbutton {
	background-color:#333333;
	}
#c form select.schnellzugriff {
	width:12.6em;
	border:1px solid #666666;
	background-color:#ffffff;
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.625em;
	padding:1px;
	margin-top:4px;
	}
/*----------------------------------------------------- Fuss ---*/

#fuss {
	position:relative;
	clear:left;
	}
#g {}
#h {
	height:21px;
	background-color:#D6D6D6;
	}
#i {}
#j {}
#k {
	min-height:18px;
	background-color:#ffffff;
	text-align:right;
	font-size:0.5625em;
	color:#333333;
	line-height:180%;
	}
@media all {
* html b\ody #k {
	height:18px;
	}
}
#k a {
	text-decoration:none;
	}
#k a:hover {
	text-decoration:underline;
	}
#l {}

div.adresse {display:none;}

/*--------------------Content--------------------------*/
#koerper {
        color: #333333;
	position:relative;
	clear:both;
	background-repeat:no-repeat;
	background-position:left bottom;
	min-height:1px;
	}
#d a, #d .self, #k a {
	color: #333333;
        text-decoration: none;
	}
@media all {
* html b\ody #koerper {
	height:1px;
	}
}
#d {
	float:left;
	width:13.125em;
	padding-top:2px;
	}
#d h3 {
	margin:0px;
	padding:0px;
        color: #333333;
	font-size:0.6875em;
	font-weight:bold;
	line-height:200%;
	text-transform:uppercase;
	}
#d div.adresse {
	display:block;
	min-height:150px;
	font-size:0.6875em;
	line-height:180%;
	margin-bottom:25px;
	}
#d div.adresse address {
	font-style:normal;
	padding-left:12px;
	padding-right:10px;
	line-height:150%;
	}

#d div.adresse address a {
	margin: 0px -10px 0px -12px;
        padding-left:30px;
	}
#d ul {
	list-style-type:none;
	}
#subnavigation {
	min-height:320px;
	font-size:0.6875em;
	margin-bottom:25px;
	line-height:180%;
	}
.flat #subnavigation {
	min-height:170px;
	}
#metanavigation {
	margin-bottom:60px;
	font-size:0.625em;
	line-height:220%;
	}
#subnavigation, #metanavigation, .adresse {
	margin-left:-10px;
	margin-right:-10px;
	}
#subnavigation ul, #metanavigation ul {
	margin:0px;
	padding:0px;
	}
#subnavigation ul li a, #metanavigation ul li a, #subnavigation ul li .self, #metanavigation ul li .self {
	padding-left:30px;
	padding-right:10px;
	}
#subnavigation ul li a, #subnavigation ul li .self,
#d .adresse a.int, #d .adresse a.e_mail {
	background-position:12px 5px;
	line-height:140%;
	padding-bottom:0.2em;
	padding-top:0.2em;
	}
#metanavigation ul li a, #metanavigation ul li .self {
	background-position:12px 50%;
	}
#subnavigation .typoheading {
	padding-left:12px;
	line-height:140%;
	padding-bottom:0.2em;
	padding-top:0.2em;
	display: block;
	}
#subnavigation ul li.ausgeklappt a, #subnavigation ul li.ausgeklappt .self, #subnavigation li.ausgeklappt .typoheading {
	background-position:12px 5px;
	padding-left:30px;
	}
#subnavigation ul li.ausgeklappt ul a, #subnavigation ul li.ausgeklappt ul .self {
	background-position:30px 6px;
	padding-left:40px;
	}
#subnavigation #navi_back li strong {
	font-weight: normal;
	}

#metanavigation ul li a, #subnavigation ul li.ausgeklappt ul a, #subnavigation ul li.ausgeklappt a, #subnavigation ul li a,
#metanavigation ul li .self, #subnavigation ul li.ausgeklappt ul .self, #subnavigation ul li.ausgeklappt .self, #subnavigation ul li .self,
div.adresse address a {
	background-repeat:no-repeat;
	display:block;
	text-decoration:none;
	}
#metanavigation ul li a:hover, #subnavigation ul li a:hover, #subnavigation ul li.ausgeklappt ul a:hover, #subnavigation ul li a:hover {
	text-decoration:underline;
	}
#subnavigation .typoheading, #subnavigation ul li.ausgeklappt a, #subnavigation ul li.ausgeklappt .self {
	font-weight:bold;
	}
#subnavigation ul li.ausgeklappt {
	background-color:#dfdede;
	padding-bottom:3px;
	}
#subnavigation ul li.ausgeklappt ul a, #subnavigation ul li.ausgeklappt ul .self {
	font-weight:normal;
	color:#333333;
	}
#subnavigation dfn {
	position: absolute ! important;
	top: -6000px ! important;
	left: -6000px ! important;
	height: 1px ! important;
	width: 1px ! important;
	}
@media all {
* html body #subnavigation {
	height:320px;
	}
* html body .flat #subnavigation {
	height:170px;
	}
* html b\ody #d .adresse {
	height:150px;
	}
* html body #subnavigation ul li{
	height:1px;
	}
* html body #metanavigation ul li{
	height:1px;
	}
* html b\ody #subnavigation ul li a,
* html b\ody #subnavigation ul li .self,
	background-position:12px 6px;
	}
* html b\ody #subnavigation ul li.ausgeklappt a,
* html b\ody #subnavigation ul li.ausgeklappt .self {
	background-position:12px 6px;
	}
* html b\ody #subnavigation ul li.ausgeklappt ul a,
* html b\ody #subnavigation ul li.ausgeklappt ul .self {
	background-position:30px 7px;
	}
}
#metanavigation ul li a:hover {
	text-decoration:underline;
	}
#metanavigation ul li a.startseite {
	background-image:url(../images/icon/bullet_homepage.gif);
	}
#metanavigation ul li a.kontakt {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/333333/sign_kontakt.gif);
	}
#metanavigation ul li a.sitemap {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/333333/sign_sitemap.gif);
	}
#metanavigation ul li a.index {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/333333/sign_az.gif);
	}
#metanavigation ul li a.intern {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/333333/bullet_intranet.gif);
	}
#content {
	float:left;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#FFFFFF;
	}
#e {
	float:left;
	min-height:530px;
	line-height:120%;
	}
@media all {
* html body #e {
	height:530px;
	}
}
#e div.abstand {
	font-size:0.6875em;
	}
#e h1 {
	font-size:1.2em;
	margin-top: 0px;
	}
#e h2, #e h3, #e h4, #e h5, #e h6 {
	margin:0px;
	padding:0px;
	font-size:1em;
	font-weight:bold;
	line-height:180%;
	}
#e a, #f a {
	text-decoration:none;
	text-transform:none;
	}
#e .typoheading, #e .typoheading a, #f .typoheading {
	text-transform:uppercase;
	}
#e a:hover, #f a:hover {
	text-decoration:underline;
	}
#f a {
	background-repeat:no-repeat;
	background-position:0px 5px;
	text-indent: 14px;
	display:block;
	}
#f .linkliste li a {
	text-indent: 0px;
	padding-left: 14px;
	}
#e img, #e img a {
	border:0px;
	}
#e a:active img, #e img a:focus img, #e img a:hover img{
	border:2px solid #666666;
	background-color: #666666;
	}
#e p {
	margin:0px;
	padding:0px;
	margin-bottom:2em;
	}
    
#e hr, #f hr {
	border-width:0px;
	border-bottom:1px solid #a7a5a5;
	height:1px;
	}
#e ul {
	list-style-type:square;
	}
#e ul.linkliste {
	margin:0px;
	padding:0px;
	margin-bottom:2em;
	list-style-type:none;
	}
#e ul.linkliste a {
	background-repeat: no-repeat;
	}
#e ul.linkliste .aktuelle-meldungen,
#e ul.linkliste .rss-abo {
	background-position: 3px 3px;
	padding-left: 17px;
	margin-left: -3px;
	padding-right: 3px;
	}
#e .typominitext {
	font-size: 0.8em;
	}
#e .typobold {
	font-weight: bold;
	}
#e table {
	cellspacing:1px;
        cellpadding:2px;
        font-size:1em;
	}
#e td {
	vertical-align:top;
        font-size:1em;
	}
#e form, #e .tab1, #e .tab2, #e .tab3, #e .tab4, #e .tab5,  #e caption {
        padding:0.2em;
	}
#e .tab1, #e .tab2, #e .tab3, #e .tab4, #e .tab5, #e caption {
        line-height:1.4em;
	}
#e caption {
	text-transform:uppercase;
	border: 2px solid white;
	border-bottom: 0px;
	}
#e caption, #e thead th {
	font-weight:bold;
	}
#e tfoot td {
	font-size:0.8em;
	}
#e fieldset {
	border-width: 0.1em;
	border-style: solid;
	}
#e fieldset legend {
	text-transform:uppercase;
        font-weight:bold;
	}
#e form textarea, #e form input, #f form input, #e form select, #f form select {
	font-size:1em;
	border: 1px solid #a7a5a5;
	background-color:#ffffff;
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;
	margin-top:6px;
	}
#e form table {
	border:0px;
	}
#e form fieldset {
	border-color: #A7A5A5;
        padding: 1em;
	}
#e form legend {
	color:#333333;
	}
#e form input.f_go_button, #f form input.f_go_button {
	border-width:0px;
	font-weight:bold;
	padding-top:3px;
	padding-bottom:3px;
	cursor:pointer;
	}
#e form input:hover.f_go_button, #f form input:hover.f_go_button {
	background-color:#333333;
	}
#e form td {
        vertical-align:middle;
	}
#e form input.formcheckbox {
	border:0;
	}
#e .teaser {
	margin-bottom:2em;
	padding: 0px 0.5em;
	}
#e .teaser img {
	float:left;
	margin-right:1em;
	margin-bottom:0.5em;
	}
#e .teaser p {
	margin-bottom: 0.5em;
	}
#e .e_img_rechts {
	float: right;
	margin: 5px 0 5px 5px;
	}
#e .e_absatz_rechts {
	margin-bottom:7px;
	margin-left:0px;
	width: 99%;
	}
#e .e_absatz_rechts img {
    float:right;
    margin-left:5px;
	}
#f h2 {
	margin:0px;
	padding:0px;
	font-size:0.625em;
	font-weight:bold;
	line-height:200%;
	text-transform:uppercase;
	}
#f h3 {
	margin:0px;
	padding:0px;
	font-size:0.625em;
	font-weight:normal;
	line-height:180%;
	}
#f h3 a {
	font-weight:bold;
	}
#f h4 {
	margin:0px;
	padding:0px;
	font-size:0.625em;
	font-weight:bold;
	line-height:160%;
	}
#f p {
	margin:0px;
	padding:0px;
	font-size:0.625em;
	font-weight:normal;
	line-height:160%;
	margin-bottom:1.4em;
	}
#f ul.linkliste {
	margin:0px;
	padding:0px;
	font-size:0.6875em;
	margin-bottom:1.4em;
	list-style-type:none;
	}
#f ul.linkliste a {
	display:block;
	background-position:0px 0.4em;
	line-height:140%;
	padding-bottom:0.2em;
	padding-top:0.2em;
	}
#f ul.linkliste a:active, #f ul.linkliste a:focus{
	background-position:0px 0.4em;
	}
@media all {
* html #f ul.linkliste li{
	height:1px;
	}
}
#f div.abschluss ul.linkliste {
	font-size:0.625em;
	line-height:160%;
	margin-bottom:1.4em;
	list-style-type:none;
	}
	
#f abbr {
	border-width:0px;
	}
	
#content_fuss {
	clear:left;
	}

span.diese_seite {
	font-size:0.6875em;
	float:left;
	padding-right:10px;
	line-height:160%;
	}
	
ul.diese_seite {
	margin:0px;
	padding:0px;
	list-style-type:none;
	}

ul.diese_seite li {
	float:left;
	padding-right:10px;
	}
ul.diese_seite li a {	
	text-decoration:none;
	}
ul.diese_seite li a img {
	border-width:0px;
	}
	
img.drucken {width:0.8125em;height:0.6875em;}
img.empfehlen {width:0.9375em;height:0.6875em;}
img.kommentieren {width:0.75em;height:0.6875em;}
	
#sprungmarken {
	clear:left;
	text-align:right;
	font-size:0.6875em;
	margin-bottom:-0.8em;
	}
p.seitenanfang {
	clear:left;
	text-align:right;
	}
#sprungmarken ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	float:right;
	margin-top:-1.3em;
	}
#sprungmarken ul li {
	float:left;
	padding-left:10px;
	}
#sprungmarken ul a, p.seitenanfang a, a.seitenanfang {
	text-decoration:none;
	background-repeat:no-repeat;
	background-position:0px 50%;
	padding-left:14px;
	}
#sprungmarken ul a:hover, p.seitenanfang a:hover, a.seitenanfang:hover {
	text-decoration:underline;
	}

/* Optische auszeichnungen fuer TAB-Navigation: */
/*-------------------------------------------*/
#skipnav a:focus, #skipnav a:active, a:focus, a:active, #c a:focus.erw_suche, #c a:active.erw_suche, #d a:focus, #d a:active, #e a:focus, #e a:active, #f a:focus, #f a:active, #k a:focus, #k a:active {
	background-color:#666666;
	color:#FFFFFF;
	}
#logo1 a:focus, #logo1 a:active, #logo2 a:focus, #logo2 a:active {
	background-color:#FFFFFF;
	}
#logo1 a:focus img, #logo1 a:active img, #logo2 a:focus img, #logo2 a:active img, #logo3 a:focus img, #logo3 a:active img {
	padding-top:5px;
	margin-left:5px;
	padding:5px;
	border:1px solid #666666;
	}
#a1 ul li a:focus.current, #a2 ul li a:focus.current, #a1 ul li a:active.current, #a2 ul li a:active.current, #a2 ul li a:focus,#schnellzugriff ul li a:active, #schnellzugriff ul li a:focus {
	background-color:#666666;
	color:#FFFFFF;
	}
#a1 ul li a:focus.current, #hauptnavigation li a:focus.current, #a1 ul li a:active.current, #hauptnavigation li a:active.current, #hauptnavigation li a:focus {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/navi_pfeil.gif);
	}
#c form input:focus.suchbutton, #c form input:active.suchbutton {
	background-color:#000000;
	outline:none;
	}
#c form input:focus.suchfeld, #c form input.suchfeld:active {
	border:1px solid #000000;
	background-color:#E9E9E9;
	width:11.14em;
	}	
#c a:focus.erw_suche, #c a:active.erw_suche {
	color:#FFFFFF;
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_link.gif);
	background-position:3px 50%;
	padding-left:17px;
	padding-right:3px;
	}
#c form select:focus.schnellzugriff, #c form select:active.schnellzugriff {
	border:1px solid #000000;
	background-color:#E9E9E9;
	outline:none;
	}
#subnavigation ul li a:focus, #subnavigation ul li.ausgeklappt ul a:focus, #subnavigation ul li a:active, #subnavigation ul li.ausgeklappt ul a:active, #d .adresse a.int:active, #d .adresse a.int:focus {
	color:#FFFFFF;
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_right.gif);
	}
#subnavigation #navi_back li a:active, #subnavigation #navi_back li a:focus {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_up.gif');
	}
#subnavigation ul li a:focus, #subnavigation ul li a:active, #metanavigation ul li a:focus, #metanavigation ul li a:active {
	padding-left:30px;
	padding-right:20px;
	} 
#d .adresse a.int:active, #d .adresse a.int:focus, #d .adresse a.e_mail:active, #d .adresse a.e_mail:focus {
	margin-left:  -12px;
	padding-left:  30px;
	margin-right: -20px;
	background-position:12px 5px;
 	}
#subnavigation ul li a:focus, #subnavigation ul li a:active {
	background-position:12px 5px;
	} 
#metanavigation ul li a:focus, #metanavigation ul li a:active {
	background-position:12px 50%;
	} 
#subnavigation ul li.ausgeklappt a:focus, #subnavigation ul li.ausgeklappt a:active {
	color:#FFFFFF;
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_right.gif);
	}
#subnavigation ul li.ausgeklappt ul a:focus, #subnavigation ul li.ausgeklappt ul a:active {
	color:#FFFFFF;
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/subnav.gif);
	background-position:30px 6px;
	padding-left:40px;
	}
#metanavigation ul li a:focus.startseite, #metanavigation ul li a:active.startseite {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_homepage.gif);
	}
#metanavigation ul li a:focus.kontakt, #metanavigation ul li a:active.kontakt {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_kontakt.gif);
	}
#metanavigation ul li a:focus.sitemap, #metanavigation ul li a:active.sitemap {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_sitemap.gif);
	}
#metanavigation ul li a:focus.index, #metanavigation ul li a:active.index {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_az.gif);
	}
#metanavigation ul li a:focus.intern, #metanavigation ul li a:active.intern {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_intranet.gif);
	}
#d .adresse a.e_mail:active, #d .adresse a.e_mail:focus {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_kontakt.gif);
	 }
#f a:focus, #f a:active {
	background-position:3px 5px;
	padding-right:3px;
	padding-left:3px;
        margin-left:-3px;
        margin-right:-3px;
	}
#f .linkliste li a:focus, #f .linkliste li a:active {
	background-position:3px 5px;
	padding-right:3px;
        margin-right:-3px;
	padding-left:17px;
        margin-left:-3px;
	}
#d a:focus, #d a:active {
	padding-left:3px;
	padding-right:3px;
	}
#e a.int:focus, #e a.int:active, #e a.ext:focus, #e a.ext:active, #e a.download:focus, #e a.download:active, #e a.e_mail:focus, #e a.e_mail:active, #e a.intranet:focus, #e a.intranet:active {
	background-image: none;
	padding-right:3px;
        padding-left:3px;
        margin-left:-3px;
        margin-right:-3px;
	}
#e a.int:focus:before, #e a.int:active:before {
	content: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_link.gif) "\A0";
	}
#e a.ext:focus:before, #e a.ext:active:before {
	content: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_link_extern.gif) "\A0";
	}
#e a.download:focus:before, #e a.download:active:before {
	content: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_download.gif) "\A0";
	}
#e a.e_mail:focus, #e a.e_mail:active:before {
	content: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_kontakt.gif) "\A0";
	}
#e a.intranet:focus, #e a.intranet:active:before {
	content: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_intranet.gif) "\A0";
	}
#f a:focus, #f a:active {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_right.gif);
	}
@media all {
* html b\ody #e a.int:focus,* html b\ody #e a.int:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_link.gif);
	}
* html b\ody #e a.ext:focus, * html b\ody #e a.ext:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_link_extern.gif);
	}
* html b\ody #e a.download:focus, * html b\ody #e a.download:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_download.gif);
	}
* html b\ody #e a.e_mail:focus, * html b\ody #e a.e_mail:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_kontakt.gif);
	}
* html b\ody #e a.intranet:focus, * html b\ody #e a.intranet:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_intranet.gif);
	}
* html b\ody #f a:focus, * html b\ody #f a:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_right.gif);
	}
*+html b\ody #e a.int:focus, *+html b\ody #e a.int:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_link.gif);
	}
*+html b\ody #e a.ext:focus, *+html b\ody #e a.ext:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_link_extern.gif);
	}
*+html b\ody #e a.download:focus, *+html b\ody #e a.download:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_download.gif);
	}
*+html b\ody #e a.e_mail:focus, *+html b\ody #e a.e_mail:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_kontakt.gif);
	}
*+html b\ody #e a.intranet:focus, *+html b\ody #e a.intranet:active {
	background-image: url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_intranet.gif);
	}
* html b\ody #e a.int,        * html b\ody #e a.ext,        * html b\ody #e a.download,        * html b\ody #e a.e_mail,        * html b\ody #e a.intranet,       
* html b\ody #e a.int:focus,  * html b\ody #e a.ext:focus,  * html b\ody #e a.download:focus,  * html b\ody #e a.e_mail:focus,  * html b\ody #e a.intranet:focus,
* html b\ody #e a.int:active, * html b\ody #e a.ext:active, * html b\ody #e a.download:active, * html b\ody #e a.e_mail:active, * html b\ody #e a.intranet:active {
	padding-left: 15px;
	display:inline-block;
	background-repeat:no-repeat;
	
	}
*+html b\ody #e a.int,        *+html b\ody #e a.ext,        *+html b\ody #e a.download,        *+html b\ody #e a.e_mail,        *+html b\ody #e a.intranet, 
*+html b\ody #e a.int:focus,  *+html b\ody #e a.ext:focus,  *+html b\ody #e a.download:focus,  *+html b\ody #e a.e_mail:focus,  *+html b\ody #e a.intranet:focus, 
*+html b\ody #e a.int:active, *+html b\ody #e a.ext:active, *+html b\ody #e a.download:active, *+html b\ody #e a.e_mail:active, *+html b\ody #e a.intranet:active {
	padding-left: 15px;
	display:inline-block;
	background-repeat:no-repeat;
	}
* html b\ody #e a.int,        * html b\ody #e a.ext,        * html b\ody #e a.download,        * html b\ody #e a.e_mail,        * html b\ody #e a.intranet,        * html b\ody #f a {
	background-position: 0px 0.45em;
	}
*+html b\ody #e a.int,        *+html b\ody #e a.ext,        *+html b\ody #e a.download,        *+html b\ody #e a.e_mail,        *+html b\ody #e a.intranet,        *+html b\ody #f a  {
	background-position: 0px 0.45em;
	}
* html b\ody #e a.int:focus,  * html b\ody #e a.ext:focus,  * html b\ody #e a.download:focus,  * html b\ody #e a.e_mail:focus,  * html b\ody #e a.intranet:focus,
* html b\ody #e a.int:active, * html b\ody #e a.ext:active, * html b\ody #e a.download:active, * html b\ody #e a.e_mail:active, * html b\ody #e a.intranet:active {
	padding-left: 18px;
	padding-right: 3px;
	background-position: 3px 0.45em;
	}
*+html b\ody #e a.int:focus,  *+html b\ody #e a.ext:focus,  *+html b\ody #e a.download:focus,  *+html b\ody #e a.e_mail:focus,  *+html b\ody #e a.intranet:focus, 
*+html b\ody #e a.int:active, *+html b\ody #e a.ext:active, *+html b\ody #e a.download:active, *+html b\ody #e a.e_mail:active, *+html b\ody #e a.intranet:active {
	padding-left: 18px;
	padding-right: 3px;
	background-position: 3px 0.45em;
	}
}
#f .banner a, #f .banner a:active, #f .banner a:focus {
	background-image: none;
	padding:0px;
	}
#e a:focus.aktuelle-meldungen, #e a:active.aktuelle-meldungen, #schnellzugriff ul li a:active, #schnellzugriff ul li a:focus {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/bullet_right.gif);
	}
#e a:focus.rss-abo, #e a:active.rss-abo {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/rss_abo.gif);
	}
ul.diese_seite li a:focus, ul.diese_seite li a:active {
	padding:1px;	
}
ul.diese_seite li a:focus img, ul.diese_seite li a:active img {
	border:2px solid #FFFFFF;
}
#sprungmarken ul a:focus, #sprungmarken ul a:active, p.seitenanfang a:focus, p.seitenanfang a:active, a.seitenanfang:focus, a.seitenanfang:active {
	padding-left:17px;
	padding-right:3px;
	background-position:3px 50%;
	color: #ffffff;
	}
#sprungmarken ul a:focus.top, #sprungmarken ul a:active.top, p.seitenanfang a:focus, p.seitenanfang a:active, a.seitenanfang:focus, a.seitenanfang:active {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_pageup.gif);
	}
#sprungmarken ul a:focus.back, #sprungmarken ul a:active.back {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_lastpage.gif);
	}
#schnellzugriff a:focus.schnellzugriff, #schnellzugriff a:active.schnellzugriff {
	background-image:url(http://www.uni-muenster.de/wwucd/images/allgemein/layoutpiktogramme/ffffff/sign_pagedown.gif);
	color: #ffffff;
	}