<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="desktopLectureAdapter" class="org.openuss.desktop.lecture.DesktopLectureAdapter">	
		<property name="desktopService"><ref bean="desktopService"/></property>
		<property name="lectureService"><ref bean="lectureService"/></property>
	</bean>

</beans>
