<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Aspect Configuration
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<aop:config>
		<!-- Pointcut Definitions -->
		<aop:pointcut id="OrganisationServiceAddMemberPointcut"
			expression="execution(* org..OrganisationServiceBase.addMember(java.lang.Long, java.lang.Long)) and args(organisationId, userId)" />
		<aop:pointcut id="OrganisationServiceRemoveMemberPointcut"
			expression="execution(* org..OrganisationServiceBase.removeMember(java.lang.Long, java.lang.Long)) and args(organisationId, userId)" />
		<aop:pointcut id="OrganisationServiceAddAspirantPointcut"
			expression="execution(* org..OrganisationServiceBase.addAspirant(java.lang.Long, java.lang.Long)) and args(organisationId, userId)" />
		<aop:pointcut id="OrganisationServiceAcceptAspirantPointcut"
			expression="execution(* org..OrganisationServiceBase.acceptAspirant(java.lang.Long, java.lang.Long)) and args(organisationId, userId)" />
		<aop:pointcut id="OrganisationServiceRejectAspirantPointcut"
			expression="execution(* org..OrganisationServiceBase.rejectAspirant(java.lang.Long, java.lang.Long)) and args(organisationId, userId)" />

		<aop:pointcut id="UniversityServiceCreatePointcut"
			expression="execution(* org..UniversityServiceBase.createUniversity(org.openuss.lecture.UniversityInfo, java.lang.Long)) and args(universityInfo, userId)" />
		<aop:pointcut id="UniversityServiceDeletePointcut"
			expression="execution(* org..UniversityServiceBase.removeUniversity(java.lang.Long)) and args(universityId)" />
		<aop:pointcut
			id="UniversityServiceDeleteCompleteUniversityTreePointcut"
			expression="execution(* org..UniversityServiceBase.removeCompleteUniversityTree(java.lang.Long)) and args(universityId)" />
		<aop:pointcut id="UniversityServiceUpdatePointcut"
			expression="execution(* org..UniversityServiceBase.update(org.openuss.lecture.UniversityInfo)) and args(universityInfo)" />
		<aop:pointcut id="UniversityServiceSetStatusPointcut"
			expression="execution(* org..UniversityServiceBase.setUniversityStatus(java.lang.Long, boolean)) and args(universityId, status)" />

		<aop:pointcut id="DepartmentServiceCreatePointcut"
			expression="execution(* org..DepartmentServiceBase.create(org.openuss.lecture.DepartmentInfo, java.lang.Long)) and args(departmentInfo, userId)" />
		<aop:pointcut id="DepartmentServiceDeletePointcut"
			expression="execution(* org..DepartmentServiceBase.removeDepartment(java.lang.Long)) and args(departmentId)" />
		<aop:pointcut
			id="DepartmentServiceDeleteCompleteDepartmentTreePointcut"
			expression="execution(* org..DepartmentServiceBase.removeCompleteDepartmentTree(java.lang.Long)) and args(departmentId)" />
		<aop:pointcut
			id="DepartmentServiceAcceptInstituteApplicationPointcut"
			expression="execution(* org..DepartmentServiceBase.acceptApplication(java.lang.Long, java.lang.Long)) and args(applicationId, userId)" />
		<aop:pointcut
			id="DepartmentServiceRejectInstituteApplicationPointcut"
			expression="execution(* org..DepartmentServiceBase.rejectApplication(java.lang.Long)) and args(applicationId)" />
		<aop:pointcut id="DepartmentServiceUpdatePointcut"
			expression="execution(* org..DepartmentServiceBase.update(org.openuss.lecture.DepartmentInfo)) and args(departmentInfo)" />
		<aop:pointcut id="DepartmentServiceSetStatusPointcut"
			expression="execution(* org..DepartmentServiceBase.setDepartmentStatus(java.lang.Long, boolean)) and args(departmentId, status)" />

		<aop:pointcut id="InstituteServiceCreatePointcut"
			expression="execution(* org..InstituteServiceBase.create(org.openuss.lecture.InstituteInfo, java.lang.Long)) and args(instituteInfo, userId)" />
		<aop:pointcut id="InstituteServiceDeletePointcut"
			expression="execution(* org..InstituteServiceBase.removeInstitute(java.lang.Long)) and args(instituteId)" />
		<aop:pointcut
			id="InstituteServiceDeleteCompleteInstituteTreePointcut"
			expression="execution(* org..InstituteServiceBase.removeCompleteInstituteTree(java.lang.Long)) and args(instituteId)" />
		<aop:pointcut id="InstituteServiceApplyAtDepartmentPointcut"
			expression="execution(* org..InstituteServiceBase.applyAtDepartment(java.lang.Long, java.lang.Long, java.lang.Long)) and args(instituteId, departmentId, userId)" />
		<aop:pointcut id="InstituteServiceResendActivationCodePointcut"
			expression="execution(* org..InstituteServiceBase.resendActivationCode(org.openuss.lecture.InstituteInfo, java.lang.Long)) and args(instituteInfo, userId)" />
		<aop:pointcut id="InstituteServiceUpdatePointcut"
			expression="execution(* org..InstituteServiceBase.update(org.openuss.lecture.InstituteInfo)) and args(instituteInfo)" />
		<aop:pointcut id="InstituteServiceSetStatusPointcut"
			expression="execution(* org..InstituteServiceBase.setInstituteStatus(java.lang.Long, boolean)) and args(instituteId, status)" />

		<aop:pointcut id="CourseTypeServiceRemoveCourseTypePointcut"
			expression="execution(* org..CourseTypeServiceBase.removeCourseType(java.lang.Long)) and args(courseTypeId)" />

		<aop:pointcut id="CourseServiceCreatePointcut"
			expression="execution(* org..CourseServiceBase.create(org.openuss.lecture.CourseInfo)) and args(courseInfo)" />
		<aop:pointcut id="CourseServiceDeletePointcut"
			expression="execution(* org..CourseServiceBase.removeCourse(java.lang.Long)) and args(courseId)" />
		<aop:pointcut id="CourseServiceUpdatePointcut"
			expression="execution(* org..CourseServiceBase.updateCourse(org.openuss.lecture.CourseInfo)) and args(courseInfo)" />
		<aop:pointcut id="CourseServiceUpdateOnPeriodPointcut"
			expression="execution(* org..LectureServiceBase.persist(org.openuss.lecture.Period)) and args(period)" />
		<aop:pointcut id="CourseServiceSetStatusPointcut"
			expression="execution(* org..CourseServiceBase.setCourseStatus(java.lang.Long, boolean)) and args(courseId, status)" />

        <!-- Additional pointcuts for Discussion Search -->
        
		<aop:pointcut id="DiscussionServiceCreatePointcut"
			expression="(execution(* org..DiscussionServiceBase.addPost(org.openuss.discussion.PostInfo, org.openuss.discussion.TopicInfo)) and args(postInfo, ..)) or (execution(* org..DiscussionServiceBase.createTopic(org.openuss.discussion.PostInfo, org.openuss.discussion.ForumInfo)) and args(postInfo, ..))" />
		<aop:pointcut id="DiscussionServiceDeletePointcut"
			expression="execution(* org..DiscussionServiceBase.deletePost(org.openuss.discussion.PostInfo)) and args(postInfo)" />
		<aop:pointcut id="DiscussionServiceUpdatePointcut"
			expression="execution(* org..DiscussionServiceBase.updatePost(org.openuss.discussion.PostInfo)) and args(postInfo)" />
		
		<!-- Additional pointcuts for LDAP Server Configuration -->
		
		<aop:pointcut id="LdapConfigurationServiceCreateServerPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.createLdapServer(org.openuss.security.ldap.LdapServerInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceDeleteServerPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.deleteLdapServer(org.openuss.security.ldap.LdapServerInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceSaveServerPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.saveLdapServer(org.openuss.security.ldap.LdapServerInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceCreateDomainPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.createDomain(org.openuss.security.ldap.AuthenticationDomainInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceDeleteDomainPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.deleteDomain(org.openuss.security.ldap.AuthenticationDomainInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceSaveDomainPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.saveDomain(org.openuss.security.ldap.AuthenticationDomainInfo)))" />			
		<aop:pointcut id="LdapConfigurationServiceAddServerToDomainPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.addServerToDomain(org.openuss.security.ldap.LdapServerInfo, org.openuss.security.ldap.AuthenticationDomainInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceRemoveServerFromDomainPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.removeServerFromDomain(org.openuss.security.ldap.LdapServerInfo, org.openuss.security.ldap.AuthenticationDomainInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceCreateAttributeMappingPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.createAttributeMapping(org.openuss.security.ldap.AttributeMappingInfo)))" />		
		<aop:pointcut id="LdapConfigurationServiceDeleteAttributeMappingPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.deleteAttributeMapping(org.openuss.security.ldap.AttributeMappingInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceSaveAttributeMappingPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.saveAttributeMapping(org.openuss.security.ldap.AttributeMappingInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceCreateRoleAttributeKeyPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.createRoleAttributeKey(org.openuss.security.ldap.RoleAttributeKeyInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceSaveRoleAttributeKeyPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.saveRoleAttributeKey(org.openuss.security.ldap.RoleAttributeKeyInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceDeleteRoleAttributeKeyPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.deleteRoleAttributeKey(org.openuss.security.ldap.RoleAttributeKeyInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceAddDomainToAttributeMappingPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.addDomainToAttributeMapping(org.openuss.security.ldap.AuthenticationDomainInfo, org.openuss.security.ldap.AttributeMappingInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceRemoveDomainFromAttributeMappingPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.removeDomainFromAttributeMapping(org.openuss.security.ldap.AuthenticationDomainInfo, org.openuss.security.ldap.AttributeMappingInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceCreateUserDnPatternPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.createUserDnPattern(org.openuss.security.ldap.UserDnPatternInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceSaveUserDnPatternPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.saveUserDnPattern(org.openuss.security.ldap.UserDnPatternInfo)))" />
		<aop:pointcut id="LdapConfigurationServiceDeleteUserDnPatternPointcut"
			expression="(execution(* org..LdapConfigurationServiceBase.deleteUserDnPattern(org.openuss.security.ldap.UserDnPatternInfo)))" />
		
				
		<!-- Aspect Definitions -->
		<aop:aspect id="applicationConfirmationAspect"
			ref="applicationConfirmationAspectBean">
			<aop:after-returning
				method="checkApplicationForConfirmation"
				pointcut-ref="InstituteServiceApplyAtDepartmentPointcut"
				arg-names="applicationId, instituteId, departmentId, userId"
				returning="applicationId" />
		</aop:aspect>

		<aop:aspect id="userAdministrationMailSenderAspect"
			ref="userAdministrationMailSenderAspectBean">
			<aop:after-returning method="sendAddMemberMail"
				pointcut-ref="OrganisationServiceAddMemberPointcut"
				arg-names="organisationId, userId" />
			<aop:after-returning method="sendRemoveMemberMail"
				pointcut-ref="OrganisationServiceRemoveMemberPointcut"
				arg-names="organisationId, userId" />
			<aop:after-returning method="sendAddAspirantMail"
				pointcut-ref="OrganisationServiceAddAspirantPointcut"
				arg-names="organisationId, userId" />
			<aop:after-returning method="sendRejectAspirantMail"
				pointcut-ref="OrganisationServiceRejectAspirantPointcut"
				arg-names="organisationId, userId" />
			<aop:after-returning method="sendAcceptAspirantMail"
				pointcut-ref="OrganisationServiceAcceptAspirantPointcut"
				arg-names="organisationId, userId" />
		</aop:aspect>

		<aop:aspect id="instituteActivationMailSenderAspect"
			ref="instituteActivationMailSenderAspectBean">
			<aop:after-returning method="sendInstituteActivationMail"
				pointcut-ref="InstituteServiceCreatePointcut"
				arg-names="instituteInfo, userId" />
			<aop:after-returning method="sendInstituteActivationMail"
				pointcut-ref="InstituteServiceResendActivationCodePointcut"
				arg-names="instituteInfo, userId" />
		</aop:aspect>

		<aop:aspect id="applyAtDepartmentMailSenderAspect"
			ref="instituteDepartmentMailSenderAspectBean">
			<aop:after-returning
				method="sendApplyInstituteAtDepartmentMail"
				pointcut-ref="InstituteServiceApplyAtDepartmentPointcut"
				arg-names="instituteId, departmentId, userId" />
		</aop:aspect>

		<aop:aspect id="acceptInstituteMailSenderAspect"
			ref="instituteDepartmentMailSenderAspectBean">
			<aop:after-returning
				method="sendAcceptApplicationAtDepartmentMail"
				pointcut-ref="DepartmentServiceAcceptInstituteApplicationPointcut"
				arg-names="applicationId, userId" />
		</aop:aspect>

		<aop:aspect id="rejectInstituteMailSenderAspect"
			ref="instituteDepartmentMailSenderAspectBean">
			<aop:before
				method="sendRejectApplicationAtDepartmentMail"
				pointcut-ref="DepartmentServiceRejectInstituteApplicationPointcut"
				arg-names="applicationId" />
		</aop:aspect>

		<aop:aspect id="bookmarkMaintenanceAspect"
			ref="bookmarkMaintenanceAspectBean">
			<aop:after-returning method="bookmarkUniversity"
				pointcut-ref="UniversityServiceCreatePointcut"
				arg-names="universityInfo, userId" />
			<aop:before method="deleteBookmarksOfUniversity"
				pointcut-ref="UniversityServiceDeletePointcut"
				arg-names="universityId" />
			<aop:before method="deleteBookmarksOfUniversity"
				pointcut-ref="UniversityServiceDeleteCompleteUniversityTreePointcut"
				arg-names="universityId" />
			<aop:after-returning method="bookmarkDepartment"
				pointcut-ref="DepartmentServiceCreatePointcut"
				arg-names="departmentInfo, userId" />
			<aop:before method="deleteBookmarksOfDepartment"
				pointcut-ref="DepartmentServiceDeletePointcut"
				arg-names="departmentId" />
			<aop:before method="deleteBookmarksOfDepartment"
				pointcut-ref="DepartmentServiceDeleteCompleteDepartmentTreePointcut"
				arg-names="departmentId" />
			<aop:after-returning method="bookmarkInstitute"
				pointcut-ref="InstituteServiceCreatePointcut"
				arg-names="instituteInfo, userId" />
			<aop:before method="deleteBookmarksOfInstitute"
				pointcut-ref="InstituteServiceDeletePointcut"
				arg-names="instituteId" />
			<aop:before method="deleteBookmarksOfInstitute"
				pointcut-ref="InstituteServiceDeleteCompleteInstituteTreePointcut"
				arg-names="instituteId" />
			<aop:before method="deleteBookmarksOfCourse"
				pointcut-ref="CourseServiceDeletePointcut" arg-names="courseId" />
			<aop:before method="bookmarkOrganisation"
				pointcut-ref="OrganisationServiceAddMemberPointcut"
				arg-names="organisationId, userId" />
		</aop:aspect>
		
		<aop:aspect id="removeInstituteCodesAspect"
			ref="instituteCodesMaintenanceAspectBean">
			<aop:before method="removeInstituteCodes"
				pointcut-ref="InstituteServiceDeletePointcut"
				arg-names="instituteId" />
			<aop:before method="removeInstituteCodes"
				pointcut-ref="InstituteServiceDeleteCompleteInstituteTreePointcut"
				arg-names="instituteId" />
		</aop:aspect>

		<aop:aspect id="universityIndexAspect"
			ref="universityIndexAspectBean">
			<aop:after-returning method="createUniversityIndex"
				pointcut-ref="UniversityServiceCreatePointcut"
				arg-names="universityInfo, userId" />
			<aop:after-returning method="updateUniversityIndex"
				pointcut-ref="UniversityServiceUpdatePointcut"
				arg-names="universityInfo" />
			<aop:after-returning
				method="updateUniversityIndexOnStatusChange"
				pointcut-ref="UniversityServiceSetStatusPointcut"
				arg-names="universityId, status" />
			<aop:before method="deleteUniversityIndexCascade"
				pointcut-ref="UniversityServiceDeletePointcut"
				arg-names="universityId" />
			<aop:before method="deleteUniversityIndex"
				pointcut-ref="UniversityServiceDeleteCompleteUniversityTreePointcut"
				arg-names="universityId" />
		</aop:aspect>

		<aop:aspect id="departmentIndexAspect"
			ref="departmentIndexAspectBean">
			<aop:after-returning method="createDepartmentIndex"
				pointcut-ref="DepartmentServiceCreatePointcut"
				arg-names="departmentInfo, userId" />
			<aop:after-returning method="updateDepartmentIndex"
				pointcut-ref="DepartmentServiceUpdatePointcut"
				arg-names="departmentInfo" />
			<aop:after-returning
				method="updateDepartmentIndexOnStatusChange"
				pointcut-ref="DepartmentServiceSetStatusPointcut"
				arg-names="departmentId, status" />
			<aop:before method="deleteDepartmentIndexCascade"
				pointcut-ref="DepartmentServiceDeletePointcut"
				arg-names="departmentId" />
			<aop:before method="deleteDepartmentIndex"
				pointcut-ref="DepartmentServiceDeleteCompleteDepartmentTreePointcut"
				arg-names="departmentId" />
		</aop:aspect>

		<aop:aspect id="instituteIndexAspect"
			ref="instituteIndexAspectBean">
			<aop:after-returning method="createInstituteIndex"
				pointcut-ref="InstituteServiceCreatePointcut"
				arg-names="instituteInfo, userId" />
			<aop:after-returning method="updateInstituteIndex"
				pointcut-ref="InstituteServiceUpdatePointcut"
				arg-names="instituteInfo" />
			<aop:after-returning
				method="updateInstituteIndexOnStatusChange"
				pointcut-ref="InstituteServiceSetStatusPointcut"
				arg-names="instituteId, status" />
			<aop:before method="deleteInstituteIndexCascade"
				pointcut-ref="InstituteServiceDeletePointcut"
				arg-names="instituteId" />
			<aop:before method="deleteInstituteIndex"
				pointcut-ref="InstituteServiceDeleteCompleteInstituteTreePointcut"
				arg-names="instituteId" />
			<aop:after-returning
				method="updateInstituteIndexOnDepartmentApplication"
				pointcut-ref="InstituteServiceApplyAtDepartmentPointcut"
				arg-names="applicationId, instituteId, departmentId, userId" 
				returning="applicationId" />
			<aop:after-returning
				method="updateInstituteIndexOnDepartmentApplicationApproval"
				pointcut-ref="DepartmentServiceAcceptInstituteApplicationPointcut"
				arg-names="applicationId, userId" />
		</aop:aspect>

		<aop:aspect id="courseIndexAspect"
			ref="courseIndexAspectBean">
			<aop:after-returning method="createCourseIndex"
				pointcut-ref="CourseServiceCreatePointcut" arg-names="courseInfo" />
			<aop:after-returning method="updateCourseIndex"
				pointcut-ref="CourseServiceUpdatePointcut" arg-names="courseInfo" />
			<aop:after-returning
				method="updateCourseIndexOnPeriodUpdate"
				pointcut-ref="CourseServiceUpdateOnPeriodPointcut"
				arg-names="period" />
			<aop:after-returning
				method="updateCourseIndexOnStatusChange"
				pointcut-ref="CourseServiceSetStatusPointcut"
				arg-names="courseId, status" />
			<aop:before method="deleteCourseIndex"
				pointcut-ref="CourseServiceDeletePointcut" arg-names="courseId" />
		</aop:aspect>

		<aop:aspect id="mailingStatusAspect"
			ref="mailingStatusAspectBean">
			<aop:after-returning method="updateMailingStatus"
				pointcut="execution(* org..MessageJobDaoBase.update(org.openuss.messaging.MessageJob)) and args(messageJob)"
				arg-names="messageJob" />
		</aop:aspect>
		
		<!-- Addititional aspect for Discussion Search -->
		
		<aop:aspect id="discussionIndexAspect"
			ref="discussionIndexAspectBean">
			<aop:after-returning method="createPostIndex"
				pointcut-ref="DiscussionServiceCreatePointcut"
				arg-names="postInfo" />
			<aop:after-returning method="updatePostIndex"
				pointcut-ref="DiscussionServiceUpdatePointcut"
				arg-names="postInfo" />
			<aop:before method="deletePostIndex"
				pointcut-ref="DiscussionServiceDeletePointcut"
				arg-names="postInfo" />
		</aop:aspect>

		<!-- Addititional aspect for LDAP Server Configuration -->
		
		<aop:aspect id="ldapConfigurationAspect" ref="ldapConfigurationAspectBean">
			
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceCreateServerPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceSaveServerPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceDeleteServerPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceCreateDomainPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceDeleteDomainPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceSaveDomainPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceAddServerToDomainPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceRemoveServerFromDomainPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceCreateAttributeMappingPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceDeleteAttributeMappingPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceSaveAttributeMappingPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceCreateRoleAttributeKeyPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceSaveRoleAttributeKeyPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceDeleteRoleAttributeKeyPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceAddDomainToAttributeMappingPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceRemoveDomainFromAttributeMappingPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceCreateUserDnPatternPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceSaveUserDnPatternPointcut" />
			<aop:after-returning method="reconfigure"
				pointcut-ref="LdapConfigurationServiceDeleteUserDnPatternPointcut" />
	
		</aop:aspect>

	</aop:config>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Aspect Bean Definitions
		- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<bean id="userAdministrationMailSenderAspectBean"
		class="org.openuss.aop.UserAdministrationMailSenderAspectImpl">
		<property name="userDao" ref="userDao" />
		<property name="organisationDao" ref="organisationDao" />
		<property name="messageService" ref="messageService" />
		<property name="systemService" ref="systemService" />
	</bean>

	<bean id="applicationConfirmationAspectBean"
		class="org.openuss.aop.ApplicationConfirmationAspectImpl">
		<property name="userDao" ref="userDao" />
		<property name="applicationDao" ref="applicationDao" />
		<property name="departmentService" ref="departmentService" />
		<property name="securityService" ref="securityService" />
	</bean>

	<bean id="instituteActivationMailSenderAspectBean"
		class="org.openuss.aop.InstituteActivationMailSenderAspectImpl">
		<property name="userDao" ref="userDao" />
		<property name="instituteDao" ref="instituteDao" />
		<property name="registrationService" ref="registrationService" />
		<property name="messageService" ref="messageService" />
		<property name="systemService" ref="systemService" />
	</bean>

	<bean id="instituteDepartmentMailSenderAspectBean"
		class="org.openuss.aop.InstituteDepartmentMailSenderAspectImpl">
		<property name="applicationDao" ref="applicationDao" />
		<property name="instituteDao" ref="instituteDao" />
		<property name="departmentDao" ref="departmentDao" />
		<property name="messageService" ref="messageService" />
		<property name="systemService" ref="systemService" />
	</bean>

	<bean id="bookmarkMaintenanceAspectBean"
		class="org.openuss.aop.BookmarkMaintenanceAspectImpl">
		<property name="desktopService" ref="desktopService2" />
		<property name="organisationDao" ref="organisationDao" />
		<property name="universityDao" ref="universityDao" />
		<property name="departmentDao" ref="departmentDao" />
		<property name="instituteDao" ref="instituteDao" />
	</bean>

	<bean id="instituteCodesMaintenanceAspectBean"
		class="org.openuss.aop.InstituteCodesMaintenanceAspectImpl">
		<property name="registrationService" ref="registrationService" />
		<property name="instituteDao" ref="instituteDao" />
	</bean>

	<bean id="mailingStatusAspectBean"
		class="org.openuss.newsletter.MailingStatusAspect">
		<property name="mailDao" ref="mailDao" />
	</bean>

	<bean id="universityIndexAspectBean"
		class="org.openuss.aop.UniversityIndexingAspect">
		<property name="indexerService" ref="indexerService" />
		<property name="universityDao" ref="universityDao" />
		<property name="universityService" ref="universityService" />
	</bean>

	<bean id="departmentIndexAspectBean"
		class="org.openuss.aop.DepartmentIndexingAspect">
		<property name="indexerService" ref="indexerService" />
		<property name="departmentDao" ref="departmentDao" />
		<property name="departmentService" ref="departmentService" />
	</bean>

	<bean id="instituteIndexAspectBean"
		class="org.openuss.aop.InstituteIndexingAspect">
		<property name="indexerService" ref="indexerService" />
		<property name="instituteDao" ref="instituteDao" />
		<property name="instituteService" ref="instituteService" />
		<property name="applicationDao" ref="applicationDao" />
	</bean>

	<bean id="courseIndexAspectBean"
		class="org.openuss.aop.CourseIndexingAspect">
		<property name="indexerService" ref="indexerService" />
		<property name="courseDao" ref="courseDao" />
	</bean>
	
    <!-- Addititional bean for Discussion Search -->
	
	<bean id="discussionIndexAspectBean"
		class="org.openuss.aop.DiscussionIndexingAspect">
		<property name="indexerService" ref="indexerService" />
		<property name="postDao" ref="postDao" />
	</bean>
	
	<!-- Aspect bean to notify all server instances via command about changes in ldap configuration. -->
	
	<bean id="ldapConfigurationAspectBean"
		class="org.openuss.aop.LdapConfigurationAspect">
		<property name="ldapConfigurationNotifyService" ref="ldapConfigurationNotifyService" />		
	</bean>

</beans>
