<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Aspect Configuration
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<aop:config>
		<aop:aspect id="facultyIndexAspect" ref="facultyIndexAspectBean">
			<aop:after-returning
				method="createFacultyIndex" 
				pointcut="execution(* org..LectureServiceBase.createFaculty(org.openuss.lecture.Faculty)) and args(faculty)"
				arg-names="faculty"/>
			<aop:after-returning
				method="updateFacultyIndex"
				pointcut="execution(* org..LectureServiceBase.persist(org.openuss.lecture.Faculty)) and args(faculty)"
				arg-names="faculty"/>
			<aop:after-returning
				method="deleteFacultyIndex"
				pointcut="execution(* org..LectureServiceBase.removeFaculty(java.lang.Long)) and args(facultyId)"
				arg-names="facultyId"/>
		</aop:aspect>
		<aop:aspect id="enrollmentIndexAspect" ref="enrollmentIndexAspectBean">
			<aop:after-returning
				method="updateEnrollmentIndexOnPeriodUpdate" 
				pointcut="execution(* org..LectureServiceBase.persist(org.openuss.lecture.Period)) and args(period)"
				arg-names="period"/>
			<aop:after-returning
				method="createEnrollmentIndex" 
				pointcut="execution(* org..LectureServiceBase.createEnrollment(org.openuss.lecture.Faculty)) and args(enrollment)"
				arg-names="enrollment"/>
			<aop:after-returning
				method="updateEnrollmentIndex"
				pointcut="execution(* org..LectureServiceBase.persist(org.openuss.lecture.Enrollment)) and args(enrollment)"
				arg-names="enrollment"/>
			<aop:after-returning
				method="deleteEnrollmentIndex"
				pointcut="execution(* org..LectureServiceBase.removeEnrollment(java.lang.Long)) and args(enrollmentId)"
				arg-names="enrollmentId"/>
		</aop:aspect>
<!--
<aop:aspect id="mailingStatusAspect" ref="mailingStatusAspectBean">
		
		</aop:aspect>
  -->		
	</aop:config>
	
	<bean id="mailingStatusAspectBean" class="org.openuss.mailinglist.MailingStatusAspect">
		<property name="mailDao" ref="mailDao"/>
	</bean>
	
	<bean id="enrollmentIndexAspectBean" class="org.openuss.lecture.EnrollmentIndexingAspect">
		<property name="lectureService" ref="lectureService"/>
		<property name="indexerService" ref="indexerService"/>
	</bean>
	
	<bean id="facultyIndexAspectBean" class="org.openuss.lecture.FacultyIndexingAspect">
		<property name="lectureService" ref="lectureService"/>
		<property name="indexerService" ref="indexerService"/>
	</bean>
</beans>
