<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Domain Indexing Configuration
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<bean id="domainIndexerFactory"	class="org.openuss.search.DomainIndexerFactory" scope="singleton">
		<property name="indexer">
			<map>
			    <entry>
					<key>
						<value>org.openuss.lecture.University</value>
					</key>
					<value>universityIndexerCommand</value>
				</entry>
			    <entry>
					<key>
						<value>org.openuss.lecture.Department</value>
					</key>
					<value>departmentIndexerCommand</value>
				</entry>
				<entry>
					<key>
						<value>org.openuss.lecture.Institute</value>
					</key>
					<value>instituteIndexerCommand</value>
				</entry>
				<entry>
					<key>
						<value>org.openuss.lecture.Course</value>
					</key>
					<value>courseIndexerCommand</value>
				</entry>
				<!-- Additional IndexerCommand for Discussion Indexing -->
				<entry>
					<key>
						<value>org.openuss.discussion.Post</value>
					</key>
					<value>discussionIndexerCommand</value>
				</entry>
								<!-- Additional IndexerCommand for Seminarpool Indexing -->
				<entry>
					<key>
						<value>org.openuss.seminarpool.Seminarpool</value>
					</key>
					<value>seminarpoolIndexerCommand</value>
				</entry>
				
			</map>
		</property>
	</bean>
	
	<bean id="universityIndexer" class="org.openuss.lecture.UniversityIndexer">
		<property name="analyzer">
			<ref bean="analyzer" />
		</property>
		<property name="universityDao">
			<ref bean="universityDao" />
		</property>
		<property name="indexFactory">
			<ref bean="indexFactory" />
		</property>
	</bean>
	
	<bean id="departmentIndexer" class="org.openuss.lecture.DepartmentIndexer">
		<property name="analyzer">
			<ref bean="analyzer" />
		</property>
		<property name="departmentDao">
			<ref bean="departmentDao" />
		</property>
		<property name="indexFactory">
			<ref bean="indexFactory" />
		</property>
	</bean>
	
	<bean id="instituteIndexer" class="org.openuss.lecture.InstituteIndexer">
		<property name="analyzer">
			<ref bean="analyzer" />
		</property>
		<property name="instituteDao">
			<ref bean="instituteDao" />
		</property>
		<property name="indexFactory">
			<ref bean="indexFactory" />
		</property>
	</bean>

	<bean id="seminarpoolIndexer" class="org.openuss.seminarpool.SeminarpoolIndexer">
		<property name="analyzer">
			<ref bean="analyzer" />
		</property>
		<property name="seminarpoolDao">
			<ref bean="seminarpoolDao" />
		</property>
		<property name="indexFactory">
			<ref bean="indexFactory" />
		</property>
	</bean>
	
	<bean name="courseIndexer" class="org.openuss.lecture.CourseIndexer">
		<property name="analyzer" ref="analyzer" />
		<property name="courseDao" ref="courseDao" />
		<property name="indexFactory" ref="indexFactory" />
	</bean>

	<bean id="recreateIndexer" class="org.openuss.lecture.LectureIndex">
		<property name="universityDao" ref="universityDao"/>
		<property name="universityIndexer" ref="universityIndexer"/>
		<property name="departmentDao" ref="departmentDao"/>
		<property name="departmentIndexer" ref="departmentIndexer"/>
		<property name="instituteDao" ref="instituteDao"/>
		<property name="instituteIndexer" ref="instituteIndexer"/>
		<property name="courseDao" ref="courseDao"/>
		<property name="courseIndexer" ref="courseIndexer"/>
		<property name="fsDirectory" ref="lectureDirectory"/>
		<property name="indexFactory" ref="indexFactory" />
		<!-- Additional properties for Discussion Search -->
		<property name="fsDiscussionDirectory" ref="discussionDirectory"/>
		<property name="postDao" ref="postDao"/>
		<property name="discussionIndexer" ref="discussionIndexer"/>
		<!-- Additional properties for Seminarpool Search -->
		<property name="seminarpoolDao" ref="seminarpoolDao"/>
		<property name="seminarpoolIndexer" ref="seminarpoolIndexer"/>
				
	</bean>
	
	<bean id="recreateLectureIndex" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces"><value>org.openuss.lecture.RecreateLectureIndex</value></property>
		<property name="target">
			<bean parent="recreateIndexer" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>serviceTransactionInterceptor</value>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>
	
	<bean id="recreateIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="recreateIndexer"/>
	</bean>
	
	<bean id="universityIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="universityIndexer"/>
	</bean>
	
	<bean id="departmentIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="departmentIndexer"/>
	</bean>
	
	<bean id="instituteIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="instituteIndexer"/>
	</bean>
	
	<bean id="courseIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="courseIndexer"/>
	</bean>
	<bean id="seminarpoolIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="seminarpoolIndexer"/>
	</bean>
	
	<bean id="indexerServiceAbstract" abstract="true"
		class="org.openuss.search.IndexerServiceImpl">
		<property name="indexerFactory">
			<ref bean="domainIndexerFactory" />
		</property>
		<property name="commandService">
			<ref bean="commandService" />
		</property>
	</bean>
	
	<bean id="lectureSearcher" class="org.openuss.lecture.LectureSearchQuery" scope="prototype">
		<constructor-arg ref="searcherFactory"/>
		<constructor-arg ref="analyzer" />
	</bean>
	
	<bean id="extendedSearcher" class="org.openuss.search.ExtendedSearchQuery" scope="prototype">
		<constructor-arg ref="searcherFactory"/>
		<constructor-arg ref="analyzer" />
	</bean>
	
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Discussion Indexing and Searching Configuration
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	
	<bean name="discussionIndexer" class="org.openuss.discussion.DiscussionIndexer">
		<property name="analyzer" ref="discussionAnalyzer" />
		<property name="postDao" ref="postDao" />
		<property name="indexFactory" ref="discussionIndexFactory" />
	</bean>
	
	<bean id="discussionIndexerCommand" class="org.openuss.search.DomainIndexerCommand">
		<property name="domainIndexer" ref="discussionIndexer"/>
	</bean>	

	<!-- discussion search -->
	<bean id="discussionSearcher" class="org.openuss.discussion.DiscussionSearchQuery" scope="prototype">
		<constructor-arg ref="discussionSearcherFactory"/>
		<constructor-arg ref="discussionAnalyzer" />
	</bean>



	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Lucene Support Configuration
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<bean id="analyzer"
		class="org.apache.lucene.analysis.standard.StandardAnalyzer" />

	<bean id="searcherFactory"
		class="org.springmodules.lucene.search.factory.SimpleSearcherFactory">
		<property name="indexFactory" ref="indexFactory" />
		<property name="directory" ref="lectureDirectory" />
	</bean>

	<bean id="indexFactory"
		class="org.springmodules.lucene.index.factory.SimpleIndexFactory">
		<property name="create" value="true" />
		<property name="directory" ref="lectureDirectory" />
		<property name="analyzer" ref="analyzer" ></property>
		<property name="resolveLock" value="true"/>
		<property name="writeLockTimeout" value="2000"/>
	</bean>

	<bean id="lectureDirectory"
		class="org.openuss.search.lucene.WorkAroundFSDirectoryFactoryBean">
		<property name="create" value="true" />
		<property name="location" value="file:${java.io.tmpdir}/lucene/lecture" />
	</bean>	
	
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		Lucene Support Configuration for Discussion Indexing and Search
	  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<bean id="discussionDirectory"
		class="org.openuss.search.lucene.WorkAroundFSDirectoryFactoryBean">
		<property name="create" value="true" />
		<property name="location" value="file:${java.io.tmpdir}/lucene/discussion" />
	</bean>

	<bean id="discussionAnalyzer"
		class="org.apache.lucene.analysis.standard.StandardAnalyzer" />

	<bean id="discussionIndexFactory"
		class="org.springmodules.lucene.index.factory.SimpleIndexFactory">
		<property name="create" value="true" />
		<property name="directory" ref="discussionDirectory" />
		<property name="analyzer" ref="discussionAnalyzer" />
		<property name="resolveLock" value="true"/>
		<property name="writeLockTimeout" value="2000"/>
	</bean>
	
	<bean id="discussionSearcherFactory"
		class="org.springmodules.lucene.search.factory.SimpleSearcherFactory">
		<property name="indexFactory" ref="discussionIndexFactory" />
		<property name="directory" ref="discussionDirectory" />
	</bean>


</beans>
