img {
	border: 1px;
}

/*-------------- menu items --------------*/

.menuItem {
	list-style-type:none;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

ul.menuItem  {
	margin-top: 0px;
}

.menuItem li a {
	text-decoration: none;
	font-size: 0.8em;
	margin-top: 0px;
}

.menuItem li a:hover {
	text-decoration: none;
}

.menuItem li {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
	line-height: 9px;
	height:12px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}

/*-------------- main area element design ----------*/

.content p{
	line-height:1.4em;
}

.content table {
	position: relative;
	font-size: 1em;
	line-height: 1.4em;
	border: 0px;
	border-spacing: 0px;
	width: 95%;
	margin-bottom: 10px;
}

.content table p {
	line-height:1.4em;
}

.content td {
	text-align: left;
	border-style: none;
	vertical-align: top;	
}

.content tr {
	
}

.content a, p a, h1 a, h2 a, h3 a, h4 a, ul a, ol a, dfn a, table a{
	color:#385E7E;
	text-decoration:none;
}

.content a.int:before {
	content: url(../images/sign_link.gif) "\A0" 
}

.content a.back:before {
	content: url(../images/sign_lastpage.gif)"\A0"
}

.content a.ext:before { 
	content: url(../images/sign_link_extern.gif) "\A0" 
}

.content a:hover, p a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, ul a:hover, ol a:hover, dfn a:hover, table a:hover {
	text-decoration:underline;
}

.content h1{
    color: #8b0000;
	font-size:1.0em;
	text-decoration: underline;
	line-height:1.3em;
	font-weight:bold;
	margin-top:0px;
	padding-left:0em;
	padding-right:2em;
}

.content th {
	text-align: left;
}

.content caption {
	text-align: left;
}

.content .fieldLabel {
	margin-top: 1em;
	font-size: 1em;
	color:#385e7e;
}

.content .field {
	padding: 0.2em;
	border:1px solid #385e7e;
	color:#385e7e;
}

.content select.field {
	padding: 0.1em;	
}

.content .jscalendar-DB-div-style {
    border: 1px solid #888;
    margin-top: -100px;
    margin-left: -190px;
}

.content .fieldError {
	margin: 0.1em;
	color: #D00;
}

/* ------------------ sidebox / columns --------------------*/

.content .sidebox {
	position: relative;
	float: right;
	padding: 0.1em;
	margin: 0.1em;
	width: 40%;
}

.content .column {
	float: left;
	padding: 0 0.1em 0 0;
	margin: 0.5em 0;
	width: 48%; 
}

/* --------------------- navigation ---------------- */

.navigation h1 {
    color: #8b0000;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    margin-left: 9px;
}

.navigation ul {
	margin-top: 0.1em;
	padding-left: 3em;
}

.navigation table {
	padding: 0.5em;
	width: 100%;
}
	
.navigation li {
	list-style-image: url(../images/bullet_home.gif);	
}
	
.navigation ul a {
	font-size: 0.85em;
	color: rgb (56, 94, 126);
	text-decoration: none;
	list-style-type: none;
	margin-left: 0;
}

.navigation ul a:hover {
	text-decoration: underline;
}

.navigation td {
	padding: 0 0 0 1em;
}
	
.navigation .header {
    color: #8b0000;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 0.5em;
    padding-bottom: 0.9em;
}

.navigation .fieldLabel {
	margin-top: 1em;
	font-size: 0.9em;
	color:#4c708e;
}

.navigation .field {
	padding: 0.1em;
	margin: 0.1em;
	border:1px solid #4c708e;
	font-size: 0.9em;
	color:#4c708e;
	width: 75%;
}

.navigation .button {
	color: white; 
	font-size: 0.9em;
	margin: 0.1em 0 0.1em 0;
	padding: 0.1em;
	background-color: #4c708e; 
	border-style: solid; 
	border-width: 1px; 
	border-color: #608db3 #000 #000 #608db3; 	
}

.navigation .fieldError {
	margin: 0.1em;
	color: #D00;
	font-size:0.9em;
}

.navigation .pulldown {
	color: #3f5e77; 
	font-size: 0.9em; 
	border: solid 1px #4c708e;
	width: 75%;
}

/* --------------------- sidebar -------------------- */
.sidebar ul a{
	font-size:0.85em;
	color:#385E7E;
	text-decoration:none;
	list-style-type:none;
}

.sidebar ul a:hover{
	text-decoration:underline;
}

.sidebar li {
	line-height:1.1em;
}

.sidebar p {
	font-size:1em;
	margin-left: 0.5em;
	padding-top: 0.1em;
}

.sidebar p a{
	color:#385E7E;
	text-decoration:none;
	list-style-type:none;
}

.sidebar p a:hover{
	text-decoration:underline;
}

.sidebar_listPoint {
	list-style-image:url(../images/sign_link_text.gif);
}
	
.sidebar_listPointExtern {
	list-style-image:url(../images/sign_link_text_extern.gif);
}
/*
.sidebar_imageGap{
	margin-left:1em;
}*/

/*--------------------- footer --------------------*/

.footer_bar {
	background-image:url(../images/farbschemauni.gif);
	background-repeat:repeat-y;
	width:100%;
	height:5px;
	font-size:8px;
	margin-top: 3px;
	margin-bottom:3px;
}

.footer_icons ul {
	margin-top:0px;
}

.footer_icons li{
	float:left;
	list-style-type:none;
	padding-right:4ex;
	margin-left:-13px;
}

.footer_icons img{
	border:0px;
}

.footer_copyright {
	margin-top:0px;
	font-size:1em;
	text-align:right;
	padding-left:1.5em;
	padding-right:1.5em;
}

.footer_service {
	margin-top:10px;
	font-size:1em;
	text-align:right;
	padding-left:1.5em;
	padding-right:1.5em;
}

.footer_service a {
	color:#385E7E;
	text-decoration:none;
	list-style-type:none;
	margin-top: 0px;
	margin-left: 0px;
}

.footer_service a:hover {
	text-decoration:underline;
}

.footer .start {
	position:absolute;
	bottom:0px;
	left:-190px;
	width:190px;
	height:40px;
	/*z-index:4;*/
}

.footer .start ul a{
	font-size:0.9em;
	color:#385E7E;
	text-decoration:none;
	list-style-type:none;
}

.footer .start ul a:hover{
	text-decoration:underline;
}


.start_back{
	margin-top:1px;
	list-style-image:url(../images/sign_lastpage.gif);
}

.footer div.right {
	position:relative;
	padding-:0px;
	text-align:right;
	
}

.footer div.right ul a{
	font-size:0.85em;
	color:#385E7E;
	text-decoration:none;
	list-style-type:none;
}

.footer div.right ul a:hover{
	text-decoration:underline;
}

.footer div.right li {
	margin-left:-13px;
	line-height:90%;
}

/*-------------------- Icons -------------------------------------*/
ul.none {
    list-style: none;
    padding-left: 1em;
}

ul.none li {
	padding-top: 0.5em;
}

a.linkup {
	margin-top:1px;
}

.linkup img {
	margin-right: 0.5em;
}

.mail {
	background-image:url(../images/bullet_kontakt.gif);
	background-repeat:no-repeat;
	padding-left: 20px;
}




