 /*
   OpenUSS - Open University Support System
   
   Layout Cascading Stylesheet
*/

/*--------- definition of own default values ----*/

@IMPORT url("openuss.css");
@IMPORT url("openuss-typo.css");

body {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	margin: 0 180px 0 0;
	font-size: 100%;
	padding: 0;
}

@media all {
	* html b\ody #e table {
	    width: 0%;
	}
}

.wrapper{
	margin: 0px;
	padding: 0px;
}

.page {
	position: relative;
	margin-left: 189px;
	font-size: 0.8em;
	border-left: 1px dotted #4c708e;
	border-right: 1px dotted #4c708e;
	padding-top: 0px;
	background-color: #edf0f3;
}

.headerstart {
	position: absolute;
	left: -191px;
	width: 190px;
	top: 0px;
	height: 90px;
	background-image: url(../images/logos/openuss.gif);
	background-repeat: no-repeat;
	background-color: white;
	background-position: center;
}

.headerend {
	position: absolute;
	right:-180px;
	top: 0px;
	width: 179px;
	height: 90px;
	padding: 0px;
		
	background-image: url(../images/logos/logo_wwu180x90.gif);
	background-repeat: no-repeat;
}

.headercenter {
	position: relative;
	height: 69px;
	color: #fff;
	text-align: right;
	font-size: 0.8em;
	background-color: #4C708E;
	border-bottom: 1px solid #c9d4dd;
	margin-left: -1px;
	margin-right: -1px;
	background-image:url(../images/motiv_startseite.jpg);
	background-repeat: repeat-y;
	background-color: #4C708E;
}

.menu {
	position: relative;
	margin-left: -1px;
	margin-right: -1px;
	height: 20px;
	background-color: #4c708E;
}

.contentwrapper {
	position: relative;
	clear: both;
	margin-left: -190px;
	margin-right: 0px;
	min-height: 450px;
}

/* Hack für IE */
@media all {
	* html b\ody .contentwrapper {
	     height: 450px;
	}
}

.navigation {
	position: relative;
	clear: both;
	float: left;
	width: 190px;
	padding-top: 1em;
	margin-top: 1em;
}


.sidebar {
	position:absolute;
	top: 90px;
	right: -180px;
	width: 178px;
	margin-top: 2ex;
}

.content {
	position: relative;
	margin-left: 190px;
	padding-left: 1em;
	padding-right: 1.5em;
	font-size: 0.9em;
	line-height:1.4em;
}


.crumbs {
	position: relative;
	margin-left: 190px;
	padding: 0.5em 1em;
	font-size: 0.9em;
	line-height: 1.4em;
}


/*---------------- footer ------------------------*/
.footer {
	clear: both;
	font-size: 0.8em;
}

.footer .start {
	position: absolute;
	padding-left: 50px;
	bottom: 0px;
	left:-190px;
	width: 190px;
	height: 50px;
}

.footer .end {
	position: absolute;
	overflow: hidden;
	bottom: 0px;
	right: -180px;
	width: 175px;
	height: 50px;
}

.footer .center {
	background-color: #edf0f3;
	position: relative;
}




