.typoMainMenu a {
	color: #fff; 
}

.typoHeadBox   { 
	color: #8b0000; 
	font-weight: bold; 
	font-size: 0.7em; 
	letter-spacing: 1px;
}
.typoHeadLine  { 
	color: #8b0000; 
	font-weight: bold; 
	letter-spacing: 1px; 
	margin-bottom: -5px; 
	border-bottom: 1px solid #8b0000 ;
}

.typoHeading  { 
	color: #8b0000; 
	font-weight: bold; 
	letter-spacing: 1px;
}

.A { background-color: white; }
.B { background-color: #4c708e; }
.C { background-color: #c9d4dd; }
.D { background-color: white; }
.E { background-color: #edf0f3; }
.F { background-color: white; }
.G { background-color: white }
.H { background-color: #4c708e; }
.I  { background-color: white; }
.J  { background-color: white; }
.K { background-color: #edf0f3; }
.L { background-color: white; }

.navx  { background-color: #4c708e; }
.nav1  { background-color: #ce6242; }
.nav2  { background-color: #d7874c; }
.nav3  { background-color: #e4ad55; }
.nav4  { background-color: #bed069; }
.nav5  { background-color: #6789c5; }


/* ------------Vertical TextField------------------- */


.textField li {
	float: left;
	list-style-type:none;
}

.textFieldLabel {
	color:#4c708e;
	width: 65px;
	height:1.2em;
	font-size:0.9em;
}

.textFieldError {
    color: #D00;
	height:1.2em;
	font-size:0.9em;
}


/* ------------------------------- */
.az {
	background-image: url(../images/sign_az.gif);
	background-repeat:no-repeat;
	padding-left:18px;
}

.search {
	background-image: url(../images/sign_suche.gif);
	background-repeat:no-repeat;
	padding-left:14px;
}

.contact {
	background-image: url(../images/sign_kontakt.gif);
	background-repeat:no-repeat;
	padding-left:15px;
}

.sitemap {
	background-image: url(../images/sign_sitemap.gif);
	background-repeat:no-repeat;
	padding-left:15px;
}

.english {
	background-image: url(../images/sign_english.gif);
	background-repeat:no-repeat;
	padding-left:17px;
}

.german {
	background-image: url(../images/sign_deutsch.gif);
	background-repeat:no-repeat;
	padding-left:17px;
}

/* -------------------------------*/

.invisible { display : none }
.print { display : none }
.bg_teaserprint { display : none }
.typohauptmenuex a{ color: #fff; }
.typoteaser { font-size: 1.3em; color : #4C708E; font-weight : bold }
.typomaxteaser { font-size: 1.4em; line-height: 1.8em; color : #4C708E; font-weight : bold }
.typominitext    { font-size: 0.8em; }
.typotext    { font-size:1em; }
.typobold { font-weight: bold }
.typowhite { color: white }

.formPulldown { 
	color: #3f5e77; 
	font-size: 10pt; 
	border: solid 1px #4c708e; 
}
.formListenfeld { 
	color: #3f5e77;
	font-size: 10pt; 
	border: solid 1px #4c708e; 
}

.formTextfieldLabel {
    padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 10pt;
	color:#4c708e;
	margin-right: 2px;	
}

.formTextfield {
    padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	border:1px solid #4c708e;
	font-size:10pt;
	color:#4c708e;
	margin-right: 2px;	
}

.formTextarea { 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 10pt; 
	border: solid 1px #4c708e; 
	color:#4c708e;
}

.formButton { 
	color: white; 
	font-weight: bold; 
	font-size: 8pt;
	margin: 2px 10px 2px 0px;
	padding: 1px 10px 1px 5px;
	background-color: #4c708e; 
	border-style: solid; 
	border-width: 1px; 
	border-color: #608db3 #000 #000 #608db3; 
}

.panelGridHeaderNavigation {
	color: white; 
	font-weight: bold; 
	font-size: 10pt;
	text-align: left;
	background-color: #d7874c;
	width: 184px;
}

.panelSubheading {
	color:#ce6242;
	font-weight: bold;
}
.panelGridHeaderContent {
	color: white; 
	font-weight: bold; 
	font-size: 10pt;
	text-align: left;
	background-color: #4C708E;
}

.formMessageError {
    color: red;
	height:1.5em;
	font-size: 10pt;
}

.bg_teaser      { border-bottom: 1px solid #e7c0a2 }
.bg_teaserbild      { border-bottom: 1px solid #e7c0a2 }
.tab1 { background-color: #4C708E}
.tab2 { background-color: #819BB0}
.tab3 { background-color: #A5B7C6}
.tab4 { background-color: #C9D4DD}
.tab5 { background-color: #EDF0F3}
