@import url(flexlist.css);

html, body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  min-width: 1000px;
}

form {
  margin: 0;
  padding: 0;
}

img { 
	border: 0; 
}

input, select, textarea { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  text-decoration: none;
  color:#000;
}

input:focus{
  background-color: #F3F3F3;
  border: 1px solid #919191; 
}

p {
  margin: 0;
  font-size: 10pt;
}

.main_nav_home, .main_nav_desktop {
	background-color: #CE6242;
}

.main_nav_doc {
	background-color: #D7874C;
}

.main_nav_forum {
	background-color: #E4AD55;
}

#main {
	float: none;
	margin-left: 190px;
	margin-right: 180px;
	padding-top: 0px;
	position: static;
	z-index: 20;
	background-color:#EDF0F3;
	border-left:1px dotted #4682B4;
	border-right:1px dotted #4682B4;
}

#left {
	float: left;
	margin-left: -190px;
	position: relative;
	width: 180px;
	padding-right: 10px;
	z-index: 200;
}

@media all{
 * html b\ody #left {
	margin-left:-95px;
	width:180px;
	}
}

#center {
	float: left;
	margin-right: -180px;
	min-height: 450px;
	position: relative;
	width: 100%;
	z-index: 10000000;
}

 @media all{
 * html b\ody #center {
 	margin-left:-1px;
	height:450px;
	}
}

#right {
	float: left;
	left: 190px;
	padding-top: 90px;
	position: relative;
	right: 0px;
	width: 170px;
	background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
}

#footer {
    padding-top: 5px;
	clear: both;
	position: relative;
}

#footer_border {
	vertical-align: top;
	text-align: left;
	margin:0;
	height: 20px;
	background-image: url(../images/farbschemauni.gif);
	background-repeat: no-repeat;
	padding: 15px 0 0 10px;
}

.clear_both{
	clear: both;
}

span.userinfo{
  font-size: 8pt;
  color: #FFF !important;
}

span.userinfo a, span.userinfo a:hover, span.userinfo a:active, span.userinfo a:visited {
  color: #FFF !important;
}

.openuss_logo {
  background-image: url(../images/logos/logo_wwu.gif);
  background-repeat: no-repeat;
  background-position: -5px 10px;
  width: 180px;
  height: 150px;
}

#left .pulldown_form {
  width: 150px;
  font-size: 8pt;
  text-decoration: none; font-weight: bold; text-transform: uppercase;
  color:#505050; 
  border: 1px solid #B4B4B4;
}

#left .content_box {
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  width: 180px;
}

#left .header_normal_left_bg {
  float: left;
  visibility: hidden;
  width: 0;
  height: 0;
}

#left .header_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

#left .header_normal {
  padding: 0;
  margin: 0;
  height: 22px;
  width: 180px;
}

#left p.header_font_normal {
  padding: 4px 0 0 16px;
  font-size: 9pt;
  text-decoration: none; font-weight: none;
  color:#505050; 
}

#left .content_normal {
  padding: 5px 5px 5px 16px;
}

#left p.content_font_normal {
  padding: 0;
  font-size: 8pt;
  text-decoration: none;
  color:#505050; 
}

#left .field_label {
  padding: 0;
  font-size: 8pt;
  text-decoration: none;
  color:#505050; 
}

#left .field_error {
  display: block;
  padding: 0;
  font-size: 8pt;
  text-decoration: none;
  color:#ab0000; 
}


#left .footer_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
}

#left .footer_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
}

#left .footer_normal {
  padding: 0;
  margin: 0;
}

#left .field {
  width: 140px;
  padding: 1px;
  margin: 0;
  font-size: 8pt;
  text-decoration: none;
  background-color: #FFFFFF;
  color:#505050; 
  border: 1px solid #B4B4B4;
}

#left input.button {
	width: 91px;
	height: 21px;
	margin: 5px 0 0 0;
	padding: 0;
	background: transparent url(../img/button_80_normal.png) 0px 0px no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
  	text-decoration: none; 
  	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

#left input.button:hover{
	background: transparent url(../img/button_80_hover.png) 0px 0px no-repeat;
}

#left .content_box ul{
	margin: 10px 10px 4px 0;
	padding: 0;
	list-style-type: none;	
}
	
#left .content_box li{
	margin-top: 3px;
}

#left .content_box ul.int a{
	color: #505050;
	text-decoration: none; font-weight: none;
}

#right .content_box ul.ext{
	margin: 5px 0 4px 17px;
	padding: 0;
	list-style-type: none;	
}
	
#right .content_box ul.ext li{
	margin-top: 2px; 
	list-style-image:url(../images/sign_link_extern.gif);
}

#right .content_box ul.ext a{
	color: #505050;
	text-decoration: none; font-weight: none;
}

#left .content_box a:hover{
	text-decoration: underline; font-weight: none;
}

.send_form {
  margin-left: 83px;
  margin-top: 5px;
  width: 70px;
  height: 23px;
  font-size: 9pt;
  text-decoration: none; font-weight: bold;
}

#navigation_box {
  padding: 0;
  margin-top: 0px;
  width: 180px;
}

li.nav_item ul.navigation {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  height: 0;
} 


.navigation {
  width: 180px;
  margin: 0;
  padding: 0;
}

.navigation ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
}

.navigation ul li {
  margin: 0; 
  padding: 0;
}

ul.navigation li.nav_item a{
	display:block;
    padding-left: 25px;
    margin-bottom: 2px;
    width: 155px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #4C4C4C;
    background-image: url(../img/e_menu1_nav2.jpg);
    background-repeat: no-repeat;
}

ul.navigation li.nav_item a:hover{
	background-image: url(../img/e_menu1_nav2_hover.jpg);
}

ul.navigation li.open_item a{
	display:block;
    padding-left: 25px;
    width: 155px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #FFFFFF;
    background-image: url(../img/e_menu1_open2.jpg);
    background-repeat: no-repeat;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    border-bottom-color: #E2E2E2;
}

ul.navigation li.open_item a:hover{
	background-image: url(../img/e_menu1_open2_hover.jpg);
}

ul.navigation li.active_item a{
	display:block;
    padding-left: 25px;
    width: 155px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #FFFFFF;
    background-image: url(../img/e_menu1_active2.jpg);
    background-repeat: no-repeat;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    border-bottom-color: #E2E2E2;
}

ul.navigation li.active_item a:hover{
	background-image: url(../img/e_menu1_active2_hover.jpg);
}

ul.navigation li ul li.nav_item a{
	display:block;
    padding-left: 25px;
    width: 155px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #4C4C4C;
    background-image: url(../img/e_menu2_nav.jpg);
    background-repeat: no-repeat;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    border-bottom-color: #E2E2E2;
}

ul.navigation li ul li.nav_item a:hover{
	background-image: url(../img/e_menu2_nav_hover.jpg);
}

ul.navigation li ul li.open_item a{
	display:block;
    padding-left: 25px;
    width: 155px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #4C4C4C;
    background-image: url(../img/e_menu2_open.jpg);
    background-repeat: no-repeat;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    border-bottom-color: #E2E2E2;
}

ul.navigation li ul li.open_item a:hover{
	background-image: url(../img/e_menu2_open_hover.jpg);
}

ul.navigation li ul li.active_item a{
	display:block;
    padding-left: 25px;
    width: 155px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #4C4C4C;
    background-image: url(../img/e_menu2_active.jpg);
    background-repeat: no-repeat;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    border-bottom-color: #E2E2E2;
}

ul.navigation li ul li.active_item a:hover{
	background-image: url(../img/e_menu2_active_hover.jpg);
}

ul.navigation li ul li ul li.nav_item a{
	display:block;
    padding-left: 35px;
    width: 145px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #4C4C4C;
    background-image: url(../img/e_menu3_nav.jpg);
    background-repeat: no-repeat;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    border-bottom-color: #E2E2E2;
}

ul.navigation li ul li ul li.nav_item a:hover{
	background-image: url(../img/e_menu3_nav_hover.jpg);
}

ul.navigation li ul li ul li.open_item a{
	display:block;
    padding-left: 35px;
    width: 145px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #4C4C4C;
    background-image: url(../img/e_menu3_open.jpg);
    background-repeat: no-repeat;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    border-bottom-color: #E2E2E2;
}

ul.navigation li ul li ul li.open_item a:hover{
	background-image: url(../img/e_menu3_open_hover.jpg);
}

ul.navigation li ul li ul li.active_item a{
	display:block;
    padding-left: 35px;
    width: 145px;
    height: 24px;
    font-size: 8pt;
    line-height: 18pt;
    text-decoration: none; font-weight: bold;
    color: #4C4C4C;
    background-image: url(../img/e_menu3_active.jpg);
    background-repeat: no-repeat;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    border-bottom-color: #E2E2E2;
}

ul.navigation li ul li ul li.active_item a:hover{
	background-image: url(../img/e_menu3_active_hover.jpg);
}

.field_search {
  display: inline;
  width: 120px;
  font-size: 8pt;
  text-decoration: none;
  color:#505050; 
  border: 1px solid #B4B4B4;
  padding: 1px;
  margin-right: 5px;
}


.button_search:hover, .button_search:active, .button_search:focus {
	background: transparent url(../img/nav/nextPage.gif) 0px 0px no-repeat;
}

#right .content_box {
  display: block;
  margin: 0;
  padding: 0 0 15px 0;
  width: 170px;
}

#right .header_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

#right .option_box .header_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

#right .header_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
}

#right .header_normal {
  padding: 0;
  height: 22px;
}

#right .option_box .header_normal {
  padding: 0;
  height: 22px;
}

#right p.header_font_normal {
  padding: 4px 0 0 0;
  font-size: 9pt;
  text-decoration: none; font-weight: bold;
  color: #8B0000; 
}

#right .option_box p.header_font_normal {
	color:#8B0000;
}

#right .content_normal {
  padding: 0 5px 0 0;
  background-color: #FFFFFF;
  background-image: none;
}

#right .option_box .content_normal {
  padding: 5px 5px 5px 10px;
  background-color: #FFFFFF;
  background-image: none;
}

#right p.content_font_normal {
  padding: 0;
  font-size: 8pt;
  text-decoration: none;
  color:#505050;
}

#right .footer_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

#right .option_box .footer_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

#right .footer_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
}

#right .footer_normal {
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

#right .option_box .footer_normal {
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

#right .content_box ul.int{
	margin: 5px 0 4px 17px;
	padding: 0;
	list-style-type: none;
}
	
#right .content_box ul.int li{
	margin-top: 2px;
	list-style-image:url(../images/sign_link_text.gif);
}

#right .feed .content_box ul.int{
	list-style-type: none;
}


#right .feed .content_box ul.int li{
	margin-top: 3px;
	list-style-image:url(../img/rss.png);
}

#right .content_box ul.int a{
	color: #505050;
	text-decoration: none; font-weight: none;
}

#right .content_box a.button_search{
	display: inline;
	padding-left: 0;
	color: #505050;
	background: none;
	text-decoration: none; font-weight: none;
}

#right .content_box a.button_search:hover{
	text-decoration: none;
}

#right .content_box a:hover{
	text-decoration: underline; font-weight: none;
}

#center .content_box ul{
	margin: 0;
}

#center ul{
	margin: 10px 0 10px 0;
	list-style-type: none;
	padding-left: 10px;
}

#center a{
	color: #505050;
	font-size: 8pt;
	text-decoration: none; font-weight: none;
}

#center a:hover{
	text-decoration: underline; font-weight: none;
}

#center span{
	font-size: 8pt;
	text-decoration: none; font-weight: none;
}

#center span.warning{
	display: block;
	font-size: 8pt;
	text-decoration: none; font-weight: none;
	padding-bottom: 3px;
}

#header_center {
  margin: 0 0 21px 0;
  padding: 0;
  height: 90px;
  background-image: url(../images/motiv_startseite.jpg);
  background-repeat: repeat-x;
}

#userinfo {
  float: right;
  margin: 0;
  padding: 3px;
}

#header_navigation_block {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 67px; left: 0px; right: 190px; bottom: 0;
  height: 23px;
  width: 600px;
}

ul#header_navigation, ul#header_navigation ul {
	float: left;
	height: 23px;
	list-style: none;
	line-height: 13px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 8pt;
	padding: 0;
	margin: 0;
}

ul#header_navigation li {
	float: left;
	padding: 5px 5px 5px 5px;
}

ul#header_navigation a{
  display: block;
  color: #FFFFFF;
  padding: 3px 5px 4px 5px;
  text-decoration: none;
  padding: 0;
  text-decoration: none; font-weight: bold; text-transform: none;
  font-size: 8pt;
}

ul#header_navigation span {
  font-size: 8pt;
  color: #FFFFFF;
  padding: 3px 5px 4px 5px;
  text-decoration: none; font-weight: bold; text-transform: uppercase;
  background: #ADDB52;
  border-top: 1px; border-right: 1px; border-bottom: 0; border-left: 1px;
  border-style: solid;
  border-color: #BADC75;
}

.content_box {
  display: block;
  margin: 0;
  padding: 0 0 15px 0;
  width: 100%;
}

.teaser_blue{
	margin: 0;
	width: auto;
	margin-right: 260px;
}

.teaser_blue .content_box {
  display: inline;
  margin: 0;
  padding: 0 0 15px 0;
}

.teaser_blue_right{
	float:right;
	width:250px;
}

.teaser_blue_right .content_box {
	display: inline;
	float: right;
}

.header_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

.user_box .header_normal_left_bg,
.teaser_blue .header_normal_left_bg,
.teaser_blue_right .header_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

.chat_box .header_normal_left_bg,
.news_box .header_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form_box .header_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

.empty_box .header_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

.header_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
  visibility: hidden;
}

.user_box .header_normal_right_bg,
.teaser_blue .header_normal_right_bg,
.teaser_blue_right .header_normal_right_bg
 {
  float: right;
  width: 0;
  height: 0;
  visibility: hidden;
}

.chat_box .header_normal_right_bg,
.news_box .header_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form_box .header_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
  visibility: hidden;
}

.empty_box .header_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
  visibility: hidden;
}

.header_normal {
  padding: 0;
  height: 20px;
}

.user_box .header_normal,
.teaser_blue .header_normal,
.teaser_blue_right .header_normal {
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.chat_box .header_normal ,
.news_box .header_normal {
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form_box .header_normal {
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.empty_box .header_normal {
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

p.header_font_normal, span.header_font_normal {
  padding: 8px 0 0 10px;
  font-size: 10pt;
  text-decoration: none; font-weight: bold;
  color:#505050; 
}

.empty_box span.content_font_normal{
	padding: 0;
}

.empty_box .header_font_normal{
	padding: 0;
}

.content_normal {
  padding: 0 0 3px 0;
  margin: 0;
}

.userphoto {
	display: run-in;
	width: 60px;
	height: 60px;
}

.content_normal .userimage .userphoto{
	border: 0;
	margin: 10px;
}

.content_normal .usercontact{
	margin-left: 10px;
}

.content_normal .fieldLabel{
	margin: 0 0 0 10px;
	font-size: 8pt;
	color: #000000;
}

.content_normal iframe{
	width: 97%;
	margin: 0px;
}

.content_iframe {
	margin-left: 10px;
}

.content_normal .usercontact ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.content_normal .usercontact ul li {
  margin-top: 3px; 
  padding: 0;
}

.form_box .content_normal {

}

.empty_box .content_normal {
  padding: 0 0 0 10px;
}

p.content_font_normal, p.content_font_normal p {
  padding: 10px 10px 10px 10px;
  font-size: 8pt;
  text-decoration: none;
  color:#505050; 
}

div.content_font_normal {
  padding: 10px 10px 10px 10px;
  font-size: 9pt;
  text-decoration: none;
  color:#505050; 
}

span.content_font_normal {
  padding: 20px 0 10px 10px;
  font-size: 8pt;
  text-decoration: none;
  color:#505050; 
}

#right span.content_font_normal {
  padding: 20px 0 10px 0;
  font-size: 8pt;
  text-decoration: none;
  color:#505050;
}

p.content_font_error {
  padding: 0;
  font-size: 9pt;
  text-decoration: none; font-weight: bold;
  color:#505050; 
}

.footer_normal_left_bg {
	margin-top: 0;
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form_box .footer_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

.empty_box .footer_normal_left_bg {
  float: left;
  width: 0;
  height: 0;
  visibility: hidden;
}

.footer_normal_right_bg {
	margin-top: 0;
	float: right;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form_box .footer_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
  visibility: hidden;
}

.empty_box .footer_normal_right_bg {
  float: right;
  width: 0;
  height: 0;
  visibility: hidden;
}

.footer_normal {
  margin-top: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.form_box .footer_normal {
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.empty_box .footer_normal {
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

ul{
  font-size: 8pt;
  text-decoration: none;
  color:#505050; 
}

.content_font_normal ul{
	list-style-type: none;
	padding: 0 0 0 10px;
}

.field_label {
  display: block;
  font-size: 8pt;
  color: #000000;
  padding: 3px 0 0 10px;
  margin: 0;
  text-decoration: none; font-weight: bold;
}


#UserList{
  width: 96%;
  background: #FFF none repeat scroll 0%;
  border: 0;
  height: 50px;
}
#ChatArea{
  width: 96%;
  background: #FFF none repeat scroll 0%;
  border: 0;
  height: 300px;
  overflow: auto;
}

.field, .pulldown {
  width: 500px;
  font-size: 9pt;
  text-decoration: none;
  color:#505050; 
  border: 1px solid #B4B4B4;
  margin: 3px 0 0 10px;
  display: block;
}

.pulldown_inline {
  width: 500px;
  font-size: 9pt;
  text-decoration: none;
  color:#505050; 
  border: 1px solid #B4B4B4;
  margin: 3px 0 0 10px;
  display: inline;
}


.dateField {
	margin-left: 10px;
}

.uploadField {
	margin-left: 10px;
}

.checkbox {
  margin: 0 3px 0 0;
}

.fieldCheckBox {
  margin: 0 3px 0 0;
}

.field_error {
  display: block;
  font-size: 9pt;
  color: #FF0000;
  padding: 0 0 0 10px;
  text-decoration: none;
}

.requiredAsterix {
	color: #b80000;
}

.form_submit {
  width: 100px;
  height: 23px;
  font-size: 9pt;
  text-decoration: none; font-weight: bold;
}

.pulldown_inline{
	margin-left: 0;
	margin-right: 10px;
	display: inline;
}

.tablenavigator{
}

.tablenavigator table.paginator{
	margin-left: 6px;
	width: 200px;
	height: 15px;
}

span.table_data_info {
	text-align:right;
	font-size: 7pt;
	font-family: Verdana, Arial;
	margin: 0 10px 0 10px;
}

#center .tablenavigator table.paginator td{
	font-size: 9pt;
	color: #797979;
	font-weight: bold;
	font-decoration: none;
	padding: 2px;
	background: #FFFFFF none repeat scroll 0%;
}

#center .tablenavigator table.paginator td a{
	font-size: 9pt;
	color: #797979;
	font-weight: bold;
	font-decoration: none;
}

#center .tablenavigator table.paginator td.active{
	background: #D0D0D0 none repeat scroll 0%;
}

.button_warning {
  font-size: 9pt;
  text-decoration: none; font-weight: bold;
  border: 1px solid #888;
  margin-right: 10px; 
  background-color: #bb0000;
  color: #fff;
}

.button_warning:hover {
  background-color: #ff0000;
}

  
td input.button, .button_unlink, .button_link, .button_remove, .button_edit, .button_remove, .button_profile {
  	width: 79px;
	height: 17px;
	margin: 2px 5px 2px 0;
	padding: 0;
	background: transparent url(../img/button_70_normal.png) 0px 0px no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 7pt;
  	text-decoration: none; 
  	font-weight: normal;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
	filter:DropShadow(color=#FFF, offx=1, offy=1)
}

td .remove_shortcut_button
	{
	width: 121px;
	height: 17px;
	margin: 2px 5px 2px 0;
	padding: 0;
	background: transparent url(../img/button_120_normal_remove.png) 0px 0px
		no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 7pt;
	text-decoration: none;
	font-weight: normal;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
	filter: DropShadow(color = #FFF, offx = 1, offy = 1)
}

td input.button:hover,.button_unlink:hover,.button_link:hover,.button_remove:hover,.button_edit:hover,.button_remove:hover,.button_profile:hover
	{
	background: transparent url(../img/button_70_hover.png) 0px 0px
		no-repeat;
}

td .remove_shortcut_button:hover
	{
	background: transparent url(../img/button_120_hover_remove.png) 0px 0px
		no-repeat;
}

.button_save, .button_send, .button_cancel, .button_back, .button_continue {
  	width: 121px;
	height: 23px;
	margin-left: 10px;
	padding: 0;
	background: transparent url(../img/button_120_normal.png) 0px 0px no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
  	text-decoration: none; 
  	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

.button_save:hover, .button_send:hover, .button_cancel:hover, .button_back:hover, .button_continue:hover {
  	background: transparent url(../img/button_120_hover.png) 0px 0px no-repeat;
}

.button_warning {
  	width: 121px;
	height: 23px;
	margin-left: 10px;
	padding: 0;
	background: transparent url(../img/button_120_red.png) 0px 0px no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
  	text-decoration: none; 
  	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

.button_warning:hover {
  	background: transparent url(../img/button_120_hover_red.png) 0px 0px no-repeat;
}

.button, .button_add, .button_login {
	display:inline;
  	width:151px;
	height:23px;
	margin-right:10px;
	padding:0;
	background:transparent url(../img/button_140_normal.png) 0px 0px no-repeat;
	border:0;
	font-color:#313131;
	font-size:8pt;
  	text-decoration:none; 
  	font-weight:bold;
	overflow:hidden;
	cursor:pointer;
	cursor:hand;
	outline-style:none;
}

.button:hover, .button_add:hover, .button_login:hover {
  	background: transparent url(../img/button_140_hover.png) 0px 0px no-repeat;
}

.button_big {
	display: inline;
  	width: 211px;
	height: 23px;
	margin-left: 10px;
	padding: 0;
	background: transparent url(../img/button_180_normal.png) 0px 0px no-repeat;
	border: 0;
	font-color: #313131;
	font-size: 8pt;
  	text-decoration: none; 
  	font-weight: bold;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	outline-style: none;
}

.button_big:hover {
	background: transparent url(../img/button_180_hover.png) 0px 0px no-repeat;
}


table {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: scroll;
}

.table_header{
	font-size: 8pt;
	color: #505050;
}

.table_header a img {
	display: inline;
}

th {
  margin: 1px;
  padding: 3px 8px 3px 8px;
  text-align: left;
  font-size: 8pt;
  font-weight: bold;
  color: #4C4C4C;
  background: #E3EDCF;
}

.even td{
	background-color: #F0F0F0;
}

.odd td{
	background-color: #FFFFFF;
}

tr {
  	margin: 0;
}

td {
  margin: 1px;
  padding: 2px 5px 2px 5px;
  text-align: left;
  font-size: 8pt;
  font-weight: none;
  background: none;
}

#footer_center {
	vertical-align: top;
	text-align: left;
}

#footer_center label{
	font-size: 8pt;
	color: #505050;
}

#footer_center a{
	font-size: 8pt;
	color: #505050;
	text-decoration: none;
}

#footer_left {
	float: left;
	width: 190px;
	padding-left: 10px;
	vertical-align: middle;
	text-align: left;
}

#footer_right {
	float: right;
	width: 180px;
	vertical-align: middle;
	text-align: left;
}

#footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footer li{
	padding-top: 5px;
}

#footer a{
	font-size: 8pt;
	font-weight: bold;
	color: #505050;
	text-decoration: none;
}

div.university_info{
	margin-bottom: 10px;
	overflow: auto;
}

div.university_info span{
  display:block;
  padding-bottom: 0;
  padding-top:0;
}

div.institute_info{
	margin-bottom: 10px;
	overflow: auto;
}

div.institute_info span{
  display:block;
  padding-bottom: 0;
  padding-top:0;
}
	
a.sort_header {
	text-decoration: none;
}

td .user_name{
	display:block;
	margin-bottom:5px;
}

td .userphoto {
	display:block;
}

.col_post_text {
	margin: 0;
	padding: 0 5px 0 5px;
}

.col_post {
	vertical-align: top;
	margin: 0;
	padding: 0 5px 0 5px;
}

td .col_post_text .content_font_normal {
	padding: 8px 0 8px 0;
	color: #000000;
  	border-style: solid none solid none;
  	border-width: 1px;
  	border-top-color: #919191;
  	border-bottom-color: #919191;
}

td .col_post_attachments {
	color: #505050;
	padding: 0 5px 0 5px;
}

td .col_post_attachments .content_font_normal {
	padding: 3px 0 0 0;
	font-weight: bold;
	color: #000000;
}

.col_post_author{
	vertical-align: top;
	width: 100px;
	margin: 0;
}

td .col_post_date{
	width: 150px;
	padding: 0 0 0 5px;
	margin: 0;
}

td .col_post_commands{
	width: 270px;
	padding: 0;
	margin: 0;
}

td .col_post_title {
	padding: 0;
	margin: 0;
}

td .pulldown_small {
  display: block;
  width: 100px;
  margin-left: 2px !important;
  font-size: 9pt;
  text-decoration: none;
  color:#505050; 
  border: 1px solid #B4B4B4;
  margin: 1px 0 3px 10px; 
}

td.col_commands {
	width: 50px;
}


td.col_commands_two {
	width: 172px;
}

td.col_commands_three {
	width: 258px;
}

td.col_min_left {
	width: 110px;
	text-align: left;
}

td.col_date {
	width: 100px;
	text-align: center;
}

td.col_filesize {
	width: 60px;
	text-align: right;
}

td.col_min_center {	
	width: 5px;
	text-align: center;
}

td.col_max_left {
	width: auto;
	text-align: left;
}

td.col_max_left label{
	display: inline;
}

td.col_max_left label input{
	display: inline;
}

.news_publisher {
	font-weight: bold;
}

.news_date {
	color: #000;
	font-weight: bold;
}

.news_title {
	color: #333;
	font-weight: normal;	
	padding-left: 5px;
	padding-right: 5px;
}

.table_scroll {
	overflow: auto;
}

.jscalendar-WH-table-style {
    font-family:arial;
    font-size:11px;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    color:#000000;
	background-color: #ffffff;
}

.jscalendar-WH-div-style {
	z-index: 999;
	position: absolute;
	visibility: hidden;
}

.jscalendar-WH-title-style {
    padding:2px;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    color:#000000;
}

.jscalendar-WH-title-background-style {
	background-color: #EEEEEE;
}

.jscalendar-WH-title-control-normal-style {
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	cursor: pointer;
}

.jscalendar-WH-title-control-select-style {
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	cursor: pointer;
}

.jscalendar-WH-dropdown-style {
	font-family: arial;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EEEEEE;
	cursor: pointer;
}

.jscalendar-WH-dropdown-select-style {
	background-color: #F3F3F3;
	width: 20px;
}

.jscalendar-WH-dropdown-normal-style {
	background-color: inherit;
}

.jscalendar-WH-body-style {
	background-color: #FFFFFF;
	font-family: verdana;
	font-size: 10px;
}

.jscalendar-WH-current-day-style {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

.jscalendar-WH-end-of-weekday-style {
	color: #909090;
	text-decoration: none;
}

.jscalendar-WH-normal-day-style {
	color: black;
	text-decoration: none;
}

.jscalendar-WH-would-be-selected-day-style {
	background-color: #EEEEEE;
}

.jscalendar-WH-selected-day-style {
	border-style: solid;
	border-width: 1px;
	border-color: #a0a0a0;
}

.jscalendar-WH-holiday-style {
	background-color: #FFDDDD;
}

.jscalendar-WH-today-style {
	padding: 0px;
	color: black;
	background-color: #f0f0f0;
	text-align: center;
	text-decoration: none;
}

.jscalendar-WH-today-lbl-style {
	padding: 5px;
	text-align: center;
}

.jscalendar-WH-weeknumber-div-style {
	background-color: #d0d0d0;
	padding: 0px;
}

.jscalendar-DB-body-style td{
	padding: 2px;
}

.jscalendar-DB-table-style {
	position: absolute;
	left: 0px;
    font-family:arial;
    font-size:11px;
    border-width:1px;
    border-style:solid;
    border-color:#a0a0a0;
	background-color: #ffffff;
}

.jscalendar-DB-div-style {
	z-index: +999;
	position: absolute;
	visibility: hidden;
}

.jscalendar-DB-title-style {
    padding:1px;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    color:#FFFFFF;    
}

.jscalendar-DB-title-background-style {
	background-color: #0000aa;
}

.jscalendar-DB-title-background-style td{
	padding: 2px;
}

.jscalendar-DB-title-control-normal-style {
	border-style: solid;
	border-width: 1px;
	border-color: #3366FF;
	cursor: pointer;
}

.jscalendar-DB-title-img-normal-style {
	cursor: pointer;
}

.jscalendar-DB-title-control-select-style {
	border-style: solid;
	border-width: 1px;
	border-color: #88AAFF;
	cursor: pointer;
}

.jscalendar-DB-title-img-select-style {
	cursor: pointer;
}

table.jscalendar-DB-dropdown-style{
	width: 20px;
	margin: 5px 0 0 7px;
	font-family: arial;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #a0a0a0;
	background-color: #FFFFDD;
	cursor: pointer;
}

.jscalendar-DB-dropdown-select-style {
	background-color: #FFCC99;
}

.jscalendar-DB-dropdown-normal-style {
	background-color:inherit;
}

.jscalendar-DB-body-style {
	background-color: #FFFFFF;
	font-family: verdana;
	font-size: 10px;
}

.jscalendar-DB-current-day-style{
	color: red;
	font-weight: bold;
	text-decoration: none;
}

.jscalendar-DB-end-of-weekday-style {
	color: #909090;
	text-decoration: none;
}

.jscalendar-DB-normal-day-style {
	color: black;
	text-decoration: none;
}

.jscalendar-DB-would-be-selected-day-style {
	background-color: #EEEEEE;
}

.jscalendar-DB-selected-day-style {
	border-style: solid;
	border-width: 1px;
	border-color: #a0a0a0;
}

.jscalendar-DB-holiday-style {
	background-color: #FFDDDD;
}

.jscalendar-DB-today-style {
	padding: 0px;
	color: black;
	background-color: #f0f0f0;
	text-align: center;
	text-decoration: none;
}

.jscalendar-DB-today-lbl-style {
	padding: 5px;
	text-align: center;
}

.jscalendar-DB-weeknumber-div-style {
	background-color: #d0d0d0;
	padding: 0px;
	width: 1px;
}

.jscalendar-DB-div-style table{
	width: 250px;
	margin: 0;
	padding: 0;
}

table.jscalendar-DB-dropdown-style{
	position: absolute;
	left: 0px;
	width: 50px;
	margin: 0;
	padding: 0;
}

.jscalendar-DB-title-background-style td{
	background-color: #0000AA;
}

#extended_search_link_padding {
	padding: 5px;
}

/* WIKI STYLES */

.wiki_content ul {
  list-style-type: disc;
  margin: 0; 
  padding: 0;
}